{% block head %}
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

<div class="carousel-container">
	<div class="active-image">
		<p class="active-title">
			<br><i class="active-description"></i>
		</p>			

		<div id="dot-container">
			{% for n in carouselNews %}
				<input id="carousel-item-{{ n['num'] }}" type="radio" name="carousel-dots">
				<label for="carousel-item-{{ n['num'] }}">{{ n['num'] }}</label>
			{% endfor %}
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script type="text/javascript">
	var data_container = {{carouselNews|tojson|safe}};
	cycleImages(data_container);
</script>