{% block head %}
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
{% endblock %}

<div class="carousel-container">
	<div class="active-image">
		<p class="active-title">
			<br><i class="active-description"></i>
		</p>			

		<div id="dot-container">
			<!-- Dynamically generate these later -->
			<input id="carousel-item-1" type="radio" name="carousel-dots">
			<label for="carousel-item-1">Go to item 1</label>

			<input id="carousel-item-2" type="radio" name="carousel-dots">
			<label for="carousel-item-2">Go to item 2</label>

			<input id="carousel-item-3" type="radio" name="carousel-dots"> 
			<label for="carousel-item-3">Go to item 3</label>

			<input id="carousel-item-4" type="radio" name="carousel-dots">
			<label for="carousel-item-4">Go to item 4</label>
		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script type="text/javascript">
	var data_container = {{carouselNews|tojson|safe}};
	cycleImages(data_container);
</script>