<!-- Footer Page to be used later -->
<footer>
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<div class="footer">
			<table style="margin-bottom: auto;margin-top: auto;width:100%;" cellspacing="0" cellpadding="0" border="0" >
  				<tbody>
    				<tr>
					<td align="left" >
						<h4><a href="http://www1.villanova.edu/main.html" style="color: white;">VILLANOVA UNIVERSITY</a></h4>
						<p>Department of Computing Sciences</p>
						<a href="/aboutUs" style="color: white;">About Us | Contact Us</a>
						<p>Some rights reserved 
                        				<script type="text/javascript">document.write((new Date()).getFullYear());</script>
                        				<noscript></noscript>
						</p>
					</td>
      					<td align="right">
        					<a href="http://www.acm.org" target="blank"><img alt="ACM Logo" src="/static/images/acm_logo_small.gif?1453917015" /></a>
        					<a href="http://www.ncwit.org" target="blank"><img alt="NCWIT Logo" height="50" src="/static/images/ncwit_logo.gif?1453917015" width="55" /></a>
        					<a href="http://www.cra.org" target="blank"><img alt="CRA Logo" src="/static/images/cra_logo_small.gif?1453917015" /></a>
        					<a href="http://www.csta.acm.org" target="blank"><img alt="CSTA Logo" src="/static/images/csta_logo_small.gif?1453917015" /></a>
      					</td>
    				</tr>
  				</tbody>
			</table>
		<div>
	</div>
</footer>
