{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}
<h2 style="text-align:center;">Graduate Grand Challenges Topic Description Archive</h2>
<div style="padding-bottom: 20px;">Click on a semester to see the list of corresponding topics.</div>
<table>
  
  <tbody><tr>
    <td><a href="/academics/gradIS/listAllProjects/58">Fall 2015</a></td>
    <td>&nbsp; - 8
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/57">Spring 2015</a></td>
    <td>&nbsp; - 36
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/56">Fall 2014</a></td>
    <td>&nbsp; - 22
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/55">Spring 2014</a></td>
    <td>&nbsp; - 23
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/54">Fall 2013</a></td>
    <td>&nbsp; - 15
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/53">Spring 2013</a></td>
    <td>&nbsp; - 15
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/52">Fall 2012</a></td>
    <td>&nbsp; - 12
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/51">Spring 2012</a></td>
    <td>&nbsp; - 15
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/50">Fall 2011</a></td>
    <td>&nbsp; - 25
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/47">Summer 2011</a></td>
    <td>&nbsp; - 10
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/46">Spring 2011</a></td>
    <td>&nbsp; - 19
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/43">Summer 2010</a></td>
    <td>&nbsp; - 3
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/42">Fall 2010</a></td>
    <td>&nbsp; - 13
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/41">Spring 2010</a></td>
    <td>&nbsp; - 8
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/40">Fall 2009</a></td>
    <td>&nbsp; - 19
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/39">Summer 2009</a></td>
    <td>&nbsp; - 4
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/36">Spring 2009</a></td>
    <td>&nbsp; - 16
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/35">Fall 2008</a></td>
    <td>&nbsp; - 19
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/34">Summer 2008</a></td>
    <td>&nbsp; - 2
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/31">Spring 2008</a></td>
    <td>&nbsp; - 26
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/30">Fall 2007</a></td>
    <td>&nbsp; - 20
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/29">Summer 2007</a></td>
    <td>&nbsp; - 6
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/26">Spring 2007</a></td>
    <td>&nbsp; - 30
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/25">Fall 2006</a></td>
    <td>&nbsp; - 23
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/21">Spring 2006</a></td>
    <td>&nbsp; - 18
      
      projects
      
    </td>
  </tr>
  
  <tr>
    <td><a href="/academics/gradIS/listAllProjects/16">Spring 2005</a></td>
    <td>&nbsp; - 1
      
      project
      
    </td>
  </tr>
  
</tbody>
</table>
{% block footer %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}