{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
{% endblock %}

<div id="nav-switch"><i class="icon ion-navicon-round"></i></div>

<ul id="nav">

  <li class="nav-item">
    <a href="/aboutUs">About Us</a>
    <ul class="subnav">
      <li class="subnav-item"><a href="/aboutUs">General Information</a></li>
      <li class="subnav-item"><a href="/aboutUs/mission">Mission and Goals</a></li>
      <li class="subnav-item"><a href="/aboutUs/facStaff">Faculty and Staff</a></li>
      <li class="subnav-item"><a href="/aboutUs/prospective">Prospective Students</a></li>
      <li class="subnav-item"><a href="/research/soon">Images</a></li>
      <li class="subnav-item"><a href="/research/soon">Alumni</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/academics">Academics</a>
    <ul class="subnav">
      <li class="subnav-item"><a href="/academics">Overview</a></li>
      <li class="subnav-item"><a href="/academics/undergraduate">Undergraduate</a></li>
      <li class="subnav-item"><a href="/academics/graduate">Graduate</a></li>
      <li class="subnav-item"><a href="/academics/bsms">BS/MS 5-Year</a></li>
      <li class="subnav-item"><a href="/academics/other">Other Programs</a></li>
      <li class="subnav-item"><a href="/academics/courses">Course Information</a></li>
      <li class="subnav-item"><a href="/support">Support</a></li>
      <li class="subnav-item"><a href="/academics/academicIntegrity">Academic Integrity</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/research">Research</a>
    <ul class="subnav">
      <li class="subnav-item"><a href="/research">Overview</a></li>
      <li class="subnav-item"><a href="/research/interests">Faculty Interests</a></li>
      <li class="subnav-item"><a href="/research/projects">Projects</a></li>
      <li class="subnav-item"><a href="/research/soon">Graduate IS Topics</a></li>
      <li class="subnav-item"><a href="/research/undergradresearch">Undergrad Research</a></li>
      <li class="subnav-item"><a href="/research/technicalreports">Technical Reports</a></li>
      <li class="subnav-item"><a href="http://ceet.villanova.edu">CEET</a></li>
      <li class="subnav-item"><a href="http://www1.villanova.edu/villanova/artsci/ceet/cave.html">The Cave</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/opportunities">Opportunities</a>
    <ul class="subnav">
      <li class="subnav-item"><a href='/opportunities'>Overview</a></li>
      <li class="subnav-item"><a href='/opportunities/activities'>Student Activities</a></li>
      <li class="subnav-item"><a href='/opportunities/vics'>VICS Scholarships</a></li>
      <li class="subnav-item"><a href='/opportunities/vatican'>The Vatican Internship</a></li>
      <li class="subnav-item"><a href='/opportunities/gradasst'>Graduate Assistants</a></li>
      <li class="subnav-item"><a href='/opportunities/other'>Other Jobs/Internships</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/news">News and Events</a>
    <ul class="subnav">
      <li class="subnav-item"><a href='/news'>News</a></li>
      <li class="subnav-item"><a href='/news/soon'>Colloquia</a></li>
      <li class="subnav-item"><a href='/news/soon'>Alerts</a></li>
      <li class="subnav-item"><a href='/news/soon'>Newsletter Archive</a></li>
      <li class="subnav-item"><a href="https://go.activecalendar.com/Villanova">Campus Events</a></li>
    </ul>
  </li>
</ul>

{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
{% endblock %}
