{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

<h3>Trends in Datawarehousing</h3>
  <p><strong>Author:</strong> Shailaja Koppishetty</p>
  <p><strong>Advisor:</strong> Dr. Tom Way</p>
  <p><strong>Description:</strong> Data warehousing is a concept where data is organized in such a way that it is conducive for performing analytics. Over the last decade various parameters dictated the way data warehouses  are designed. This would include cost of storage, CPU capabilities, memory costs, size of data and scalability. This paper addresses the advantages of various methodologies used over the past decade and how each methodology addressed shortcomings of other technologies based on the parameters mentioned above.  Methodologies include ETL, ELT and Big Data.
</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
