{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>CSC 9025 Grand Challenges (GC) - Advisors</h2>

It is the student's responsibility to arrange for an advisor and a topic. You must have an advisor and topic determined within two weeks of the start of the semester. Failure to do this may result in you being dropped from the course. Your advisor will guide your study and assign your final grade.

<p>Feel free to contact potential advisors at any time to discuss their availability and potential topics. It is best NOT to wait 
until the last minute to approach potential advisors and to determine a topic. In fact it is a good idea from the very start of your course work at Villanova to begin to establish connections with potential advisors and to consider potential topics. At the very least you should be in discussion with potential advisors towards the end of the semester prior to your GC.</p>

<p>Most instructors of Villanova CSC graduate courses may serve as a GC advisor. Both full-time and adjunct instructors may serve as advisors. When you contact a potential advisor, have a couple of topics in mind. Try to be as specific as possible. What question do you want to answer? What problem do you want to solve? Don't hesitate to "shop around" for the right advisor/topic combination. Sometimes an advisor will have projects they are willing to present as options, but you should always have some ideas of your own. Please act professionally during your search for an advisor. If you contact more than one potential advisor at a time with the same proposal, be sure to make that clear to each of them at that time.</p>

<p>Keep in mind that sometimes a particular advisor may not be available to work with you. You therefore must not delay the process of arranging for your advisor and topic. You may have to talk to several potential advisors. If you have trouble finding an advisor and topic, contact the faculty listed as instructors of your GC course for help.</p>   

<p>The student/advisor interaction throughout the project varies by advisor and even from project to project. Some advisors will insist on having regular meetings with you, or that you deliver status reports on a regular basis. Some require you to maintain a project web site that they can check when they want to. Other advisors are content to let the project be truly independent, and have you contact them as needed when you have questions. In fact, some advisors will treat some projects one way and other projects another, based on the particular topics, the needs of the student, and the advisor's interests. Make sure you clearly understand your advisor's expectations.
</p>

 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
