{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

 <h2>Graduate Grand Challenges - Academic Integrity</h2>



<p>Please read this page carefully! Do NOT assume you know what it says!</p>



<p>The integrity of the work you submit for your Grand Challenges project

  will be held to the highest standards. It is your responsibility to understand

  what is and what is not acceptable concerning the content of your work and

the use of previous work. When in doubt, consult your advisor!</p>



<p>Please visit and study the material on the university's 

  <a href="http://www.library.villanova.edu/academic_integrity/"

     target="_blank">Academic Integrity Gateway</a>. Familiarize

  yourself with both the Academic Integrity Code and the Academic Integrity Policy.

  Be sure to take the interactive quiz before leaving the site. You should

  also review the department <a href="/academics/academicIntegrity">

academic integrity page</a>.</p>



<p>A Grand Challenges project requires that you integrate and synthesize

  information from various sources. We don't expect every idea in your work

to be your own. But we do require that you give credit where credit is due.</p>



<p>It is important that you and your advisor have a clear understanding of

  the goals of the project relative to the use of previous work. Sometimes

  the primary goal of a project is to investigate and report on the work of

  other people. In other cases, previous work is the springboard from which

  you launch your own efforts. Discuss this balance carefully with your 

advisor.</p>



<p>For a Grand Challenges project, academic integrity issues include

the following:</p>



<ul class="long">

  <li>In your final report you must cite any source of information that

    contributes to the work performed for your project, and you must list

  the full reference in the bibliography. </li>

  <li>You must identify any words taken directly from previous work as

    a quotation. This may be accomplished using quotation marks or by

    indenting the quotation, with the surrounding text clearly indicating

    that those words are taken from another source. You should minimize

    your use of direct quotes. In general, you should integrate information

    into the running flow of your report, expressed in your own words.

    That synthesis is part of the learning process. Note that even when

    you express the ideas in your own words, you must cite the original

  source of the information. </li>

  <li>Any software written as part of your Grand Challenges project

    must be your own work, or must be clearly identified as someone else's

    work in both the online documentation of the source code and in the

  Grand Challenges final report.</li>

</ul>



<p>Unfortunately, we've had a few students in the past violate the principles

  of academic integrity during their Grand Challenges project work. In these

  cases the students received a failing grade for the course and we have

  submitted them for disciplinary action at the university level. We take

academic integrity very seriously. You should as well.</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
