{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

   <h2>Graduate Grand Challenges - Awards</h2>





              

<p>The Graduate Grand Challenges Award was instituted in 2001. Since that time,

  each Spring, the department Graduate Committee selects

  one outstanding Grand Challenges project for an award. All Grand Challenges

  projects completed

  in the previous calendar year are eligible for the award. 

  The award is announced during

  the spring departmental graduation ceremony. In addition to the citation 

in the departmental graduation brochure, the awardee receives a nice plaque.</p>



<h3>Past Award Winners</h3>



<!-- Draw this info from database and present it nicely?? -->



<ul>

  <li>2006 - Kristin Obermeyer: 

  </li>

  

  <li>2005 - Bryan Wagner: 

  </li>

  

  <li>2004 - Jason M. Lenthe: 

  </li>

  

  <li>2003 - Lixi Fu: 

  </li>

  

  <li>2002 - Matthew S. Schell: 

  </li>

  

  <li>2001 - Norene Malaney: 

  </li>

</ul>		


 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
