{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h3>Project Management: A study on why most of the Software projects fail ?</h3>
  <p><strong>Author:</strong> Kalyan Ram Vuthunori</p>
  <p><strong>Advisor:</strong> Dr. Thomas Wise</p>
  <p><strong>Description:</strong> What does failure of a project mean? Does that mean failure in successful completion of project? Does that mean improper management of the project? Does that mean failing to reach the timelines demanded by the client? Does that mean failure in not reaching the objectives and goals of the project? So, what does it mean exactly? This paper gives us an idea on what exactly failure of a project mean. We discuss about the reasons behind a software project failure and we give solutions for each of the mentioned reasons. We also discuss the factors effecting the failure and success behind a software project. The paper includes the importance of each individual role in successful completion of a project. Finally, we give the best processes to be followed during the key stages of a project. </p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
