{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

 <h2>Graduate Grand Challenges - Contacts</h2>





<p>Your best resource concerning your Grand Challenges project is your

  advisor, to whom you should direct all questions regarding the content,

  approach, and execution of your project. Other questions can be

directed to the most appropriate person below:</p>



<ul>

  <li>

    <p>Dr. Daniel Joyce

      is the graduate <em>Grand Challenges Coordinator</em>. He administers

      the GC course (CSC 9025),

    and can assist you with the process of finding an advisor and topic.</p>

    <ul>

      <li><a href="mailto:daniel.joyce@villanova.edu">daniel.joyce@villanova.edu</a></li>

      <li>610-519-7344</li>

    </ul>

  </li>

  

  <li>

   

    <p>Dr. Vijay Gehlot</a>

      is the <em>Director of the Graduate Program</em> in the Department of

      Computing Sciences. He manages all aspects of the department's graduate

    courses and administration.</p>

    <ul>

      <li><a href="mailto:vijay.gehlot@villanova.edu">vijay.gehlot@villanova.edu</a></li>

      <li>610-519-5843</li>

    </ul>

  </li>

  

  <li>

   

    <p>Ms. Adele Ballard</a>

      is the <em>Administrative Assistant</em>. She can help you with the process 

    of course registration and other inquiries.</p>

    <ul>

      <li><a href="mailto:adele.ballard@villanova.edu">adele.ballard@villanova.edu</a></li>

      <li>610-519-7310</li>

    </ul>

  </li>

  

  <li>

    

    <p>>Dr. Lillian Cassel</a>

      is the <em>Chair of the Department of Computing Sciences</em>, overseeing

    all graduate and undergraduate programs.</p>

    <ul>

     <li><a href="mailto:lillian.cassel@villanova.edu">lillian.cassel@villanova.edu</a></li>

      <li>610-519-7341</li>

    </ul>

  </li>

</ul>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
