{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

<h3>Defining a Software Architecture Supporting Visualization of the x86 Execution Stack in Near Real-Time</h3>
  <p><strong>Author:</strong> Kevin Cloutier</p>
  <p><strong>Advisor:</strong> Dr. Mirela Damian</p>
  <p><strong>Description:</strong> The majority of collegiate Computer Science curricula contain a course often known as Computer Systems or Principles of Computer Systems. This course provides a foundation in the study of Computer Science ranging from numerical systems to processor architecture. Often, much attention is devoted to Assembly Language and understanding low level programming techniques. 

The nature of computing and the speed at which it occurs makes visualizing the process difficult. The lack of software tools in this area leave students utilizing pencil and paper to trace simple logical constructs that quickly become tedious and error-prone while often reinforcing memory over understanding. The goal of this study is to define a software architecture proving visualization of the Stack can be achieved in near real-time while allowing the user to determine the rate of execution to better understand changes to memory, registers, and more.
</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
