{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>Graduate Grand Challenges - Extensions</h2>





<p>A Grand Challenges project is expected to be completed in one semester.

  These projects, however, sometimes have unforeseen obstacles that must be

  overcome. We don't want the strict semester boundaries to prevent you from

  addressing such problems. We prefer you to have a high-quality final result.

  Therefore, if the situation dictates and your advisor approves, we will 

  grant an extension of your project into the following semester. 

In extremely rare cases we may grant a second extension. </p>



<p>However, extensions will NOT be granted because you procrastinated,

  have a trip to go on, or got busy at work. Extensions are not automatic.

  An extension will be granted only if you've made steady progress on your

project but have some outstanding issues to address.</p>



<p>If you wish to be considered for an extension, you must contact your

  advisor at least two weeks before the end of the semester and explain your

  situation. If your advisor approves, he or she will let the GC Coordinator

  know that you will receive an extension. If your advisor does not approve

  the extension, you must submit whatever materials you have ready and your

advisor will base your course grade on those.</p>



<p>If you are granted an extension, you will receive a temporary grade of

  IP (in progress) for the CSC

  9025 Grand Challenges course. You must then sign up for 

  another course in the next semester: 

  CSC 9021 - Independent Study Continuation. This course keeps

your records active. There is only a general fee for this course.</p>



<p>The only grade you will receive for the IS Continuation course

  (CSC 9021) is

  Satisfactory (S) or Unsatisfactory (U). The grade of IP for the original

  course (CSC 9025)

  in its original semester will eventually be changed to the final grade for

  your project. The change-of-grade paperwork often takes a few weeks to take

  effect. If in the interim you need proof that you have completed the

  requirements for your degree, contact the Department of Computing Sciences

main office.</p>



<p>If you are granted an extension, you are allowed to use the entire

  following semester to complete your work. However, you don't have to take

  that long. Whenever you complete the work you may submit it to your advisor.

  After your advisor evaluates your work and submits your grade to the GC

  Coordinator, we will submit your change of grade to the registrar. If you

  do not complete your GC project by the end of two consecutive semesters,

  you will be dropped from the course and have to sign up for it again in

a future semester, paying full tuition.</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
