{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

 <h3>A practical exploration of unit testing</h3>
  <p><strong>Author:</strong> Kristin Obermyer</p>
  <p><strong>Advisor:</strong> Dr. Dan Joyce</p>
  <p><strong>Description:</strong> This project will explore unit testing from a practical standpoint by examining unit testing practices at a local software company.  Gaps in code coverage provided by the company's existing unit test suite will be analyzed to identify and categorize common faults in its current unit testing approach.  Techniques to close these gaps, and thereby improve code coverage, will be researched.  This research may include both the application of techniques described in the computing literature and the evaluation of unit testing tools.  The final report will make pragmatic recommendations on how to enhance the effectiveness of unit testing at the company based on this analysis and research.
</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
