{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

    <h2>Graduate Grand Challenges</h2>


<p>
Many graduate students in the Department of Computing Sciences decide to undertake a Grand Challenges (GC) project. These pages describe the Grand Challenges course and the steps a student must follow to complete a successful project.
</p>

<h3>Information</h3>
<ul>
  <li><a href="/gradGC/overview">Overview</a></li>
  <li><a href="/gradGC/topics">Topics</a></li>
  <li><a href="/gradGC/ai">Academic Integrity</a></li>
  <li><a href="/gradGC/evaluation">Evaluation</a></li>
  <li><a href="/gradGC/extensions">Extensions</a></li>
  <li><a href="/gradGC/to">Thesis Option</a></li>
  <li><a href="/gradGC/awards">Grand Challenges Award</a></li>
  <li><a href="/gradGC/contacts">Contacts</a></li>
</ul>      

<h3>Resources</h3>
<ul>
  <li><a href="http://hawk.csc.villanova.edu/~IndStudy/titlePageTemplate.doc">Title Page Template</a></li>
  <li><a href="/gradGC/soon">Project Description Archive</a></li>
</ul>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
