{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

 <h3>Improving Bounds on the Spanning Ratio of Yao4 graphs </h3>
  <p><strong>Author:</strong> Naresh Nelavalli</p>
  <p><strong>Advisor:</strong> Dr. Mirela Damian</p>
  <p><strong>Description:</strong> In computational geometry Yao graph is a weighted undirected graph where each node connects other node holding to property that,their shortest path is always constant factor of its Euclidean distance. Goal of this research paper is to reduce the Spanning ratio of Yao4 geometrical graphs. </p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
