{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h3>Customer Profiling and Knowledge Discovery Using Big Data Techniques</h3>
  <p><strong>Author:</strong> Matthew Sisco</p>
  <p><strong>Advisor:</strong> Dr. Paul Schragger</p>
  <p><strong>Description:</strong> The consumer market industry is becoming more and more focused on the data that drives new customer adoption as well as current customer decisions. This type of data includes customer history, demographics and interests and more. Big Data analytics is an emerging key component to the consumer ecosystem. I plan on researching the types of techniques used for consumer knowledge discovery such as clustering, linear regression and predictive algorithms and applying them on a publicly available dataset provided through The Fourth International Conference on Knowledge Discovery and Data Mining. This will focus on hidden correlations that only these types of analysis can discover when taking into consideration the relationships between different data points. The result will be a demonstration of the best Big Data analytic techniques for consumer knowledge discover as well as the types insights that can be made through these tools.</p>

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
