{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>CSC 9025 Grand Challenges - Overview</h2>

<p>Many graduate students in the Department of Computing Sciences undertake a Grand Challenges (GC) project. Typically this is one of the last courses a student takes, so that it can build upon the material of the other courses. During your GC course you will work independently, with guidance from an advisor, on a topic that you and your advisor have determined.

<h3>Advisors and Topics</h3>
It is your responsibility to arrange for an <a href="/gradGC/advisors">advisor</a> and a <a href="/gradGC/topics">topic</a>
for your GC project. <em>You must have an advisor and topic determined within two weeks of the start of the semester .</em> Failure to do this may result in you being dropped from the course.

<p>Feel free to contact potential advisors at any time to discuss their availability and topic ideas. It is best NOT to wait 
until the last minute to approach potential advisors and to determine a topic. In fact it is a good idea from the very start of your course work at Villanova to begin to establish connections with potential advisors and to consider potential topics. At the very least, you should be in discussion with potential advisors towards the end of the semester prior to your Grand Challenge.</p>

<h3>Meetings</h3>
Each semester will start with an early meeting for all GC students, to review the process and rules. Subsequent meetings are up to each student and their advisor. Students wishing to earn A grades on projects are usually expected to present their work, either in a departmental colloquium, a poster session, or some other public forum.

<h3>Workload</h3>
The amount of time required for a successful GC project will vary of course from project to project. You should dedicate at least as much time as that needed for any 3 credit course - a rough estimate is a solid 150 hours. Define a good project, work consistently on it, three to eight hours per week, communicate well with your advisor, and wrap things up by the end of the semester, and all will be well.

<h3>Deliverables</h3>
Every GC project requires that you produce an abstract for posting on the department web site and a final report; the format of the latter is up to your advisor. An electronic version of the report must be submitted to the department. If you advisor wishes to receive one or more bound copies of your report they will give you special instructions for the title page. Your advisor may also require other deliverables as well. Your advisor 
<a href="/gradGC/evaluation">evaluates</a>
your work and determines the grade you earn for the course.

<h3>Extensions</h3>
A GC project is expected to be completed in one semester. These projects, however, sometimes require a second semester. If the situation dictates and your advisor approves, we will grant an extension of your project into the following semester. Students that extend their GC must sign up for CSC 9021. 

<p>Please note that extensions are NOT granted because a student procrastinated or was "busy" doing other things. You must demonstrate satisfactory progress to be granted an extension. </p>




 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
