{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>Graduate Grand Challenges - Overview</h2>



<p>Many graduate students in the Department of 

Computing Sciences undertakes a Grand Challenges

project. Typically this is one of the last

courses a student takes, so that it can build upon

the material of the other courses. During your GC 

course you will work independently, with guidance 

from an advisor, on a topic that you and your advisor 

have determined.</p>



<p>It is your responsibility to arrange for an 

advisor and a topic

for your Grand Challenges project. Determining your 

GC topic is an interactive process. You narrow 

in on a topic by discussing various options with 

potential advisors. Feel free to contact potential advisors at 

any time to discuss their availability and 

potential topics. It is best NOT to wait 

until the last minute to approach potential

advisors and to determine a topic. In fact it is a 

good idea from the very start of your course work 

at Villanova to begin to establish connections with 

potential advisors and to consider potential topics.

Perhaps you'd like to expand on a topic covered in 

one of your classes, or investigate a related topic

in more depth -- talk to your 

instructor about the possibility while you are taking 

the course. Perhaps there is a topic that particularly 

intrigues you -- look into it more now and start looking

for an advisor that shares your interest.</p>



<p>By the time the semester of your Grand Challenges project starts

you should have some idea of your topic and advisor.

To be considered "officially" registered for the course you

must perform a 

sequence of steps:

sign up, work with your advisor to create a

topic description, post your topic description through the

department web site, and have your

advisor confirm the posted description is correct. </p>



<p>There are no required class meetings for the Grand 

Challenges project, other than the specific arrangements that you make with your advisor. However, the 

Grand Challenges coordinator may decide to hold one or more

optional meetings during the semester. It is highly recommended that

you attend such meetings.</p>



<p>A project should be roughly 

equivalent to the work load of a three credit graduate 

course, but that is a very general guideline and

is very difficult to gauge. Every Grand Challenges

project requires that you produce a final report. Be sure to 

adhere to our

<a href="/gradGC/ai">academic integrity</a>

guidelines when creating your report and to follow our

requirements with respect to the

<a href="/gradGC/frf">format of the report</a>.

Depending on the topic you work out with your advisor 

there may be other deliverables as well or you might be asked to take part in 

a poster session or other presentation. Your advisor 

<a href="/gradGC/evaluation">evaluates</a>

your work and assigns your grade for the course.</p>



<p>A Grand Challenges project is expected to be completed 

in one semester. These projects, however, sometimes have 

unforeseen obstacles that must be overcome. We don't want 

the strict semester boundaries to prevent you from 

addressing such problems. We prefer you to have a 

high-quality final result. Therefore, if the situation 

dictates and your advisor approves, we will grant an 

<a href="/gradGC/extensions">extension</a>

of your project into the following semester. 

In extremely rare cases we may grant a second extension.

Please note that extensions are NOT granted because a

student procrastenated or was "busy" doing other things.

Your GC course is a unique opportunity for you to choose

a specific topic you are interested in and study it under

the guidance of one of our excellent professors.

Be sure that you invest an appropriate amount of time into

your Grand Challenges project from the start.</p>




 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
