{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

<h2>Graduate Grand Challenges - Thesis Option</h2>


<p>There are two general approaches to getting your M.S. degree in Computer

  Science at Villanova: the non-thesis option and the thesis option. In the

  non-thesis option you take nine &quot;regular&quot; courses and the

  Grand Challenges course (CSC

  9025). In the thesis option you take eight regular courses, the

  Grand Challenges course (CSC

  9025), and the Thesis course (CSC 9030). In both cases you are taking a total of 10 courses.</p>



<p>A thesis topic is almost always an extension of the topic you pursue in

  your Grand Challenges project. A thesis requires more of a research

  perspective, and is held to even higher levels of expectation. Completing

  your degree with a thesis option is generally held in higher regard by

employers and graduate schools than the non-thesis option.</p>



<p>If you haven't already taken nine regular courses, consider the thesis

  option. Discuss the possibilities with your Grand Challenges advisor or

  with the <a href="/gradGC/contacts">GC Coordinator</a>.

  The earlier you consider the option, the easier it will be to define a

suitable topic for your thesis.</p>



<p>Students registering for the Thesis course must prepare a thesis proposal

  (3 to 5 pages). The proposal should list the goals of the thesis and

  provide an overview of the planned work. The proposal will be reviewed by

your advisor and other interested parties who will give you initial guidance.</p>



<p>Students completing the thesis option will present their work at a

colloquium for the Computing Sciences department.</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
