{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>Graduate Grand Challenges - Topics</h2>



<p>It is your responsibility to arrange for an advisor and a topic for your 

  Grand Challenges project. Determining your Grand Challenges topic is an

  interactive process. You narrow in on a topic by discussing various options

  with potential advisors. Often email is the best vehicle

for discussing potential topics.</p>



<p>Most instructors of Villanova CSC graduate courses may serve as a Grand Challenges advisor. Both full-time and adjunct instructors may serve

  as advisors. </p>



<p>When you contact a potential advisor, have a couple of topics in mind.

  Try to be as specific as possible. What question do you want to answer?

  What problem do you want to solve? Don't hesitate to &quot;shop around&quot;

  for the right advisor/topic combination. Sometimes an advisor will have

  projects they are willing to present as options, but you should always

  have some ideas of your own. Please act professionally during your search

  for an advisor. If you contact more than one potential advisor at a time

  with the same proposal, be sure to make that clear to each of them at that

time.</p>



<p>Keep in mind that sometimes a particular advisor may not be available

  to work with you. Some advisors get swamped with students and have a limit

  on the number of new students they can handle per semester. Sometimes an

  advisor is on sabbatical leave, and some advisors do not take on new Grand Challenges students during the summer semesters. Furthermore an advisor may

  simply decide that they are unwilling to work in a particular topic area

  if they feel you would be better served with someone else. You therefore 

  must not delay the process of arranging for your advisor and topic. You

  may have to talk to several potential advisors. If you have trouble finding

  an advisor and topic, contact the <a href="/gradGC/contacts">

Grand Challenges Coordinator</a> for help.</p>



<p>There is no such thing as a typical Grand Challenges project, though

there are three general categories:</p>



<ul>

  <li><em>Research Synthesis</em>: The project's goal is to investigate

    a particular topic in-depth. It involves a large amount of literature

    review. The final report is the main focus

    of the project and is essentially a large research paper.

    The report should not just repeat what was found in the literature. It

    should integrate the information found there in new ways to provide

    original insights. It can, and probably should, include personal 

  conjectures, opinions, and predictions. </li>

  

  <li><em>Proof-of-Concept</em>: The project revolves around the hands-on

    application of particular technologies to specific problem domains.

    The development of prototype software to demonstrate the underlying

    premise of the project is often a secondary deliverable on these types

    of projects. The final report is a comprehensive explanation and

    evaluation of the

    technologies involved, the problem areas addressed, and the results

  of the prototype development.</li>

  

  <li><em>Experimentation</em>: The project is based on a classic

    experimentation structure in which hypotheses are asserted, data is

    collected, statistics are computed, and conclusions are drawn. The

  final report is a discussion of all phases of the process.</li>

</ul>



<p>A Grand Challenges project does not have to be novel; that is, it

  doesn't have to be work that no one has ever done before. But it must be

  state-of-the-art and it must be your own effort. Make sure you read the

  section of this document on <a href="/gradGC/ai">

academic integrity</a>.</p>



<p>Your advisor will try to make sure your topic has the right scope. A Grand Challenges project should be roughly equivalent to the work load of

  a three credit graduate course, but that is a very general guideline and

is very difficult to gauge, especially at the beginning of the process.</p>



<p>The student/advisor interaction throughout the project varies by advisor

  and even from project to project. Some advisors will insist on having regular

  meetings with you, or that you deliver status reports on a regular basis.

  Some require you to maintain a project web site that they can check when

  they want to. Other advisors are content to let the project be truly

  independent, and have you contact them as needed when you have questions.

  In fact, some advisors will treat some projects one way and other projects

  another, based on the particular topics, the needs of the student, and the

  advisor's interests. Make sure you clearly understand your advisor's

expectations.</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
