{% block head %}
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<link rel="stylesheet" type="text/css" href="../static/bower_components/ionicons/css/ionicons.min.css">
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
{% endblock %}

{% extends "formFrameTemplate.html" %}
{% block content %}
<div id="login-frame">
	<form class="login-form" method="post" action="/submitLogin">
		<h1>Log In</h1>
		<label>Username: </label>
		<input type="text" name="username" id="login-username">
		<br>
		<label>Password: </label>
		<input type="password" name="password" id="login-password">
		<br><br>
		<button type="submit" class="login-submit">Submit</button>
	</form>
</div>
{% endblock %}