
{% extends "formFrameTemplate.html" %}
{% block title %}Alerts Editor{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alertEditor.css') }}">
{% endblock %}

{% block content %}
<div id="ae-creator">

	<div class="editor">
    <div class="toolbar">
        <span id="btnedit-bold" class="btnedit" title="Bold text"><img src="/static/images/bold.png" /></span>
        <span id="btnedit-italic" class="btnedit" title="Italic text"><img src="/static/images/italic.png" /></span>
        <span id="btnedit-underline" class="btnedit" title="Underline text"><img src="/static/images/underline.png" /></span>
        <span id="divider">&nbsp;</span>
        <span id="btnedit-link" class="btnedit" title="Insert link"><img src="/static/images/link.png" /></span>
    </div>
    <textarea id="ae-new-content" name="editor-preview" class="area" placeholder="Enter Alert Text" maxlength="175"></textarea>
    <span id="helper"><i>*For bold, italics, and underline: highlight text you want to edit, then click the appropriate button</i></span>
	</div>
	<p>&nbsp;</p>
	<div class="editor-preview"></div>

	<div id="prompt" style="display: none; padding-bottom: 30px;">
	    <div class="prompt-background"></div>
	    <div class="prompt-dialog">
	        <div class="prompt-message">
	            <p><b>Insert Hyperlink</b></p>
	        </div>
	        <form class="prompt-form">
	            <p>Replacement Text</p>
	            <input id="btnedit-title" type="text" style="display: block; width: 80%; margin-right: auto; margin-left: auto;">
	            <p>http://example.com/</p>
	            <input id="btnedit-url" type="text" style="display: block; width: 80%; margin-right: auto; margin-left: auto;">
	            <button id="btnedit-ok" class="btn-orange" onClick="$('#prompt').show();">Submit</button>
	            <button id="btnedit-cancel" class="btn-orange" onClick="$('#prompt').hide();">Cancel</button>
	        </form>
	    </div>
	</div>

	<div id="ae-new-details">
		<div>
			<span>Start Date</span>
			<input type="date" id="ae-new-start">
		</div>
		<div>
			<span>End Date</span>
			<input type="date" id="ae-new-end">
		</div>
		<div>
			<span>Your Name</span>
			<input type="text" id="ae-new-author">
		</div>
	</div>

	<div id="ae-new-buttons">
		<button type="button" id="ae-new-submit">Submit</button>
		<button type="button" id="ae-new-reset">Reset</button>
	</div>
</div>

<div id="ae-list">
	{% for a in alerts %}
		<div class="ae-container">
			<div class="ae-container-content">{{ a.content }}</div>
			<textarea class="ae-container-content-edit" maxlength="175">{{ a.content }}</textarea>
			<div class="ae-container-header">
				<a href="#" class="ae-container-edit-button">Edit</a> 
				<span>Posted by: {{ a.author }}</span>
			</div>
			<div class="ae-container-edits">
				<div>
					<span>Start Date</span>
					<input type="date" class="ae-edit-start">
				</div>
				<div>
					<span>End Date</span>
					<input type="date" class="ae-edit-end">
				</div>
				<div>
					<span>Your Name</span>
					<input type="text" class="ae-edit-author">
				</div>
			</div>

			<div class="ae-edit-buttons">
				<button type="button" class="ae-edit-cancel">Cancel</button>
				<button type="button" class="ae-edit-submit">Submit</button>
			</div>

			<div style="display:none" class="ae-hidden-id">{{ a.id }}</div>
			<div style="display:none" class="ae-hidden-start">{{ a.start_date }}</div>
			<div style="display:none" class="ae-hidden-end">{{ a.end_date }}</div>
			<div style="display:none" class="ae-hidden-author">{{ a.author }}</div>
		</div>
	{% endfor %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/alertEditor.js') }}"></script>
</div>
{% endblock %}