{% extends "second_template.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
  <h2 class="head">About Us</h2>

<p class="paragraph">The Villanova Department of Computing Sciences exists to support education
  and research across the broad spectrum of computing. The history of our
department highlights the evolution of our vision.</p>

<p class="paragraph">We currently have 14 full time
  faculty members, approximately 20 active 
  adjunct faculty members, and 4 full time staff members. 
  Our student body is made up of approximately 150 undergraduates
and 190 graduate students.</p>

<p class="paragraph">In a typical semester, we have fewer than 25 students in each introductory
  course and average approximately 20 students in upper level courses. Classes
are always taught by faculty members.</p>

<p class="paragraph">About 80 percent of our graduate students take classes part time while
  working full time at local industry. At least fifteen full time graduate students
  are supported with assistantships</p>

<p class="paragraph">Undergraduate academic 
  advising is accomplished by assigning a team of faculty advisors
  to each incoming class of students. That team continues to work with those
  students throughout their undergraduate years at Villanova, which allows the
  advisors to thoroughly understand each students situation. Graduate students
  are advised by the Graduate Program Director, with support from the department's
graduate committee.</p>

<p class="paragraph">We offer and support a variety of academic
programs leading to various degrees, minors, concentrations,
and certificates. We use various assessment techniques to ensure a high level
of quality. 

<p class="paragraph">Our undergraduate Computer Science program is accredited by the
  Computing Accreditation Commission of ABET, <a href="http://www.abet.org/"
                                           target="_blank">http://www.abet.org</a>. </p>
  
{% endblock %}
