{% extends "second_template.html" %}

{% block title %}Academics{% endblock %}

{% block content %}
  <h2 class="head">Academics</h2>

<p class="paragraph">The Department of Computing Sciences offers a variety of challenging technical programs, all designed to establish a foundation of understanding in a broad spectrum of computing. A graduate of our department is prepared for a career in computing as well as the pursuit of further advanced study.</p>

<p class="paragraph">We offer undergraduate programs leading to a Bachelor of Science (BS) degree in Computer Science.</p>

<p class="paragraph">Our graduate programs lead to a Master of Science (MS) degree in Computer Science and in Software Engineering .</p>

<p class="paragraph">We welcome you to review our course information where you can see course descriptions, objectives, prerequisites, etc.</p>

<p class="paragraph">All students in the CSC department are assigned an academic advising team who help with course schedules and other inquiries. Every student in our department is expected to maintain the highest degree of academic integrity.</p>
  
{% endblock %}
