{% extends "second_template.html" %}

{% block title %}Opportunites{% endblock %}

{% block content %}
  <h2 class="head">Opportunities</h2>

<p class="paragraph">Students in the Department of Computing Sciences are encouraged to apply for scholarships. Follow the links to learn more. Information is also available from the Unversity's Office of Undergraduate Grants and Awards.</p>

<p class="paragraph">For a list of scholarships, visit our scholarship postings.</p>

<p class="paragraph">Be sure to check out our department sponsored scholarships, the Michael Helwig Scholarship and the ViCS Scholarship.</p>
  
{% endblock %}