{% extends "second_template.html" %}

{% block title %}Research{% endblock %}

{% block content %}
  <h2 class="head">Research</h2>

<p class="paragraph">Department faculty exhibit a wide range of interests that span the range from very theoretical research topics, such as Dr. Japaridze's groundbreaking creation of Computability Logic, to applied projects, such as Dr. Klassner's unique Vatican Video archive development. You will also find many initiatives for improving Computer Science education among our projects, such as our famous Science and Theater Magic Program.</p>

<p class="paragraph">Faculty Research Interests<br/>
    This list reflects the current set of research interests for each of our faculty members.</p>

<p class="paragraph">Current Research Projects<br/>
    Here are short descriptions of many of our past and present ongoing projects. Follow the provided links to learn more about these exciting initiatives.</p>

<p class="paragraph">CSC Colloquia Series<br/>
    The CSC department's colloquia series invites guest speakers from academia and industry to present their work. The general public is welcome to attend. Refreshments and informal discussion with the speaker follow the presentation.</p>

<p class="paragraph">Technical Reports<br/>
    Our Technical Report series allows Villanova Computing Sciences' professors and students to disseminate the results of their research quickly. This page contains a list of departmental technical reports, organized sequentially by year and alphabetically by author within a year. All reports are archived in ACM's CoRR (Computing Research Repository). An archived report can be reached by clicking on its title.</p>

<p class="paragraph">Graduate Independent Study and Thesis Topics<br/>
    Every graduate student in the Department of Computing Sciences undertakes an Independent Study project. Typically this is one of the last courses a student takes, so that it can build upon the material of the other courses. Some students also elect to write a masters thesis.</p>

<p class="paragraph">Undergraduate Research Projects<br/>
    Here is a sublist of our past and ongoing projects which are particularly well suited for undergraduate student participation. Please note however that in general all projects are open to all students.</p>

<p class="paragraph">Villanova's Center of Excellence in Enterprise Technology<br/>
    Villanova's Center of Excellence in Enterprise Technology (CEET) is an interdisciplinary research center dedicated to distinction in the discovery, dissemination and application of knowledge and solutions to contemporary software challenges.</p>
  
{% endblock %}