/* CSS Document */

body{
  background-color: #003366;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#banner{
  background-color: #003366;
  min-width: 750px;
  width: 70%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#menu{
  background-color: #003366;
  width: 70%;
  min-width: 750px; 
  margin-right: -5px;
  border-top: 5px solid #fff;
  margin-left: auto;
  margin-right: auto;
}

#content{
  background-color: #fff;
  width: 70%;
  min-width: 750px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#footer{
  background-color: #26637f;
  width: 70%;
  
}


#banner h1{
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-top: 25px;
  font-weight: normal;
  margin-top: 0px;
}

.menu_item{
  width: 20%;
  border-right: 3px solid #fff;
  margin-right: -8.5px;
  display: inline-block;
  color: #fff;  
}

.menu_item.right{
  //border-right: 0px;
}

.menu_item.left{
  border-left: 3px solid #fff;
}

.menu_item h3{
  margin: 0px auto;
  padding: 5px;
  text-align: center;
}