{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
<h2>Advising Teams</h2>

<p>The Department of Computing Sciences provides a team of academic
  advisors for each class level (see below). Students work with the same
  advising team throughout their years here at Villanova. This approach
  allows the advisors to learn the needs and situations of individual
students effectively.</p>

<p>Students may visit any member of their advising team, and are encouraged
  to do so whenever questions arise regarding course requirements, transfer
credit, academic challenges, career counseling, or graduate school.</p>

<p>Students will meet with an advisor at least once each semester to plan
  the next semester's courses and receive the Registration Code that will
  allow them to register for classes through
<a href="http://novasis.villanova.edu/">Novasis</a>.</p>

<h3>Advising Teams:</h3>

<table class="borderless">
  
    <tr><td colspan="3"><h4>Class of 2022</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Robert E. Beck</a></td>
        <td>MSC 292-A</td>
        <td class="emailCell"><a href="mailto:robert.beck@villanova.edu">robert.beck@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Dr. Anany Levitin</a></td>
        <td>MSC 162-B</td>
        <td class="emailCell"><a href="mailto:anany.levitin@villanova.edu">anany.levitin@villanova.edu</a></td>
      </tr>
      <tr>
        <td class="nameCell">Dr. Thomas P. Way</a></td>
        <td>MSC 160-A</td>
        <td class="emailCell"><a href="mailto:thomas.way@villanova.edu">thomas.way@villanova.edu</a></td>
      </tr>

    <tr><td colspan="3"><h4>Class of 2021</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Mary Angela Papalaskari</a></td>
        <td>MSC 162-C</td>
        <td class="emailCell"><a href="mailto:mary.papalaskari@villanova.edu">mary.papalaskari@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Dr. Edward Kim</a></td>
        <td>MSC 167-B</td>
        <td class="emailCell"><a href="mailto:edward.kim@villanova.edu">edward.kim@villanova.edu</a></td>
      </tr>
      <tr>
        <td class="nameCell">Dr. Mirela Damian</a></td>
        <td>MSC 167-A</td>
        <td class="emailCell"><a href="mailto:mirela.damian@villanova.edu">mirela.damian@villanova.edu</a></td>
      </tr>
    
  
    <tr><td colspan="3"><h4>Class of 2020</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Frank Klassner</a></td>
        <td>MSC 160-C</td>
        <td class="emailCell"><a href="mailto:frank.klassner@villanova.edu">frank.klassner@villanova.edu</a></td>
      </tr>
      <tr>
        <td class="nameCell">Dr. Benjamin R. Mitchell</a></td>
        <td>MSC 165-B</td>
        <td class="emailCell"><a href="mailto:benjamin.r.mitchell@villanova.edu">benjamin.r.mitchell@villanova.edu</a></td>
      </tr>
      <tr>
        <td class="nameCell">Ms. Kristin Erica Obermyer</a></td>
        <td>MSC 292-B</td>
        <td class="emailCell"><a href="mailto:kristin.obermyer@villanova.edu">kristin.obermyer@villanova.edu</a></td>
      </tr>
  
    <tr><td colspan="3"><h4>Class of 2019</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Henry L. Carter</a></td>
        <td>MSC 162-A</td>
        <td class="emailCell"><a href="mailto:henry.l.carter@villanova.edu">henry.l.carter@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Dr. Giorgi Japaridze</a></td>
        <td>MSC 165-A</td>
        <td class="emailCell"><a href="mailto:giorgi.japaridze@villanova.edu">giorgi.japaridze@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Ms. Barbara Hoffman Zimmerman</a></td>
        <td>MSC 160-B</td>
        <td class="emailCell"><a href="mailto:barbara.zimmerman@villanova.edu">barbara.zimmerman@villanova.edu</a></td>
      </tr>
    
  
    <!--<tr><td colspan="3"><h4>Class of 2018</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Robert E. Beck</a></td>
        <td>MSC 292-A</td>
        <td class="emailCell"><a href="mailto:robert.beck@villanova.edu">robert.beck@villanova.edu</a></td>
    
      <tr>
        <td class="nameCell">Dr. Anany Levitin</a></td>
        <td>MSC 162-B</td>
        <td class="emailCell"><a href="mailto:anany.levitin@villanova.edu">anany.levitin@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Dr. Thomas Way</a></td>
        <td>MSC 160-A</td>
        <td class="emailCell"><a href="mailto:thomas.way@villanova.edu">thomas.way@villanova.edu</a></td>
      </tr>
    
  
    <tr><td colspan="3"><h4>Class of 2017</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Mary Angela Papalaskari</a></td>
        <td>MSC 162-C</td>
        <td class="emailCell"><a href="mailto:mary.papalaskari@villanova.edu">mary.papalaskari@villanova.edu</a></td>
      </tr>
    
      <tr>
        <td class="nameCell">Dr. Edward Kim</a></td>
        <td>MSC 167-B</td>
        <td class="emailCell"><a href="mailto:edward.kim@villanova.edu">edward.kim@villanova.edu</a></td>
      </tr>-->
    
  
  
    <tr><td colspan="3"><h4>Part Time Students</h4></td></tr>
    
      <tr>
        <td class="nameCell">Ms. Barbara Hoffman Zimmerman</a></td>
        <td>MSC 160-B</td>
        <td class="emailCell"><a href="mailto:barbara.zimmerman@villanova.edu">barbara.zimmerman@villanova.edu</a></td>
      </tr>
    
  
    <tr><td colspan="3"><h4>CS Minors</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Lillian Cassel</a></td>
        <td>MSC 161-A</td>
        <td class="emailCell"><a href="mailto:lillian.cassel@villanova.edu">lillian.cassel@villanova.edu</a></td>
      </tr>
    
  
    <tr><td colspan="3"><h4>Graduate Students</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Vijay Gehlot</a></td>
        <td>MSC 161-B</td>
        <td class="emailCell"><a href="mailto:vijay.gehlot@villanova.edu">vijay.gehlot@villanova.edu</a></td>
      </tr>
    
  
    <tr><td colspan="3"><h4>Internships</h4></td></tr>
    
      <tr>
        <td class="nameCell">Dr. Lillian Cassel</a></td>
        <td>MSC 161-A</td>
        <td class="emailCell"><a href="mailto:lillian.cassel@villanova.edu">lillian.cassel@villanova.edu</a></td>
      </tr>
    
  
    <!--<tr><td colspan="3"><h4>BIS Students</h4></td></tr>
    
      <tr>
        <td class="nameCell">Ms. Sandra Kearney</a></td>
        <td>Vasey 108</td>
        <td class="emailCell"><a href="mailto:sandra.kearney@villanova.edu">sandra.kearney@villanova.edu</a></td>
      </tr>-->
    
  
</table>
 

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
