{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
        <h3>General Support</h3>

 <h2>Campus Resources</h2>



<p>Villanova University provides a variety of offices and programs designed

  to help students succeed in their academic efforts. The following resources

may be particularly useful, click the links to learn more.</p>



<h3><a href="http://www.villanova.edu/mlrc" target="_blank">Mathematics

Learning and Resource Center</a></h3>



<p>The MLRC provides free tutoring help for courses such as MAT 1500 (Calculus I)

  and MAT 1505 (Calculus II). It also provides group working space and a computer

lab with various mathematical software.</p>



<p>Location: Second Floor Old Falvey (enter on the side near the Mendel arch)</p>



<h3><a href="http://careers.villanova.edu" target="_blank">Career Services</a></h3>



<p>Career Services provides support for finding employment, including a

campus interview program and career fairs.</p>



<p>Location: Garey Hall</p>



<h3><a href="http://www.writingcenter.villanova.edu" target="_blank">Villanova

Writing Center</a></h3>



<p>The Writing Center provides peer counselors to help you with current

  writing projects and to generally improve your writing skills. They encourage

  you to bring partially completed projects to discuss. Call (610-519-4604)

or stop by to set up an appointment.</p>



<p>Location: 202 Old Falvey (enter on the side near the Mendel arch)</p>



<h3><a href="http://www.studentlife.villanova.edu/counselingcenter" target="_blank">Counseling

Center</a></h3>



<p>The Counseling Center has various programs to help a student function

  optimally in a college environment, including a

  <a href="http://www.students.villanova.edu/studyskills" target="_blank">study

  skills</a> program designed to help students evaluate and improve their

  studying and test taking abilities. They also provide confidential counseling

for issues of a personal, emotional, psychological or social nature.</p>



<p>Location: 206 Health Services Building</p>



<h3><a href="http://www.learningsupportservices.villanova.edu" target="_blank">Learning

Support Services</a></h3>



<p>The Learning Support Services office provides accommodations for students

  with particular challenges and disabilities. Confidentiality is strictly

maintained and documentation is required.</p>



<p>Location: 202 Vasey Hall</p>



<h3><a href="www3.villanova.edu/healthandwellness/" target="_blank">Office of Health 

Promotion</a></h3>



<p>The Office of Health Promotion provides education, programming, and resources focused on 

enhancing students? overall health across six dimensions: social, physical, intellectual, 

cultural, emotional, and spiritual.</p>



<p>Location: First Floor Health Services Building</p>



<h3><a href="www1.villanova.edu/villanova/artsci/undergrad/ous.html" target="_blank">Office for

Undergraduate Students</a></h3>



<p>The Office for Undergraduate Students supports students as they transition into collegiate 

life and introduces them to academic possibilities and professional opportunities. Through Academic 

Advising, we encourage students to reflect on their experiences enabling them to make informed 

educational choices. Leadership and Professional Development empowers students to make connections 

between their educational pursuits and their possible professional directions through specially designed 

courses, workshops, and internships. College Data Services maintains records and assists in educating 

students on technology that will allow them to monitor their progress towards graduation.</p>



<p>Location: 107 Saint Augustine Center (SAC)</p> 

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
