<form name="htmlform" method="post" action="html_form_send.php">
<table width="450px">
</tr>
<tr>
    <input type="checkbox" name="grad school" > Do you plan on attending Graduate School?<br>
	<input type="checkbox" name="Job" > Did you find a job?<br>
</tr>
 
<tr>
 <td valign="top"">
 <br> <label for="last_name">Were you provided sufficient information and help as you made your plans for the future </label>
 </td>
 <td valign="top">
  <textarea  name="Sufficient_info" maxlength="1000" cols="25" rows="6"></textarea><br>
 </td>
</tr>

 
</tr>
<tr>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Submit">   
 </td>
</tr>