{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}

    <div id="content">
    	<div id="dept-resources">
        	<h3>Support Available</h3>
        	<p>We are committed to helping our students excel in their academic and professional pursuits, first by challenging them, then by supporting them so that they can rise to the challenge. The following resources will be helpful.</p> 

        	<h4><a href="/support/academic-sup">Academic Advising</a></h4>
			<p>Rely on your advisors to help you plan your courses and make the most of other opportunities.</p>

			<h4><a href="/support/help-desk">CSC Help Desk</a></h4>
			<p>Get help with programming and system issues from this team of assistants who hold office hours for students in CSC courses.</p>

			<h4><a href="/support/technical-sup">Technical Support</a></h4>
			<p>Visit the technical support section of our department web site to help with issues related to our computing systems and software.</p>
        </div>


        <div id="campus-support">
        	<h3>Campus Resources</h3>


        </div>

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}