.alert-box{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 25px;
	height: auto;
	clear: both;
	float: left;
}

.alert-content{
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px black solid;
	height: 100%;
	line-height: 30px;
}

.icon{
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}

.alert-time{
	display: none;
	float: left;
	margin-left: 5px;
	line-height: 30px;
}