{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<div id="content">
<h3>Student Activities</h3>

<p>
Students in the Department of Computing Sciences are encouraged to make the most of
the following opportunities for community involvement. 
</p>

<h4>CSC Peer Tutors</h4>
<p>
Computer Science majors provide knowledgeable and constructive information, advice, support, 
and feedback to their peers, in order to enhance the overall quality of the student's experiences
here at Villanova. Contact faculty moderator Dr. Mary Angela Papalaskari for more information or
better yet, visit the <a href="http://www.csc.villanova.edu/help/">CSC Peer Tutors Web Site</a>.
</p> 

<h4>Project at Julio de Burgos Elementary School</a></h4>
<p>
Villanova has had a collaboration project with Julia De Burgos Elementary School in Philadelphia 
for a number of years. Students and faculty members from Villanova's Computing Science Department 
have provided technological support for the school's systems, as well as provided its students 
with opportunities to learn more about computers and technology. Students were given refurbished 
laptops, as well as brought to campus for a number of educational workshops.
</p>
<p>
Contact the faculty advisor Dr. William Fleischman for more information.
</p> 

<h4>Upsilon Pi Epsilon (UPE) Honor Society</h4>
<p>
The mission of UPE is to recognize academic excellence at both the undergraduate and graduate 
levels in the Computing and Information Disciplines. Despite its comparative youth, 
Computing Science has had an unparalleled effect on almost every aspect of contemporary life. 
Indeed it is difficult to predict the ultimate place of the computer in our world. It is the 
express purpose of Upsilon Pi Epsilon to promote the Computing Sciences and to encourage 
its contribution to the enhancement of knowledge. 
</p>
<p>
Contact the honor society moderator Dr. 
Mirela Damian for more info.
</p> 

<h4>Programming Team</h4>
<p>
Each academic year the Department of Computing Sciences organizes one or more teams to 
represent Villanova at various programming competitions. Both graduate and undergraduate students 
are welcome to earn a position on one of our teams.  Chief among our goals is to do well at the 
ACM International Collegiate Programming Contest, which is the largest and most prestigious 
competition of its type. Teams that do well in regional competitions move on to the 
international contest.  
</p>
<p>
Contact team coach Dr. Daniel Joyce for more details.
</p> 

<h4>Student Travel</h4>
<p>Students in the Department of Computing Sciences who are traveling to
  conferences or workshops to present their research or participate in approved
  activities may be able to receive financial support for the trip. Travel
funds can be used for flights, conference registrations, lodging, and meals.</p>

<p>Graduate students can apply for travel support by visiting the 
  <a href="http://www1.villanova.edu/villanova/artsci/graduate/currentstudents/fundingopps/travelfunding.html">
Conference Travel Funding</a> page of the office of <a href="http://www.gradartsci.villanova.edu/" target="_blank">Graduate
  Studies</a> and following the instructions detailed there.
</p>

<p>Undergraduate students should apply for travel support by contacting 
Dr. Lillian Cassel, the
  Chair of the Department of Computing Sciences. Send an email to her explaining
the purpose and details of your trip.</p>

<h4>Villanova Women in Computer Science (VWCS)</h4>
<p>
VWCS (Villanova Women in Computer Science) is a student organization at Villanova University. 
Our mission is to support women in Computer Science by providing opportunities for social 
interaction and professional development, and to increase the number of women in the field 
through outreach activities.
</p> 
</p>
<p>
Contact the VWCS moderator Dr. Mirela Damian for more info.

<p>Facebook page of the group is available at: <a href="https://www.facebook.com/groups/488407004600220/">VWCS</a>
</p>


</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
