{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

    <h3>Graduate Assistants</h3>

<p>Graduate students in the Department of Computing Sciences are welcome
  to apply to become a Graduate Assistant or a Tuition Scholar. A Graduate
  Assistant works 20 hours per week for the department, and receives a tuition
  waiver and a financial stipend. A Tuition Scholar works 7 hours per week
and receives a tuition waiver.</p>

<p>Particular responsibilities may include:</p>
<ul>
  <li><strong>Teaching Assistants</strong> - helping faculty members
    administer courses, including grading, holding office hours, lab support,
  and material preparation</li>
  <li><strong>Research Assistants</strong> - helping faculty members with
  particular research projects</li>
  <li><strong>Systems Support</strong> - assisting the full-time system
    management staff maintain the department labs and networks, or helping
  develop and maintain the department web site.</li>
  <li><strong>Office Support</strong> - assisting the main office staff
  and faculty members with various administrative tasks</li>
</ul>

<p>Applications are accepted mid-semester for positions in the following
  semester. Announcements are made by mail and in graduate classes regarding
  applications and deadlines.
</p>

<p>To apply please download the <a href="/static/documents/gradasstApp.docx">Application Form</a> 
and follow the included directions.
</p>


{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
