{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2>Jobs and Internships</h2>
		<p>The CSC Department is committed to helping you find employment as a
			computing professional. The Villanova <a href="http://careers.villanova.edu" target="_blank">Career
			Services</a> office is a valuable resource. In addition, the CSC department has
		its own resources, many specific to computing and our students.</p>
		<p>While you are a student here, you may be able to <a href="/support/employment/cscDepartment">work
		for the CSC department</a> in one of several capacities.  We also maintain a list of
		<a href="/support/employment/postings">employment postings</a> that are specific to computing and include opportunities
		that you might not see anywhere else.  If you are specifically looking for an internship, our
		<a href="/support/employment/internships"> internship postings </a> page maintains a list of employment opportunities specific for those companies looking for interns.</p>
		<p>Villanova's Computing Sciences and Communications departments have a special agreement with the Vatican in Rome to provide student
			interns who will enhance the Vatican's presence on the internet.  You can find out more information about this internship by visiting the <a href="/opportunities/vatican">Vatican Internship</a> page.</p>
			<p>There are many websites dedicated to aid
				students finding full-time, part-time and internship level jobs.
				Among these job seeking sites are <a href="http://www.monster.com" target="_blank">Monster</a>, <a href="http://www.careerbuilder.com" target="_blank">Career Builder</a> and <a href="http://www.jobapplicationcenter.com" target="_blank">Job Application Center</a>.  The ACM also maintains <a href="http://computingcareers.acm.org/" target="_blank"> a great site</a> dedicated to computing careers.</p>
				<p>As you prepare for your job search, please take advantage of our pages
					designed to help you develop an <a href="/support/employment/resume">effective resume</a> and prepare you for <a href="/support/employment/interview">effective interviews</a>.</p>
				</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}