{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<div id="content">
<h3>Opportunities</h3>

<p>There are many opportunities for CS students to broaden their college experience. Maybe you'd
like to volunteer to help bring computing to young students in Philadelphia, or help your fellow students 
through the peer tutor program? 
Or perhaps find an interesting summer internship and/or spend a semester working as a CS Intern at the Vatican. 
For these opportunities and more please see below (section titles are page links).</p>

<h4><a href="/opportunities/activities">Student Activities</a></h4>
<p>Our Student Activities page describes our peer to peer tutoring program, 
outreach initiatives, honor society, programming team, women in computing club, and more.</p> 

<!--
<h4><a href="/opportunities/vics">VICS Scholarships</a></h4>
<p>The Villanova Computing Scholars (VICS) Program is a scholarship program administered by the 
Department of Computing Sciences and funded by a grant from the National Science Foundation (NSF). 
The program is open to new and existing Computer Science majors.
</p>
-->

<h4><a href="/opportunities/vatican">The Vatican Internship</a></h4>
<p>Villanova's Computing Sciences and Communications departments have a special agreement with the Vatican in Rome 
to provide student interns who will enhance the Vatican's presence on the internet.  You can find out more 
information about this internship by visiting the Vatican Internship page.</p>

<h4><a href="/opportunities/gradasst">Graduate Assistants</a></h4>
<p> 
Graduate students in the Department of Computing Sciences are welcome to apply to become a Graduate Assistant 
or a Tuition Scholar. A Graduate Assistant works 20 hours per week for the department, and receives a 
tuition waiver and a financial stipend. A Tuition Scholar works 7 hours per week and receives a tuition waiver.
</p> 

<h4><a href="/opportunities/other">Other Opportunities</a></h4>
<p> 
Many other opportunities exist for computer science majors including work within the department, summer internships, and full time jobs.
</p> 


</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
