{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<div id="content">
<h3>Opportunities</h3>

<p>There are many opportunities for CS students to broaden their college experience. Maybe you'd
like to volunteer to help bring computing to young students in Philadelphia, or help your fellow students 
through the peer tutor program? 
Or perhaps find an interesting summer internship and/or spend a semester working as a CS Intern at the Vatican. For these opportunities and more please see below.</p>

<h4>Julio De Burgos Outreach</h4>
<p>Our department has had a collaboration with Julio de Burgos elementary school in Philadelphia for many years. Students and faculty
members have provided technical support for the schools computing systems, refurbished laptops for the school's labs, and
tutoring about computers and technology both here and at the school in North Philadelphia. Please check with Dr. Fleischman about
participation.</p>

<h4><a href="/opportunities/vatican">The Vatican Internship</a></h4>
<p>Villanova's Computing Sciences and Communications departments have a special agreement with the Vatican in Rome 
to provide student interns who will enhance the Vatican's presence on the internet.  You can find out more 
information about this internship by visiting the Vatican Internship page.</p>

		<p>There are many websites dedicated to aid
			students finding full-time, part-time and internship level jobs.
			Among these job seeking sites are <a href="http://www.monster.com" target="_blank">Monster</a>, <a href="http://www.careerbuilder.com" target="_blank">Career Builder</a> and <a href="http://www.jobapplicationcenter.com" target="_blank">Job Application Center</a>.  The ACM also maintains <a href="http://computingcareers.acm.org/" target="_blank"> a great site</a> dedicated to computing careers.
		</p>
	</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
