{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<div id="content">
<h3>Other Jobs and Internships</h3>

<p>
In addition to our 
<a href="/opportunities/vatican">Vatican Internship</a> and 
<a href="/opportunities/gradasst">Graduate Assistantship</a>
opportunities there are many other jobs/internships/research positions open to our students.
Most of our students take jobs/internships in a computing related field
during their summer breaks and our graduating seniors find the professional job market very
promising. Here are some general resources to help you find your perfect situation.

<h4>Department Employment</h4>
Students in the Department of Computing Sciences may be able to work
for the department on an hourly paid basis. A limited number of positions
are available. Students with and without formal work study support may apply.
Work can begin at any point in the semester. Contact
Ms. Anne Hischar in
the CSC department's main office (MSC 161) for more information.

<p>Positions fall into four general categories:</p>

<ul>
  <li><strong>Systems Support</strong> - helping the full-time system
    management staff maintain the department labs and networks, or helping
  develop and maintain the department's web site.</li>
  <li><strong>Research Assistants</strong> - helping faculty members with
  particular research projects.</li>
  <li><strong>Teaching Assistants</strong> - helping faculty members
    administer courses, which may include grading, lab support, and material
  preparation.</li>
  <li><strong>Office Support</strong> - helping the main office staff and
  faculty members with various administrative tasks.</li>
</ul>

<p>Both undergraduate and graduate students may apply.</p>

<h4>External Jobs and Internships</h4>
The Villanova University <a href="http://www1.villanova.edu/villanova/vpaa/careers.html">Career Center</a> 
provides support for finding internships and jobs. Hundreds of employers work with the 
Career Center to offer campus interviews, collect resumes and list positions. 
Employers also participate in career fairs and campus programs throughout the year.

<p>Our current students and recent graduates have interned and/or taken jobs at places such as:
Google, Facebook, Deutche Bank, Microsoft, Apple, NASA, Vanguard, Lockheed Martin, Fog Creek Software, Lilly Pulitzer, QVC, Merck, Comcast, and Dow Jones. 

<h4>Research Experience for Undergraduates (REUs)</h4>
I need to get the link from the guy who visited our dept meeting.

</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
