{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<h3>Vatican Internship</h3>

<p>Villanova's Computing Sciences and Communication departments have a special agreement
with the Vatican in Rome to provide student interns who will enhance the
Vatican's presence on the World Wide Web. Participating students spend one semester working
within the Vatican while continuing to take University approved courses through Arcadia University plus
receiving 3 CSC internship course credits for their experience.
While in Rome, students reside in housing provided by Roma Tre University, within easy distance
to classrooms and work sites.</p>

<h3>Study and Work in Rome</h3>
<p>
<img class="${img.type}" alt="photo of St. Peter's at night time by Dr. Frank Klassner" src="http://images.csc.villanova.edu/img/878.jpg" style="float:right; padding:5px;"  width="189px" height="192px" />
The Vatican program is an experience for select students who are interested in not only studying in Rome, but
also immersing themselves in the culture of Vatican City/State (the smallest sovereign state in the world), home of
the Pope and the central administration of the Roman Catholic Church.</p>

<p>Students learn about Italian culture while conducting specific projects on Catholic life, teachings, and history as
determined by their supervisor. Most interns will visit the Scavi, (excavations under St.Peter's Basilica that
take you to the tomb of Saint Peter) and Vatican Museum as a part of their cultural enrichment in addition to their experiences
through the Arcadia program.</p>

<p>Interns work Monday through Friday from 8:00 a.m. to 1:00 p.m. (approximately 20 hours each week). In the
afternoons, students take courses through the Arcadia program. Additionally, all interns are tutored
in Italian with sessions taking place during the morning work hours.</p>

<h3>Computing Sciences Internships</h3>

<p>At the present time, the Department of Computer Sciences is placing interns with several offices in the Vatican including
the Vatican Museums and the Directorate for Telecommunication.
Projects vary and might include development of the Vatican website, security, online registration,
compatibility modifications, network modeling, and working with Java.</p>

<p><img class="${img2.type}" src="http://images.csc.villanova.edu/img/42.jpg" alt="${img2.altText}" style="float:left; padding:5px;" width="207px" height="116px" />
To participate, students must have a junior standing at the time of the internship and must have an
overall grade point average of 3.0 or higher. We encourage you to talk to your
<a href="/support/academic-adv">academic advisor</a> and 
<a href="/faculty/lillian.cassel">Dr. Lillian Cassel</a>,
Chair of the CSC Department, about this opportunity.</p>

<p>The Internship offers the opportunity to spend a semester in Rome, Italy, gain first-hand
experience in working in the Computing Sciences field, and discover the natural wonder associated
with the Vatican. The experience is something that the participants will remember for the rest of
their lives.</p>

<h4>Important Links</h4>

<p>Check out the following links for more information and to see examples of previous projects:
<ul>
<li><a href="http://www.vatican.va/various/cappelle/sistina_vr/index.html" target=_"blank">Sistine Chapel Virtual Tour</a></li>
<li><a href="http://www.vatican.va/various/basiliche/san_paolo/index_en.html" target="_blank">Virtual Reality
Tour of the Vatican</a></li>
<li><a href="http://www.vatican.va" target="_blank">Vatican Website</a></li>
<li><a href="http://www1.villanova.edu/villanova/artsci/communication/resources/internships/vatican.html" target="_blank">Communications Department Vatican Page</a></li>
<li><a href="http://www.catholicnews.com/data/stories/cns/0905303.htm" target="_blank">Catholic News Profile on the Vatican Internship</a></li>
<li><a href="http://www.csc.villanova.edu/Vatican/" target="_blank">Vatican Internship Slideshow</a></li>
<li><a href="http://www.csc.villanova.edu/Rome/VaticanInternshipA_files/frame.htm" target="_blank">Student Presentation on the Vatican</a></li>
</ul></p>


{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
