{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<h3>Villanova Computing Scholars (VICS)</h3>

<p>The Villanova Computing Scholars (VICS) Program is a scholarship program administered
  by the Department of Computing Sciences and funded by a grant from the National Science 
Foundation (NSF). The program is open to new and existing Computer Science majors.</p>

<p>The VICS Program awards accepted applicants up to $8000 per year, which is renewable throughout
  their college career. VICS scholars participate in the Enrichment Seminar in Computing (CSC 1990).
  In addition, small groups of scholars work with faculty mentors as learning communities. Upper
division scholars are typically involved in student-faculty research programs.</p>

<p>The VICS Program Management Committee reviews all applications and will be happy to answer
questions about the program.</p>

<p>To apply, download <a href="/static/documents/vicsApp.docx">The Application Form</a>, fill it out, and email it as an attachment
to Dr. Robert Beck (robert.beck@villanova.edu) using the subject line "VICS Application". 
</p>




{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
