/* CSS Document */

body{
  background-color: #003366;
    background-image:linear-gradient(#003366, #003b87 60%, #124fb5);

  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main_wrapper{
  width: 70%;
  min-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#banner{

}

#banner img{
  width: 100%;
}

#menu{
  border: 5px solid #fff;
  background-image:linear-gradient(#124fb5, #003b87 60%, #003366);

}

#content{
  background-color: #fff;
  min-height: 500px;
}

#footer{
  //background-color: #003366;
  
}


#banner h1{
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-top: 25px;
  font-weight: normal;
  margin-top: 0px;
}

.menu_item{
  width: 20%;
  border-right: 3px solid #fff;
  //margin-right: -8.5px;
  display: inline-block;
  color: #fff; 
}

.menu_item a{
	color: #fff;
	text-decoration: none;
}

.menu_item.right{
  border-right: 0px;
}

.menu_item.left{
  //border-left: 3px solid #fff;
}

.menu_item h3{
  margin: 0px auto;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 770px){
  #main_wrapper{
    width: 100%;
    min-width: 0px;
  }
  
  
}