.navbar-toggle {
	float: left;
	margin-left: 15px;
}

.submenu-item {
	padding-left:1em;
}

.hiddensub {
	display:none;
}

.nav {
	font-weight: bold;
}

@media (min-width: 768px){
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}

	.dropdown {
		width: 19%;
		text-align: center;
	}
}

@media (max-width: 767px){
	.submenu {
		background-color: #A7DBD8;
	}
	.submenu-item {
		background-color: #E0E4CC;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
		color: black;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
		background-color: transparent;
	}
}
