.carousel-container{

}

.active-image{
	height: 500px;
	width: 500px;
	position: relative;
}

.active-image p{
	position: absolute;
	background-color: rgba(255, 0, 0, 0.4);
	bottom: 4em;
	width: inherit;
	font-size: 30px;
	color: #fff;
	font-family: Helvetica
}