{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div id="content">
		
<h2>Villanova Computing Sciences Research</h2>
<p>
Department faculty exhibit a wide range of interests that
span the range from very theoretical research topics, such as Dr. Japaridze's
groundbreaking creation of Computability Logic, to applied projects,
such as Dr. Klassner's unique Vatican Video archive development. You will
also find many initiatives for improving Computer Science education among
our projects, such as our famous Science and Theater Magic Program.
</p>
		
<a href="/research/interests">Faculty Research Interests</a>
<p>This list reflects the current set of research interests for each of our faculty members. 

<p><a href="/research/soon">Graduate Grand Challanges and Thesis Topics</a></p>
<p>Every graduate student in the Department of Computing Sciences undertakes an Independent Study project. Typically this is one of the last courses a student takes, so that it can build upon the material of the other courses. Some students also elect to write a masters thesis.</p>

<p><a href="/research/undergradresearch">Undergraduate Research Projects</a></p>
<p>Here is a collection of our past and ongoing projects which are particularly well suited for undergraduate student participation. Please note however that in general all projects are open to all students.</p>

<p><a href="/research/technicalreports">Technical Reports</a> </p>
<p>Our Technical Report series allows Villanova Computing Sciences' professors and students to disseminate the results of their research quickly.
This page contains a list of departmental technical reports, organized sequentially by year and alphabetically by author within a year. All reports are archived in ACM's CoRR (Computing Research Repository). An archived report can be reached by clicking on its title.</p>

<p><a href="http://ceet.villanova.edu/">Villanova's Center of Excellence in Enterprise Technology</a></p>
<p>Villanova's Center of Excellence in Enterprise Technology (CEET) is an interdisciplinary research center dedicated to distinction in the discovery, dissemination and application of knowledge and solutions to contemporary software challenges.</p>

<p><a href="http://www1.villanova.edu/villanova/artsci/ceet/cave.html">Villanova's Immersive Studies CAVE</a></p>
<p>The CAVE, managed by CEET and housed in the Falvey Memorial Hall of Falvey Library, is a four-sided (aka "C-4") CAVE. It provides viewers with an immersive experience viewing and interacting with 3D virtual-reality worlds, 3D big-data displays, and 3D models of real-world locations and objects. </p>

</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
