{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div id="content">


<h2>Faculty Research Interests</h2>
<p>This list reflects the current set of research interests for each of our full-time faculty.</p>

  <h3>
    <a href='http://www.csc.villanova.edu/~beck'>
    Dr. Robert Beck
    </a>
  </h3>
    <ul>
        <li>Human-Computer Interaction especially models and evaluation</li>
        <li>Computer Science Education especially computing in context</li>
        <li>Software Engineering especially formal models</li>
    </ul>
<br />

  <h3>
    <a href='http://www.csc.villanova.edu/~cassel'>
    Dr. Lillian (Boots) Cassel
    </a>
  </h3>
    <ul>
        <li>Networks</li>
        <li>Information Retrieval</li>
        <li>Digital Libraries</li>
        <li>Computing Ontology</li>
    </ul>
<br />
  

  <h3>
    <a href='http://www.csc.villanova.edu/~mdamian'>
    Dr. Mirela Damian
    </a>
  </h3>
    <ul>
        <li>Computational Geometry</li>
        <li>Graph Theory</li>
        <li>Geometric Graphs</li>
        <li>Modular Robot Reconfiguration</li>
        <li>Polyhydra Unfolding</li>
        <li>DNA Computing</li>
    </ul>
<br />

  <h3>
    <a href='http://www.csc.villanova.edu/~fleischm'>
    Dr. William Fleischman
    </a>
  </h3>
    <ul>
        <li>Biological Systems Modeling</li>
        <li>Parallel Computing</li>
        <li>Ethical Issues in Computing Sciences</li>
    </ul>
<br />

  <h3>
    <a href='http://www.csc.villanova.edu/~gehlot'>
    Dr. Vijay Gehlot
    </a>
  </h3>
    <ul>
        <li>Programming Languages</li>
        <li>Compilation Techniques</li>
        <li>Systems Modeling and Analysis</li>
        <li>Petri Nets, Colored Petri Nets (CPNs)</li>
        <li>Formal Methods and Specification Verification</li>
    </ul>
<br />
  
  <h3>
    <a href='http://www.csc.villanova.edu/~goelman'>
    Dr. Don Goelman
    </a>
  </h3>
    <ul>
        <li>Database Systems</li>
        <li>Algorithms</li>
        <li>Data Modeling</li>
        <li>Big Data and Data Science</li>
    </ul>
<br />
  

  <h3>
    <a href='http://www.csc.villanova.edu/~japaridz'>
    Dr. Giorgi Japaridze
    </a>
  </h3>
    <ul>
        <li>Computability Logic</li>
        <li>Game Semantics and the Theory of Interactive Computation</li>
        <li>Proof Theory and Deep Inference</li>
        <li>Complexity Theory</li>
    </ul>
<br />
  

  <h3>
    <a href='http://webster.csc.villanova.edu:18088/~joyce'>
    Dr. Dan Joyce
    </a>
  </h3>
    <ul>
        <li>Data Structures</li>
        <li>Computer Security</li>
        <li>Computer Science Education</li>
    </ul>
<br />

  <h3>
    <a href='http://www.csc.villanova.edu/~ekim'>
    Dr. Edward Kim
    </a>
  </h3>
    <ul>
        <li>Computer Vision</li>
        <li>Medical Image Processing</li>
        <li>Computer Graphics</li>
        <li>Artificial Intelligence</li>
        <li>Game Development</li>
    </ul>
<br />
  
  <h3>
    <a href='http://www.csc.villanova.edu/~klassner'>
    Dr. Frank Klassner
    </a>
  </h3>
    <ul>
        <li>Robotics and Education</li>
        <li>Multimedia and Virtual Reality</li>
        <li>Artificial Intelligence</li>
    </ul>
<br />
  
  <h3>
    <a href='http://www.csc.villanova.edu/~levitin'>
    Dr. Anany Levitin
    </a>
  </h3>
    <ul>
        <li>Algorithms</li>
        <ul>
        <li>Classification</li>
        <li>Design Techniques</li>
        <li>Algorithmic Puzzles</li>
        </ul>
        <li>Data and Information</li>
    </ul>
<br />
  
  <h3>
    <a href='http://www.csc.villanova.edu/~map'>
    Dr. Mary Papalaskari
    </a>
  </h3>
    <ul>
        <li>Computing for All</li>
        <li>Computational Theory</li>
        <li>Artificial Intelligence</li>
    </ul>
<br />
  

  <h3>
    <a href='http://www.csc.villanova.edu/~tway'>
    Dr. Tom Way
    </a>
  </h3>
    <ul>
        <li>Computer Architecture and Nanotechnology</li>
        <li>Network Modeling</li>
        <li>High Performance Computing</li>
        <li>Applied Computing</li>
        <li>Information and Technology Literacy</li>
        <li>Education and Magic</li>
    </ul>
  
</div>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}
