/* Add Alert Components */

#ae-creator{
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	height: auto;
	margin: 10px 5px;
	padding: 10px;
	box-sizing: border-box;
	background: white;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 7px;
}
#ae-creator:after{
  clear: both;
  content: "";
  display: block;
}

#ae-new-content{
	position: relative;
	width: 100%;
	height: 100px;
	background:#F8F8F8;
	font-size: 18px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow:inset 1px 1px 5px #6E6E6E;
	border: none;
	border-radius: 4px;
}

#ae-new-details{
	position: relative;
	height: auto;
}
#ae-new-details:after{
  clear: both;
  content: "";
  display: block;
}

#ae-new-details div, #ae-new-details select{
	float: left;
	margin: 10px;
}

#ae-new-buttons{
	float: left;
	position: relative;
	height: 25px;
	width: 100%;
}
#ae-new-submit, #ae-new-reset{
	float: right;
	margin: 0 5px;
}

/* End Add Alert Components */


/* Alert List Components */

#ae-list{
	position: relative;
	left: 0;
	right: 0;
	height: auto;
	margin: 0 5px;
}

.ae-container{
	position: relative;
	width: 100%;
	height: auto;
	margin: 15px 0;
	padding: 5px;
	box-sizing: border-box;
	background: white;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 3px;
}
.ae-container:after{
  clear: both;
  content: "";
  display: block;
}

.ae-container-content{
	width: 100%;
	height: auto;
}

.ae-container-header{
	width: 100%;
	height: auto;
	font-size: 11px;
	text-align: right;
}

.ae-container-header > a{
	margin-right: 10px;
}

.ae-container-content-edit{
	width: 100%;
	height: 50px;
	box-sizing:border-box;
	display: none;
}

.ae-container-edits{
	width: 100%;
	display: none;
}
.ae-container-edits:after{
  clear: both;
  content: "";
  display: block;
}

.ae-container-edits div, .ae-container-edits select{
	float: left;
	margin: 10px 15px 10px 0;
}

.ae-edit-buttons{
	float: left;
	position: relative;
	height: 25px;
	width: 100%;
	display: none;
}
.ae-edit-submit, .ae-edit-cancel{
	float: right;
	margin: 0 5px;
}

/* End Alert List Components */

