#alerts-title{
	width: 100%;
}

.alert-container{
	width: 100%;
}

.alert-box{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	width: 100%;
	clear: both;
	float: left;
	position: relative;
	padding: 5px;
	box-sizing: border-box;
}

.alert-content{
	width: 100%;
	height: auto;
}

.alert-details{
	width: 100%;
	height: auto;
	font-size: 11px;
	text-align: right;
}

.General {
	background: #DCDCDC; 
}

.Warning {
	background: #C25F38;
}

.Colloquium {
	background: #6395B0;
}

.Class {
	background: #9AAF6E;
}

.Meeting {
	background: #CF9C38;
}

.Club {
	background: #B2C3CA;
}