#news-list{
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
}

.news-container{
	position: relative;
	width: 100%;
	height: 54px;
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
}

.news-edit-button{
	position: absolute;
	top: 18px;
	left: 5px;
}

.news-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60px;
	right: 0;
	padding: 5px;
}

.news-title{
	clear: both;
}

.news-intro{
	clear: both;
}

.news-container:hover{
	background: lightgrey;
}

.news-id{
	display: none;
}

.news-add-button {
	position: absolute;
	top: 12px;
	right: 40px;
}

#edit-news-filters{
	margin-left: 70px;
}

/* Edit News Form */

#edit-news-form > input{
	width: 100%;
	margin: 5px 0 5px 0;
}
#edit-news-form > input:last-child{
	width: auto;
	margin: 10px 0 0 0;
	clear: both;
}
#edit-news-form > textarea{
	width: 100%;
	height: 200px;
	margin: 10px 0;
}
input#edit-news-start, input#edit-news-end{
	width: auto;
}