#news-list{
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
}

.news-container{
	position: relative;
	width: 100%;
	height: 54px;
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
}

.news-edit-button{
	position: absolute;
	top: 18px;
	left: 5px;
}

.news-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60px;
	right: 0;
	padding: 5px;
}

.news-title{
	clear: both;
}

.news-intro{
	clear: both;
}

.news-container:hover{
	background: lightgrey;
}

.news-id{
	display: none;
}

#edit-news-filters{
	margin-left: 70px;
}

/* Edit News Form */
#edit-news-headline{
	width: 100%;
}

#edit-news-intro{
	width: 100%;
}

#edit-news-article{
	width: 100%;
}

#edit-news-start{
	width: 100%;
}
#edit-news-end{
	width: 100%;
}
