/* Exit Interview Form */

.exit_form1 {
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    background: #D2E9FF;
    padding: 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    
}

.exit_form1 h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
    font-weight: bold;
}

.exit_form1 h2 {
    font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 7px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
    font-weight: bold;
}

.exit_form1 p {
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0px 10px 20px 20px;
    display: block;
    margin: 0px -20px;
    font-style: italic;
}

.exit_form1 table {
    width: 90%;
}

.exit_form1 table, th, td {
    font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #3b4754;
    border-collapse: collapse;
    border-width: 2px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}

.exit_form1 label {
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.exit_form1 input {
    color: #888;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    line-height:15px;
    margin: 2px 4px 16px 0px;
    font-weight: bold;
}

.exit_form1 textarea {
    height: 100px;
    padding: 5px 0px 0px 5px;
    margin-bottom: 10px;
    width: 100%;
}

.exit_form-submit{
    padding: 10px 30px 10px 30px;
    background: #00BFFF;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
}

.exit_form-submit:hover{
    background: #3EB1DD;
}