
/* Login Form */

.login-form {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    background: #DADADA;
    padding: 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 3px;
    border-width: 2px;  
    border-style: solid;
    border-color: rgb(31,54,100); 
}

.fail-message {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    background: #DADADA;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 3px;
    border-width: 1px;  
    border-style: solid;
    border-color: rgb(255,54,100); 
}

.login-form h1 {
    font: 24px Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #FFF;
    border-bottom: 2px solid rgb(31,54,100);
    margin: -20px -20px 15px;
    font-weight: bold;
}

.login-form label {
    display: block;
    margin: 0px 0px 5px;
    font-weight: bold;
}

.login-form input {
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #1F3664;
    border-radius: 3px;
    background: #FBFBFB;
    outline: 0;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}

.login-form .login-submit{
    padding: 10px 30px 10px 30px;
    background: rgb(80,121,163);
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-size: 15px;
    box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
}

.login-form .login-submit:hover {
    background: #3EB1DD;
}