.navbar{
	width: auto;
	height: auto;
	border-left: 1px white dotted;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-item{
	display: inline-block;
	float: left;
	border-right: 1px white dotted;
}

.nav-item > a{
	min-width: 140px;
	height: 49px;
	display: block;
	line-height: 49px;
	color: white;
	text-align: center;
	text-decoration: none;
}