#news-content{
	width: 100%;
	position: relative;
	background: #E4E9E8;  
	padding: 20px 10px;
	box-sizing: border-box;
}

#news-title{
	margin: 5px 10px;
}

#news-date{
	text-align: right;
	margin: 0;
	width: 100%;
}

#news-image{
	display: block;
	width: 100%;
	height: 350px;
	margin: 0 auto;
	background-size: contain;
  	background-repeat: no-repeat;
 	background-position: center; 
}

@media screen and (max-width: 610px){
	#news-title{
		font-size: 25px;
	}
	#news-date{
		font-size: 14px;
	}
}

@media screen and (max-width: 490px){
	#news-title{
		font-size: 15px;
	}
	#news-date{
		font-size: 10px;
	}
	#news-article{
		font-size: 11px;
	}
}
