/* CSS Document */

html {
  min-height:100%;
}

body {
  background-attachment: fixed;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 145px;
  background: #1F3664;
  z-index: 2;
}

#banner{
  width: 70%;
  height: 100px;
  background: #fff;
  margin: 0 auto;
  background-color: #1F3664;
  /* temporary placeholder style */
 /* text-align: center;
  line-height: 100px; */
}

/* Centers the nav menu and sets the menu width/height */
#nav-wrapper{
  width: 70%;
  height: 45px;
  margin: 0 auto;
}

#main_wrapper {
  width: 70%;
  min-width: 750px;
  margin: 150px auto 0 auto;
}

/* Do we actually need page content? - Will/*
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
  position: relative;
  padding: 20px;
  left: 0;
  border-radius: 2px;
  background-color: #fff;
  overflow: auto;
}

@media screen and (max-width: 1185px){
  #nav-wrapper, #banner{
    width: 780px;
  }
}

@media screen and (max-width: 780px) {
  #nav-wrapper, #banner{
    width: 100%;
  }

  #main_wrapper {
    width: 100%;
    min-width: 0px;
  }
}

@media (min-width:768px) { 
  #page-content {
      left: 0!important
  }
}

/* 
  Added fixed heights for cards for now since the cards do not have content
  The cards will need to have some sort of fixed height and width in the end
  to normalize content --DS
*/
.card {
  background-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 2px;
  display: inline-block;
  border-radius: 2px;
} 

.news-card {
  width: 100%;
  height: 400px;
}

.alert-card {
  width: 66%;
  height: 300px;
  float: left;
  overflow: auto;
}

.aux-card {
  width: 33%;
  height: 300px;
  float: right;
  overflow: auto;
}

#Logo {  
  width: 10%;
  
  /* for graph logo */
  /*height: 80%;
    
  /* for tree logo */
  height: 65%; 
  position: absolute;

}

#Head-Text {
  position: absolute;
  color: #fff;
  left: 26%;
  top: 35%;
  font-size: 3em;
  font: Garamond, Book;
  font-family: italic;
  font-variant: small-caps;
}

#sidebar {
  padding: 10px;
}

#sidebar .side-title {
  font-variant: small-caps;
  font-size: 1em;
  font: Garamond;
}

#sidebar .side-content { 
  /*padding: 15px; */
}

#sidebar .side-image {
  float: left;
  width: 6em;
  height: 6em;
  margin: 1px 5px 5px 0px;
}