/* CSS Document */

html {
  min-height:100%;
}

body {
  background-color: #003366;
  background-image: linear-gradient(#003366, #003b87 60%, #124fb5);
  background-attachment: fixed;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#main_wrapper {
  width: 70%;
  min-width: 750px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  position: relative;
  width: 100%;
}

#banner img {
  width: 100%;
}

#content {
  background-color: #fff;
  min-height: 800px;
}

#footer {
  //background-color: #003366;
}

#banner h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-top: 25px;
  font-weight: normal;
  margin-top: 0px;
}

@media screen and (max-width: 770px) {
  #main_wrapper {
    width: 100%;
    min-width: 0px;
  }
}