/* CSS Stylesheet for index.html */

body {
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

/* Header components */
#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: #1F3664;
  z-index: 1;
}

#banner{
  position: relative;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  background-color: #1F3664;
}

#logo {
  width: auto;
  float: left;
  margin-right: 10px;
  height: 100%;
}

#header-text, #header-text-responsive{
  height: 100%;
  line-height: 100px;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  font: Garamond, Book;
  font-family: italic;
  font-variant: small-caps;
}
#header-text-responsive{
  display: none;
}
/*
#header-text {
  position: absolute;
  bottom: 0.5em;
  left: 4em;
  color: #fff;
  font-size: 3em;
  font: Garamond, Book;
  font-family: italic;
  font-variant: small-caps;
}*/

#nav-wrapper{
  position: relative;
  height: 40px;
  width: 70%;
  min-width: 780px;
  margin: 0 auto;
}
/* End Header components */


/* Content components */

/* content - all space under header */
#page-content{
  position: absolute;
  top: 140px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #D8D8D8;
}

/* Wraps and centers main content*/
#content-wrapper{
  position: relative;
  width: 80%;
  min-width: 780px;
  height: auto;
  margin: 0 auto;
}
/* Required to give wrapper a height */
#content-wrapper:after{
  clear: both;
  content: "";
  display: block;
}
/* End Content components */

/* Footer */
#footer-wrapper{
  width: 80%;
  background-color: rgb(31, 54, 100);
  font-size: 11px;
  color: white;
  padding: 0 10%;
}

/* Overrides navigation js changes to the content's left/right values */
@media screen and (min-width: 781px){
  #page-content{
    left: 0 !important;
    right: 0 !important;
  }
}

@media screen and (max-width: 780px){
  #header{ 
    height: auto;
    bottom: 0; 
  }

  #banner{
    width: 100%;
    min-width: 200px;
    height: 65px;
  }

  #nav-wrapper{
    width: 200px;
    min-width: 0;
    height: auto;
    position: absolute;
    top: 65px;
    bottom: 0;
    float: left;
  }

  #page-content{
    top: 105px;
    z-index: 2;
    background: #fff;
  }

  #content-wrapper{
    width: 100%;
    margin: 0;
    min-width: 0;
    z-index: 2;
  } 

  #header-text{
    line-height: 65px;
  }
}

#loginbar{
  position: absolute;
  right: 5%;
  top: 10px;
}

#loginbar button{
  padding: 5px 15px 5px 15px;
  background: #00BFFF;
  border: none;
  color: #FFF;
  box-shadow: 1px 1px 1px #4C6E91;
  text-shadow: 1px 1px 1px #5079A3;
}

#loginbar button:hover{
    background: #3EB1DD;
}

@media screen and (max-width: 1219px){
  #header-text{
    font-size: 2.5em;
  }
}
@media screen and (max-width: 1045px){
  #header-text{
    font-size: 2em;
  }
}
@media screen and (max-width: 872px){
  #header-text{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 454px){
  #header-text{
    display: none;
  }
  #header-text-responsive{
    font-size: 1.25em;
    display: block;
  }
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}