#profile {
	position: relative;
	width: 100%;
	height: auto;
	margin: 10px auto;
	border: 1px black solid;
}
/* Needed for giving a height to profile div */
#profile:after{
	clear: both;
	content: "";
	display: block;
}

#profile > div{
	float: left;
	margin: 10px;
}

#profile-basics{
	width: 200px;
}

#profile-basics	> div{
	text-align: center;
}

#profile-image{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/2c8/24c/039e2a7.jpg');
	background: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/2c8/24c/039e2a7.jpg');
	background-size: 200px 200px;
	background-position: center; 
	border-radius: 150px;
}

#profile-info{
	padding-top: 25px;
	background: white;
}

#profile-info > div{
	clear: both;
}

#profile-hours{
	border: 1px black solid;
	height: 150px;
	width: 200px;
}





