{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2>Events</h2>
		<h3>CSC Colloquia Series</h3>
		<p>The CSC department's colloquia series invites guest speakers from academia and industry to present their work. The general public is welcome to attend.Refreshments and informal discussion with the speaker follow the presentation.
		</p>
		<p><center><strong>Fall 2015 Colloquia</strong></center></p>
		<div class="lesser">
			<p>
				<a href="http://www.csc.villanova.edu/~tway/temp/Fall%202015%20Flyer.pdf">CSC Colloquium: Computing Sciences Faculty</a>
			</p>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}