{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
      <h2>CSC Academic Integrity Policy</h2>

<p>This policy is a supplement to the University policy (visit the 
  <a href="http://www.library.villanova.edu/academic_integrity/"
     target="_blank">Academic Integrity Gateway</a>), specifically addressing
  issues that relate to academic integrity in computing and computing courses.
  This policy may be modified by the instructor for an individual course.
  However, unless it is explicitly modified by the instructor, this policy
is assumed to be in force.</p>

<h3>Computer and Communication Facilities</h3>
<p>Students are expected to familiarize themselves with and adhere to the 
  <a href="http://www1.villanova.edu/villanova/unit/policies.html"target="_blank">policies</a>
  of the office for University Information Technologies (UNIT). In
  particular, student accounts are set up on campus computer systems in
  order for Villanova students to accomplish university-sanctioned
  instructional, research or administrative activities. No other use is
  authorized. Furthermore, no person may use an account or userid other than
  one specifically created for that person. No attempt may be made to acquire
another account's password or to obtain information from another account.</p>

<h3>Assignments and Programming Projects</h3>
<p>Unless specifically noted by the professor, all assignments are to be
  accomplished by each student individually. Students may not discuss
  specific aspects of any assignment, though general discussion of concepts
to enhance understanding is encouraged.</p>

<p>Programming projects, in particular, are assigned to give a student
  practice in the design and implementation of a computer-based problem
  solution. If any portion of a student's solution uses code or specific
  design aspects from another source (in print or from the Internet), the
  student must explicitly indicate such a source. No portion of any student's
  program or design may be used for another student's solution. A general
  discussion of a programming language or paradigm, or of the merits of
  various types of algorithms, is encouraged. However, the details of the
  implementation of a problem solution must not be discussed prior to
  submitting the project. It is a clear act of plagiarism to copy a portion
of code from a source without attribution, even if modifications are made.</p>

<p>If a project involves an experiment, the data reported must be based
  on the actual observations made by the student. Any data that results from
extrapolation, educated guesswork, or elsewhere must be identified as such.</p>

<h3>Papers</h3>
<p>Research papers involve a literature review and a synthesis of ideas.
  They also possibly include an expression of new ideas or theories, or the
  application of ideas to a new venue. Use of previously published material
  should be limited to referencing concepts or experimental evidence. Any
  use of the ideas from published material should be cited with a clear
  bibliographic reference, except when that information clearly falls into
  the category of "general knowledge." When in doubt, cite the reference.
The instructor may ask for copies of your references.</p>

<h3>Exams, Tests, and Quizzes</h3>
<p>It is certainly inappropriate to attempt to receive help in any way
  not explicitly approved by the instructor during any type of examination.
  Such help includes using notes, study aids, information from the Internet
or an electronic device, and direct communication with classmates.</p>

<h3>Violations</h3>
<p>Violations of academic integrity will be handled according to the
  procedures prescribed by the 
  <a href="https://www1.villanova.edu/villanova/vpaa/studentservices/policies/integrity.html" target="_blank">
  Office of the Provost</a>. Consequences include
  failing an assignment or the course for an initial violation, and expulsion
from the university for a second violation.</p>
    </div>
    
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
