{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
      <h2>Academic Integrity</h2>

<p>All students enrolled in CSC courses must read and understand the</p>

<p class="policy"><a href="/academics/academicIntegrityPolicy">Department
of Computing Sciences Academic Integrity Policy</a></p>

<p>This document explains specific academic integrity issues related to
  computing. Do NOT assume you know what this document contains. Ask your
professor to clarify any issues that you don't fully understand.</p>

<p>Our position on academic integrity supports and enforces the University's
policies, available through the</p>

<p> <a href="http://www.library.villanova.edu/academic_integrity/"
       >Academic Integrity Gateway</a></p>

<p>If you have not already done so,
be sure to take the interactive quiz found on the Gateway.</p>

<p>Other ethical codes:</p>
<ul>
  <li><a href="https://www.acm.org/about-acm/acm-code-of-ethics-and-professional-conduct">
  ACM Code of Ethics and Professional Conduct</a></li>
  <li><a href="https://ethics.acm.org/code-of-ethics/software-engineering-code/">
  Software Engineering Code of Ethics and Professional Practice</a></li>
</ul>

<p>Additional resources:</p>
<ul>
  <li><a href="http://www.ethics.org">The Ethics
  Resource Center</a></li>
  <li><a href="http://www.academicintegrity.org">The
  International Center for Academic Integrity</a></li>
  <li><a href="http://computerethicsinstitute.org/">
  The Computer Ethics Institute</a></li>
</ul>
    </div>
    
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
