{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>BSCS/MSCS Program</h2>

<p>This program allows a student to earn a Bachelor of Science (B.S.)
  and a Master of Science (M.S.) in Computer Science in five years. It is
  open to current undergraduate Computer Science majors, who typically apply to participate
in the second semester of their sophomore year.</p>

<p>Participants earn the B.S. degree in the typical four-year time frame
  and graduate with their class. They then continue their studies in the
  fifth year to complete  the M.S. degree. Normally, earning both degrees
  would take six years of full-time study. The time savings is achieved by
applying select graduate courses to both degrees.</p>

<p>Students in this program must satisfy all requirements of the
  <a href="/academics/csmajor">Computer Science major</a>, 
except that they:</p>

<table>
  <thead>
    <th>Take</th>
    <th>Instead of</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/courses/57">CSC 8310</a>
        - Linguistics of Programming Languages
      </td>
      <td>
        <a href="/courses/14">CSC 1800</a>
        - Organization of Programming Languages
      </td>
    </tr>
    <tr>
      <td>
        <a href="/courses/65">CSC 8510</a>
        - Theory of Computability
      </td>
      <td>
        <a href="/courses/28">CSC 4170</a>
        - Theory of Computation
      </td>
    </tr>
  </tbody>
</table>


<p>Participants can also use a third graduate course to fulfill an elective
  for both degrees. Any <a href="/academics/msElectives">approved
  elective</a> for the M.S. degree can be used for this purpose.
  These substitutions give the student a head start on satisfying the remaining
<a href="/academics/msProgram">M.S. Computer Science degree requirements</a>.</p>

<p>This program has financial benefits as well. For the two or three graduate
  courses taken during the initial four-year period, the standard undergraduate
  tuition applies. Also, each student is granted tuition remission for the
  final nine credits of the program.  Students entering the program will receive remission for the final six credits.  Furthermore, students are also eligible
  to apply in their senior year for full competitive 
  <a href="/opportunities/gradasst">graduate assistantships</a>
for their fifth year.</p>

<p>To be eligible for this program, students must have strong academic
  credentials: a cumulative grade point average (GPA) of at least 3.0 and
a GPA of at least 3.5 in the major. The GRE exam is waived.</p>

<p>To apply for the program:
  <ul>
       <li>prepare a one-page statement noting which of the two 5-year programs you are applying for and explaining your career objectives as they relate to this program</li>
    <li>arrange for at least two academic letters of recommendation: no special form required</li>
  </ul>
</p>
<p>Have your references send their recommendation letters to:
  <address>
    <a href="mailto:don.goelman@villanova.edu">
    Dr. Don Goelman
    </a><br />
    Department of Computing Sciences<br />
    Villanova University<br />
    800 Lancaster Avenue<br />
    Villanova, PA 19085-1699
  </address>
</p>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}