{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>BS/MS Programs</h2>
  <p>Currently the department supports two BS/MS programs. These programs
    allows a student to earn a Bachelor of Science (B.S.) in Computer
    Science and a Master of Science (M.S.) in either Computer Science or
    Software Engineering, in just five years. The programs are
    open to current undergraduate Computer Science majors, who typically
  apply to participate in the second semester of their sophomore year.</p>
  <p>The two programs have a great deal in common, as described on this page.
    
<p>Participants earn the B.S. degree in the typical four-year time frame
  and graduate with their class. They then continue their studies in the
  fifth year to complete the M.S. degree. Normally, earning both a B.S degree
  and an M.S. degree would take six years of full-time study. The time savings
  is achieved by applying select graduate courses to both degrees. Students
  are typically allowed to apply three such graduate courses towards the
undergraduate degree.</p>
<p>These programs have financial benefits as well. For the two or three graduate
  courses taken during the initial four-year period, the standard undergraduate
  tuition applies. Also, each student is granted tuition remission for the
  final nine credits of the program. Starting in fall 2010, students entering the program will receive remission for the final six credits.  Furthermore, students are also eligible
to apply in their senior year for full competitive graduate assistantships for their fifth year.</p>
<p>To be eligible for these programs, students must have strong academic
  credentials: a cumulative grade point average (GPA) of at least 3.0 and
a GPA of at least 3.5 in the major. The GRE exam is waived.</p>
<p>To apply for a program:
</p><ul>
<li>prepare a one-page statement noting which of the two 5-year programs you are applying for and explaining your career objectives as they relate to this program</li>
<li>arrange for at least two academic letters of recommendation: no special form required</li>
</ul>
<p></p>
<p>Have your references send or email their recommendation letters to:
</p><address>
<a href="mailto:don.goelman@villanova.edu">Dr. Don Goelman</a>
<br>
Department of Computing Sciences<br>
Villanova University<br>
800 Lancaster Avenue<br>
Villanova, PA 19085-1699
</address>

<h3>BIS/MS Integrated Program</h3>
<p>Part time students who are working on a BIS (Bachelor of Interdisciplinary Studies) in
Information Systems can extend their studies to earn a Masters in Software
Engineering.</p>
<dl>
<dt><a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/bisms_software.htm" target="_blank">
BIS with a MS in Software Engineering</a></dt>
</dl>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}