{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>BSCS/MSSE Program</h2>

<p>This program allows a student to earn a Bachelor of Science (B.S.)
  in Computer Science and a Master of Science (M.S.) in Software Engineering
  in five years. It is
  open to current undergraduate Computer Science majors, who 
  typically apply to participate
in the second semester of their sophomore year.</p>

<p>Participants earn the B.S. degree in the typical four-year time frame
  and graduate with their class. They then continue their studies in the
  fifth year to complete the M.S. degree. Normally, earning both degrees
  would take six years of full-time study. The time savings is achieved by
applying select graduate courses to both degrees.</p>

<p>Students in this program must satisfy all requirements of the
  <a href="/academics/csmajor">Computer Science major</a>, 
<u>including</u> CSC 4700 (undergraduate Software Engineering), except that they:</p>

<table>
  <thead>
    <th>Take</th>
    <th>Instead of</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="/courses/61">CSC 8490</a>
        - Database Systems
      </td>
      <td style="padding-left:30px;">
        <a href="/courses/34">CSC 4480</a>
        - Principles of Database Systems
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="/courses/68">CSC 8540</a>
        - Software Engineering
      </td>
      <td style="padding-left:30px;">
        Undergraduate CS elective
      </td>
    </tr>
    
  </tbody>
</table>


<p>Participants can also use a third graduate course to fulfill a requirement
for both degrees. The following substitutions are permitted:</p>

<table>
  <thead>
    <th>Take</th>
    <th>Instead of</th>
  </thead>
  <tbody>
    
    <tr>
      <td>
        <a href="/courses/57">CSC 8310</a>
        - Linguistics of Programming Languages
      </td>
      <td>
        <a href="/courses/14">CSC 1800</a>
        - Organization of Programming Languages
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="/courses/60">CSC 8470</a>
        - Computer Graphics
      </td>
      <td>
        <a href="/courses/32">CSC 4300</a>
        - Computer Graphics
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="/courses/66">CSC 8520</a>
        - Artificial Intelligence
      </td>
      <td>
        <a href="/courses/36">CSC 4500</a>
        - Artificial Intelligence
      </td>
    </tr>
    
    <tr>
      <td>
        <a href="/courses/73">CSC 8570</a>
        - User/System Interface Design
      </td>
      <td>
        <a href="/courses/43">CSC 4730</a>
        - Human Computer Interaction
      </td>
    </tr>
    
  </tbody>
</table>   

<p>These substitutions give the student a head start on satisfying the remaining
<a href="/academics/msseProgram">M.S. Software Engineering degree requirements</a>.</p>

<p>This program has financial benefits as well. For the two or three graduate
  courses taken during the initial four-year period, the standard undergraduate
  tuition applies. Also, each student is granted tuition remission for the
  final nine credits of the program. Students entering the program will receive remission for the final six credits.  Furthermore, students are also eligible
  to apply in their senior year for full competitive 
  <a href="/opportunities/gradasst">graduate assistantships</a>
for their fifth year.</p>

<p>To be eligible for this program, students must have strong academic
  credentials: a cumulative grade point average (GPA) of at least 3.0 and
a GPA of at least 3.5 in the major. The GRE exam is waived.</p>

<p>To apply for the program:
  <ul>
        <li>prepare a one-page statement noting which of the two 5-year programs you are applying for and explaining your career objectives as they relate to this program</li>
    <li>arrange for at least two academic letters of recommendation: no special form required</li>
  </ul>
</p>
<p>Have your references send their recommendation letters to:
  <address>
    <a href="mailto:don.goelman@villanova.edu">
    Dr. Don Goelman
    </a><br />
    Department of Computing Sciences<br />
    Villanova University<br />
    800 Lancaster Avenue<br />
    Villanova, PA 19085-1699
  </address>
</p>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}