{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>Computer Science Major</h2>



<p style="text-align: justify;">The degree requirements for a Computer Science (CS) major include 16 courses in

   computing. Also please note that the <a href="/academics/scienceMath">

  science and mathematics requirements</a> for a CS major are more

  specific than those defined in the Enchiridion. In addition, a Computer

Science major must fulfill the remaining core requirements of the College of Liberal Arts and Sciences.</p>



<p>The <a href="/academics/sample">sample program</a>) shows how a CS major could 

fulfill all of the degree requirements in a typical four year period.<p>  



<p>The following CSC courses are required for a CS major:</p>



<table class="courseList">

  

    <tr>

      <td  class="courseId">

    <a href="/courses/9">CSC 1051</a>

      </td>

      <td>Algorithms and Data Structures I</td>

      <td align="left">

          

           

          (or ECE 1620)

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/10">CSC 1052</a>

      </td>

      <td>Algorithms and Data Structures II</td>

      <td align="left">

          

           

          (or ECE 2620)

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/11">CSC 1300</a>

      </td>

      <td>Discrete Structures</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/13">CSC 1700</a>

      </td>

      <td>Analysis of Algorithms</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/14">CSC 1800</a>

      </td>

      <td>Organization of Programming Languages</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/18">CSC 2053</a>

      </td>

      <td>Platform Based Computing</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/100">CSC 2300</a>

      </td>

      <td>Statistics for Computer Science</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/19">CSC 2400</a>

      </td>

      <td>Computing Systems I</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/20">CSC 2045</a>

      </td>

      <td>Computing Systems II</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/28">CSC 4170</a>

      </td>

      <td>Theory of Computation</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/34">CSC 4480</a>

      </td>

      <td>Principles of Database Systems</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/41">CSC 4700</a>

      </td>

      <td>Software Engineering</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

    <tr>

      <td  class="courseId">

    <a href="/courses/44">CSC 4790</a>

      </td>

      <td>Senior Projects</td>

      <td align="left">

          

           

          

          

      </td>

    </tr>

  

</table>



<p>Plus three <a href="/academics/majorElectives">CSC elective courses</a> approved for the CS BS degree.</p>



<p>Finally, a CS major must take <a href="/courses/98">PHI 2180</a> Computer Ethics which replaces the Core Ethics course (Ethics 2050).

    

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
