{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
	
   <h2>Computer Science Minor</h2>

<p>Students in other majors are welcome to earn a minor in Computer
  Science. If you are interested in pursuing a Computer Science Minor, please 
  visit the office of the Department of Computing Sciences in Mendel 161 and 
  complete an application form.</p>

<p>The following courses are required for a Computer Science minor:</p>

<table class="courseList">
  
    <tr>
      <td  class="courseId">
        CSC 1051>
      </td>
      <td>Algorithms and Data Structures I</td>
      <td>
          
           
          (or ECE 1620)
          
      </td>
    </tr>
  
    <tr>
      <td  class="courseId">
        CSC 1052
      </td>
      <td>Algorithms and Data Structures II</td>
      <td>
          
           
          (or ECE 2620)
          
      </td>
    </tr>
  
    <tr>
      <td  class="courseId">
        CSC 1300
      </td>
      <td>Discrete Structures</td>
      <td>
          
           
          (or MAT 2600)
          
      </td>
    </tr>
  
    <tr>
      <td  class="courseId">
        CSC 1700
      </td>
      <td>Analysis of Algorithms</td>
      <td>
          
           
          
          
      </td>
    </tr>
  
    <tr>
      <td  class="courseId">
        CSC 2400
      </td>
      <td>Computing Systems I</td>
      <td>
          
           
          (or ECE 2042)
          
      </td>
    </tr>
  
    <tr>
      <td  class="courseId">
        CSC 4480
      </td>
      <td>Principles of Database Systems</td>
      <td>
          
           
          
          
      </td>
    </tr>
  
</table>

<p>Plus two <a href="/academics/minorElectives">elective courses approved for CS minors</a>.</p>

       </div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
