{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>BSCS Program Educational Objectives and Student Outcomes</h2>



<p class="intro">Listed below are the objectives and related outcomes for the

  undergraduate program at Villanova University leading to the Bachelor of Science

  (BS) degree in Computer Science (CS). This program is offered by the Department

of Computing Sciences.</p>



<div class="block">

  <h3>Objective 1</h3>

  <p>To provide graduates with a thorough understanding of the key principles and

  practices of computing.</p>

  <h4>Outcomes:</h4>

  <ol>

    <li>Students will demonstrate understanding of the core areas of algorithms,

      theory of computation, operating systems, linguistics of programming languages,

    and architecture.</li>

    <li>Students will demonstrate proficiency in software development, including

    problem analysis, software design, and the use of programming languages and tools.</li>

    <li>Students will successfully apply these principles and practices to a variety

    of problems, including ones not previously encountered.</li>

  </ol>

</div>



<div class="block">

  <h3>Objective 2</h3>

  <p>To provide graduates with firm foundations in the scientific, mathematical, 

  and engineering principles that support the computing disciplines, 

  and in communication. </p>

  <h4>Outcomes:</h4>

  <ol>

    <li>Students will demonstrate an ability to communicate effectively.</li>

    <li>Students will have the ability to work effectively in teams.</li>

    <li>Students will successfully develop a major project.</li>

    <li>Students will understand and apply concepts of discrete and continuous

    mathematics.</li>

    <li>Students will understand and apply the scientific method. </li>

  </ol>

</div>



<div class="block">

  <h3>Objective 3</h3> 

  <p>To develop the total person, one with intellectual curiosity, mature judgment,

  and a commitment to the betterment of society.</p>

  <h4>Outcomes:</h4>

  <ol>

    <li>Students will obtain familiarity with basic ideas and contemporary issues in

    the social sciences and humanities.</li>

    <li>Students will obtain an understanding of social, professional and ethical

    issues in computing.</li>

  </ol>

</div>



<div class="block">

  <h3>Objective 4</h3>

  <p> To prepare students to contribute to the computing profession. </p>

  <h4>Outcomes:</h4>

  <ol>

    <li>Graduates will be prepared for employment in high-technology companies that

    utilize their computing education.</li>

    <li>Strong graduates from the program will be prepared for good graduate programs

    in computing.</li>

    <li>Students will be prepared for self-directed continuing learning and staying

    current with technological developments.</li>

  </ol>

</div>

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
