{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">



    <h2>Fluency in Information Technology (FIT) Certificate</h2>



<p>Recognizing the need for all educated people to have a level of fluency in information and computing related topics, the Department of Computing Sciences offers a new option for obtaining that fluency and for documenting the accomplishment with a certificate.</p>  



<p>The certificate addresses the goals set forth in a report from the National Research Council: 

<p><i>FIT individuals, those who know a starter set of information technology skills, who understand the basic concepts on which information technology is founded, and who have engaged in the higher level thinking embodied in the intellectual capabilities, should use information technology confidently, should come to work ready to learn new business systems quickly and use them effectively, should be able to apply information technology to personally relevant problems, and should be able to adapt to the inevitable change as information technology evolves over their lifetime.</i>[1]</p>



<p>The FIT certificate recognizes that most of our graduates will not aspire to careers in computing, but that all will have many occasions to draw on the problem solving approaches and the higher level thinking abilities inherent in the computing field.  Unlike other options for a major, minor or concentration, the FIT certificate comprises only courses with no prerequisites, courses that are accessible to any student at the university.</p>



<p><b>Required, Two courses:</b>

<br>

<a href="/courses/6">CSC 1035</a>. Databases for Many Majors. <i>Databases are everywhere. Be prepared!</i>

<br>

<a href="/courses/45">CSC 4797</a>. Capstone. <i>Integrate your computing knowledge with your own major</i>

</p>



<p><b>Electives, Two courses from many options:</b>

<br>

Any CSC course, of at least three credits, with no prerequisites counts. Options include

<br>

<ul>

<li><a href="/courses/3">Computing and the Web</a>

<li><a href="/courses/5">Problem solving with computers</a>

<li><a href="/courses/7">Computing with images</a>

<li><a href="/courses/8">Algorithms, cartoons, animations</a>

<li><a href="/courses/9">Algorithms & Data Structures I</a>

<li><a href="/courses/16">Web Development and Technologies</a>


</ul></p>



<p>In summary, the FIT certificate provides a fundamental understanding of the computing technologies of the 21st century. It prepares students for general understanding of the technologies that will greatly influence the way they live and work, and the ties that understanding to their chosen major field of study.</p>


<p>If you are interested in pursuing a FIT Certificate, please visit the office of the Department of Computing Sciences in Mendel 161 and complete an application form.</p>



<p>[1] Committee on Information Technology Literacy, National Research Council

Being Fluent with Information Technology

<a href='http://www.nap.edu.openbook.php?record_id=6482' target='_blank'>http://www.nap.edu.openbook.php?record_id=6482</a> 1999 The National Academies Press

</p>







    </div>



{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
