{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>Graduate Programs</h2>
  <p>Currently, there are approximately 30 full-time and
    160 part-time students enrolled in the graduate programs supported by the Department of Computing Sciences. The majority are working
    in high-tech fields near Villanova, though there is a wide range of
    backgrounds because many students enroll for the purpose of changing
  fields.</p>
  <p>There are several avenues of information available to you to learn about our programs:
  </p><ul>
  <li>Below are descriptions of our MS in Computer Science, MS in Software Engineering, Certificates, and integrated BS/MS programs. Follow the links provided in each section to learn more about prerequisites, requirements, and guidelines for applications.</li>
  <li>You can visit the web pages of the Office of Graduate Studies in the
    College of Liberal Arts and Sciences at <a href="http://www.gradartsci.villanova.edu" target="_blank">www.gradartsci.villanova.edu</a>
    to request additional information, view application deadlines or to
  begin your online application.</li>
  <li>You can use these links to <a href="http://www1.villanova.edu/villanova/artsci/graduate/application.html"  target="_blank">Start Your On-Line Application</a> or to <a href="http://www1.villanova.edu/villanova/artsci/graduate/request_info.html"  target="_blank">Request More Information</a>.</li>
  <li>Contact Dr. Vijay Gehlot, the Program Director, at
    <a href="mailto:gradcomputing@villanova.edu">gradcomputing@villanova.edu</a>
  or 610-519-7310 to discuss your interest in doing graduate work.</li>
</ul>
<p></p>
<h3>MS in Computer Science</h3>
<p>This program leads to a Master of Science (MS) degree in Computer
  Science. It provides expertise in applied and basic computing through
  its course offerings in computer systems, theory,
  languages, and algorithms. It is designed to prepare students for a
  career as a computing professional, though some students go on to pursue
a Ph.D. degree at another university.</p>

<p><a href="/academics/msProgram">MSCS Program Requirements</a></p>

<h3>MS in Software Engineering</h3>
<p>This program leads to a Master of Science (MS) degree in
  Software Engineering. It prepares students for either a career in software engineering
  or for advanced study in the field.  In addition to providing the practical
  knowledge and experience needed to specify, design, develop, and maintain
  today's software systems, the program includes the theoretical knowledge
that informs the practice.</p>

<p><a href="/academics/msseProgram">MSSE Program Requirements</a></p>

<h3>BS/MS Integrated Programs</h3>
<p>
  While still pursuing their undergraduate work at Villanova, qualified
  students can enroll in the <a href="/academics/bsms"> BS/MS Integrated programs</a>, 
  which allows a Computer Science major to earn a Master of Science (MS) degree 
  in either Computer Science or in Software Engineering with only one additional
  year of study.</p>
<dl>
  <dt>
    <a href="/academics/bsms">BS/MS Integrated programs</a>
  </dt>
</dl>
<h3>BIS/MS Integrated Program</h3>
<p>Part time students who are working on a BIS (Bachelor of Interdisciplinary Studies) in
  Information Systems can extend their studies to earn a Masters in Software
Engineering.</p>
<dl>
  <dt><a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/bisms_software.htm" target="_blank">
  BIS with a MS in Software Engineering</a></dt>
</dl>
<h3>Online Graduate Certificate in Health Informatics</h3>
<p>This on-line certificate program is designed to meet the national need for health IT professionals. The certificate requirements are made up of five three-credit courses, doable within a year.</p>
<dl>
  <dt>
    <a href="/academics/hiProgram">Online Certificate in Health Informatics</a>
  </dt>
</dl>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
