{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">



<h2>Online Graduate Certificate in HEALTH INFORMATICS</h2>

<h3>Program Highlights</h3>
<ul>
<li>100% online</li>
<li>Option to transition into a full masters program in Software Engineering with all CHI credits</li>
<li>Aimed to meet national need for health IT professionals</li> 
<li>Competitive tuition</li>
<li>Full tuition coverage available for veterans, under Post-9/11 GI Bill</li>
</ul>

<p>The certificate requirements are made up of five 3-credit courses, doable within a year:</p>

<table class="courseList">
    <tr>
      <td  class="courseId">
        <a href="/courses/200">CSC 8200</a>
      </td>
      <td>Health Informatics and eHealth Systems</td>
    </tr>

    <tr>
      <td  class="courseId">
        <a href="/courses/210">CSC 8210</a>
      </td>
      <td>Healthcare Safety, Security, Law and Ethics</td>
    </tr>

    <tr>
      <td  class="courseId">
        <a href="/courses/220">CSC 8220</a>
      </td>
      <td>Software Engineering and Health Informatics</td>
    </tr>

    <tr>
      <td  class="courseId">
        <a href="/courses/230">CSC 8230</a>
      </td>
      <td>Database Systems and Health Informatics</td>
    </tr>

    <tr>
      <td  class="courseId">
      <a href="/courses/88">CSC 9010</a>
      </td>
      <td>Special Topics</td>
    </tr>
</table>

<h3>Admission Requirements</h3>
Admission to the graduate certificate in Health Informatics program requires a bachelor's degree from an accredited college or university. In addition, 3+ years of work experience in health, IT, or a related technical field is required. A computer programming background, either through formal courses or on-the-job training, is a requirement. Thus, a resume listing the candidate's position and responsibilities will be part of the required documents for the application process. In addition, a written statement of purpose and career goals, plus at least two letters of recommendation, will be required. Students can begin in the Summer, Fall, or Spring semester.

<h3>More Information:</h3>
<ul>
<li>Vijay Gehlot, PhD. <a href="mailto:Vijay.gehlot@villanova.edu">Vijay.gehlot@villanova.edu</a></li>
<li>Elliot Sloane, PhD. <a href="mailto:Elliot.sloane@villanova.edu">Elliot.sloane@villanova.edu</a>, <a href="mailto:ebsloane@gmail.com">ebsloane@gmail.com</a></li> 
</ul>

</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
