{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2> Academics </h2>
		<p>
			The Department of Computing Sciences offers a variety of challenging technical programs, all designed to establish a foundation of understanding in a broad spectrum of computing. A graduate of our department is prepared for a career in computing as well as the pursuit of further advanced study.
		</p>
		<p>
			We offer several <a href="/academics/undergraduate" title="Undergraduate Programs">undergraduate programs</a> including an ABET accredited Bachelor of Science (BS) degree in Computer Science.
		</p>
		<p>
			Our <a href="/academics/graduate" title="Graduate Programs">graduate programs</a> lead to a Master of Science (MS) degree in Computer Science and in Software Engineering.
		</p>
		<p>
			We also offer/support:
		</p>
		<ul>
			<li><a href="/academics/bsms" title="Five Year BS/MS">A 5-year Integrated program</a></li>
			<li><a href="/academics/soon" title="CS Minor">A minor in Computer Science</a></li>
			<li><a href="/academics/FIT" title="FIT Certificate">Fluency in Information Technology Certificate</a></li>
			<li><a href="http://www1.villanova.edu/villanova/artsci/cogsci.html" title="Cognitive Science">A concentration or minor in Cognitive Science</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/infosystems.html" title="Information Systems">A major or certificate in Information Systems for adult learners</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/mediatech.html" title="Media and Technology">A major in Media and Technology for adult learners</a></li>
			<li>Several courses for non-majors</li>
		</ul>
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
