{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2> Academics </h2>
		<p>
			The Department of Computing Sciences offers a variety of challenging technical programs, all designed to establish a foundation of understanding in a broad spectrum of computing. A graduate of our department is prepared for a career in computing as well as the pursuit of further advanced study.
		</p>
		<p>
			We offer <a href="/academics/undergraduate" title="Undergraduate Programs">undergraduate programs</a> leading to a Bachelor of Science (BS) degree in Computer Science.
		</p>
		<p>
			Our <a href="/academics/graduate" title="Graduate Programs">graduate programs</a> lead to a Master of Science (MS) degree in Computer Science and in Software Engineering.
		</p>
		<p>
			We also offer and support:
		</p>
		<ul>
			<li>A 5-year Integrated program</li>
			<li>Minors in Computer Science and Information Systems</li>
			<li>A concentration or minor in Cognitive Science</li>
			<li>A major in Information Systems for adult learners</li>
			<li>A major in Media and Technology for adult learners</li>
			<li>Living in the Knowledge Society</a></li>
			<li>Several courses for non-majors</li>
		</ul>
		
		<p>
			All students in the CSC department are assigned an <a href="/aboutUs/faculty" title="Academic Advising Team">academic advising team</a> who help with course schedules and other inquiries. Every student in our department is expected to maintain the highest degree of academic integrity.
		</p>
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}