{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

div>
{ for the Computer Science Major</h2>



<table class="courseList">

  

    <tr>

      <td class="courseId">

       >CSC 2993

      </td>

      <td>Internship in Computing</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 3080

      </td>

      <td>Information Security and Protection</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 3400

      </td>

      <td>Information Retrieval</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 3990

      </td>

      <td>Computing Research Topics</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4140

      </td>

      <td>Theory of Information</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4181

      </td>

      <td>Compiler Construction</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4200

      </td>

      <td>Advanced Algorithms and Complexity</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4280

      </td>

      <td>Parallel Algorithms and Architecture</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4300

      </td>

      <td>Computer Graphics</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4380

      </td>

      <td>Information Visualization</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4490

      </td>

      <td>Data Warehousing and Mining</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4500

      </td>

      <td>Artificial Intelligence</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4510

      </td>

      <td>Machine Learning</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4550

      </td>

      <td>Expert and Knowledge Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4600

      </td>

      <td>Distributed Processing Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4630

      </td>

      <td>Software Development and Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4730

      </td>

      <td>Human Computer Interaction</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4800

      </td>

      <td>Web Application Development</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 4900

      </td>

      <td>Computer Networks</td>

    </tr>

  

    <tr>

      <td class="courseId">

      CSC 5900

      </td>

      <td>Seminar in Computing</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 5930

      </td>

      <td>Topics in Computer Science</td>

    </tr>

  

    <tr>

      <td class="courseId">

       CSC 5993

      </td>

      <td>Independent Study</td>

    </tr>

  

</table> %}
{% block footer %}
	{{ super() }}
{% endblock %}
