{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<h2>Approved electives for the Computer Science Major</h2>

<table class="courseList">
  
    <tr>
      <td class="courseId">
        <a href='/courses/22'>CSC 2993</a>
      </td>
      <td>Internship in Computing</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/24'>CSC 3080</a>
      </td>
      <td>Information Security and Protection</td>
    </tr>

    <tr>
      <td class="courseId">
        <a href='/courses/102'>CSC 3150</a>
      </td>
      <td>Game Development</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/course/25'>CSC 3400</a>
      </td>
      <td>Information Retrieval</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/26'>CSC 3990</a>
      </td>
      <td>Computing Research Topics</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/27'>CSC 4140</a>
      </td>
      <td>Theory of Information</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/29'>CSC 4181</a>
      </td>
      <td>Compiler Construction</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/31'>CSC 4280</a>
      </td>
      <td>Parallel Algorithms and Architecture</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/32'>CSC 4300</a>
      </td>
      <td>Computer Graphics</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/33'>CSC 4380</a>
      </td>
      <td>Information Visualization</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/103'>CSC 4450</a>
      </td>
      <td>Digital Forensics</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/35'>CSC 4490</a>
      </td>
      <td>Data Warehousing and Mining</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/36'>CSC 4500</a>
      </td>
      <td>Artificial Intelligence</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/37'>CSC 4510</a>
      </td>
      <td>Machine Learning</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/38'>CSC 4550</a>
      </td>
      <td>Expert and Knowledge Systems</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/104'>CSC 4598</a>
      </td>
      <td>Machine Translation</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/39'>CSC 4600</a>
      </td>
      <td>Distributed Processing Systems</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/40'>CSC 4630</a>
      </td>
      <td>Software Development and Systems</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/43'>CSC 4730</a>
      </td>
      <td>Human Computer Interaction</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/46'>CSC 4800</a>
      </td>
      <td>Web Application Development</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/47'>CSC 4900</a>
      </td>
      <td>Computer Networks</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/48'>CSC 5900</a>
      </td>
      <td>Seminar in Computing</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/49'>CSC 5930</a>
      </td>
      <td>Topics in Computer Science</td>
    </tr>
  
    <tr>
      <td class="courseId">
        <a href='/courses/51'>CSC 5993</a>
      </td>
      <td>Independent Study</td>
    </tr>
  
</table>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
