{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

    

<h2>Approved electives for the M.S. in Computer Science</h2>



<table class="courseList">

  

    <tr>

      <td class="courseId">

        CSC 8470

      </td>

      <td>Computer Graphics</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8490

      </td>

      <td>Database Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8500

      </td>

      <td>Formal Grammars and Programming Language Theory</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8505

      </td>

      <td>Compiler Construction</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8520

      </td>

      <td>Artificial Intelligence</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8530

      </td>

      <td>Distributed Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8540

      </td>

      <td>Software Engineering</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8550

      </td>

      <td>Concepts of Data Communications</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8560

      </td>

      <td>Computer Networks</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8570

      </td>

      <td>User/System Interface Design</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8580

      </td>

      <td>Network Management and Performance</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8590

      </td>

      <td>Advanced Software Engineering</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8600

      </td>

      <td>Object-Oriented Design and Programming</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8610

      </td>

      <td>Multimedia Technology</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8700

      </td>

      <td>System Programming in UNIX and C</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8710

      </td>

      <td>Advanced System Programming</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8720

      </td>

      <td>System Administration Concepts</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8750

      </td>

      <td>Expert Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 8990

      </td>

      <td>Graduate Computing Practicum</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 9010

      </td>

      <td>Special Topics</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 9025

      </td>

      <td>Grand Challenges of Computing</td>

    </tr>

  

    <tr>

      <td class="courseId">

        CSC 9030

      </td>

      <td>Thesis</td>

    </tr>

  

</table>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
