{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

    <h2>MSCS and MSSE Program Application Guidelines</h2>
<h3>How to apply</h3>
<ol>

<p><strong>Applicants to the Degree Program</strong> should submit the following materials:</p>

<ul>

  <li><strong>Application:</strong> Complete the <a href="http://www1.villanova.edu/villanova/artsci/graduate/application.html">online application form</a>. </li>

  <li><strong>Application fee:</strong> Follow the instructions you receive during your application process. The fee may be waived for students with a Villanova degree or for students registering during our graduate open house.</li>

  <li><strong>Transcripts:</strong> Official transcripts of all previous college work (undergraduate and graduate where 

  applicable). One copy of each. Applicants in their last year of undergraduate study who have not completed

  their bachelor's degree should provide an official transcript of all courses completed at the time of 

  application, and submit another official transcript when the undergraduate degree is completed.</li>

  <li><strong>Three Letters of Recommendation:</strong> Please use the form found on the online application.  </li>

  <li><strong>Graduate Record Examination:</strong> Please note that GRE scores from tests taken more than five years

  before the date of application will not be accepted. GMAT scores are acceptable as a substitute for GRE.

  GRE requirement may be waived for applicants with substantial professional working experience.</li>

</ul>



<p>

If you have any questions you may contact Dr. Vijay Gehlot, the Program Director, at 

<a href="mailto:gradcomputing@villanova.edu">gradcomputing@villanova.edu</a>

 or 610-519-7310.

</p>


 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
