{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

    <h2>Admissions</h2>





<h3>Requirements</h3>



<p>

Applicants to the Master's program in Computer Science must hold a bachelor's degree

from an institution accredited by one of the regional accrediting agencies, with an 

undergraduate GPA of at least 3.0. In addition, they must meet the following 

undergraduate prerequisites:

</p>



<p><strong>Programming Proficiency:</strong> Students entering either of our 

  graduate programs are required to have proficiency in a modern computer programming 

  language such as Java, C++, or C. Because of the importance of the object 

  paradigm in modern computing systems, Java, C++ or another object-oriented

  language is highly recommended. Programming proficiency must include the 

following:</p>



<ul>

  <li>Fundamental data structures, such as arrays, lists, stacks, queues,

  and trees</li>

  <li>Elementary iterative and recursive algorithms, including searching

  and sorting techniques</li>

</ul>



<p><strong>Computing Systems:</strong> Undergraduate work in computer

  organization or computer architecture and operating systems is required.

The relevant topics include the following:</p>



<ul>

  <li>Information representation</li>

  <li>CPU organization, operation, instructions sets, scheduling</li>

  <li>Memory organization, memory management</li>

  <li>File systems</li>

  <li>Concurrency, processes, threads</li>

</ul>



<p><strong>Mathematical Preparation:</strong> An undergraduate course in discrete 

  structures (sometimes called discrete mathematics) is necessary for many

  aspects of computing. Additional requirements include two semester of calculus

plus probability and statistics.</p>



<h3>Options for Meeting the Prerequisites</h3>



<p>The prerequisites may be completed at any accredited college or university,

including community colleges. Villanova offers the required prerequisite 

undergraduate courses that may be taken through the part-time studies program 

if not already enrolled at Villanova. Those courses are:

<ul>

<li>CSC 1051: Algorithms and Data Structures I</li>

<li>CSC 1052: Algorithms and Data Structures II</li>

<li>CSC 1300: Discrete Structures</li>

<li>CSC 2400: Computing Systems I</li>

</ul>

</p>



<h3><strong>International Students</strong> need to submit additional application materials:</h3>

<ul>

  <li>Official TOEFL scores.</li>

  <li>Credentials Evaluation.</li>

  <li>Financial Certification.</li>

</ul>



<p><strong>&nbsp;&nbsp;Send all application materials to:</strong></p>

<p>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		Office of Graduate Studies <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		College of Liberal Arts and Sciences <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		Villanova University <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		800 Lancaster Avenue <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		Villanova, PA 19085

</p>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
