{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

<h2>Approved electives for the M.S. in Software Engineering</h2>



<table class="courseList">

  

    <tr>

      <td class="courseId">

        <a href="/courses/56">CSC 8301</a>

      </td>

      <td>Design and Analysis of Algorithms</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/57">CSC 8310</a>

      </td>

      <td>Linguistics of Programming Languages</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/60">CSC 8470</a>

      </td>

      <td>Computer Graphics</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/66">CSC 8520</a>

      </td>

      <td>Artificial Intelligence</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/67">CSC 8530</a>

      </td>

      <td>Distributed Systems</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/72">CSC 8560</a>

      </td>

      <td>Computer Networks</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/73">CSC 8570</a>

      </td>

      <td>User/System Interface Design</td>

    </tr>

  

    <tr>

      <td class="courseId">

       <a href="/courses/76">CSC 8600</a>

      </td>

      <td>Object-Oriented Design and Programming</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/85">CSC 8990</a>

      </td>

      <td>Graduate Computing Practicum</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/88">CSC 9010</a>

      </td>

      <td>Special Topics</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/91">CSC 9025</a>

      </td>

      <td>Grand Challenges of Computing</td>

    </tr>

  

    <tr>

      <td class="courseId">

       <a href="/courses/92">CSC 9030</a>

      </td>

      <td>Thesis</td>

    </tr>

  

    <tr>

      <td class="courseId">

        <a href="/courses/95">ECE 8471</a>

      </td>

      <td>Software Reliability</td>

    </tr>

  

</table>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
