{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

  <h2>MSSE Program Requirements</h2>

<p>The degree requirements are made up of ten 3-credit courses.</p>

<p>Please review the <a href="/academics/msPrerequisites">prerequisites</a>
to this program prior to applying. Follow the <a href="/academics/msGuidelines">application guidelines</a> when applying.</p>



<p>Required Courses for the M.S. Degree in Software Engineering:</p>



<table class="courseList">

  

    <tr>

      <td  class="courseId">

        <a href="/courses/54">CSC 8000</a>

      </td>

      <td>Foundations of Algorithms and Data Structures</td>

    </tr>

  

    <tr>

      <td  class="courseId">

        <a href="/courses/58">CSC 8400</a>

      </td>

      <td>Computer Systems</td>

    </tr>

  

    <tr>

      <td  class="courseId">

        <a href="/courses/61">CSC 8490</a>

      </td>

      <td>Database Systems</td>

    </tr>

  

    <tr>

      <td  class="courseId">

       <a href="/courses/68">CSC 8540</a>

      </td>

      <td>Software Engineering</td>

    </tr>

  

    <tr>

      <td  class="courseId">

       <a href="/courses/69">CSC 8541</a>

      </td>

      <td>Requirements Engineering</td>

    </tr>

  

    <tr>

      <td  class="courseId">

       <a href="/courses/70">CSC 8542</a>

      </td>

      <td>Software Design and Evolution</td>

    </tr>

  

</table>



<p>Plus four <a href="/academics/msseElectives">elective

courses</a> approved for the Software Engineering M.S. degree.</p>



<p>Note that the electives include the thesis course

  (<a href="/courses/92">CSC 9030</a>), which

  is designed to extend the Grand Challenges course work into a full master's thesis.

  This is an attractive option for students considering further graduate

education.</p>



<p>Students may choose to participate in the practicum track that adds

  a 1-credit course (<a href="/courses/85">CSC 8990</a>) to the requirements. This track requires work experience

in a related field.</p>



<p>More Information:</p>

<dl>

  <dt><a href="/academics/msProgram/prerequisites">Prerequisites</a></dt>

  <dt><a href="/academics/msseProgram/electives">Elective Courses</a></dt>

  <dt><a href="/gradGC">Grand Challenges</a></dt> 

</dl>
 
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
