{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2> Other Academic Programs </h2>
		<p>
			In addition to our accredited undergradate BS in Computer Science degree and our graduate MS degrees in Computer Science and in Software Engineering, the Department of Computing Sciences offers or supports a variety of other programs:
		</p>
		<ul>
			<li><a href="/academics/bsms" title="Five Year BS/MS">A 5-year Integrated program</a></li>
			<li><a href="/academics/csminor" title="CS Minor">A minor in Computer Science</a></li>
			<li><a href="/academics/FIT" title="FIT Certificate">Fluency in Information Technology Certificate</a></li>
			<li><a href="http://www1.villanova.edu/villanova/artsci/cogsci.html" title="Cognitive Science">A concentration or minor in Cognitive Science</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/infosystems.html" title="Information Systems">A major or certificate in Information Systems for adult learners</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/mediatech.html" title="Media and Technology">A major in Media and Technology for adult learners</a></li>
			<li>Several courses for non-majors</li>
                        <ul>
                            <li>CSC 1000 - The Practice of Computing</li>
                            <li>CSC 1010 - Programming for All</li>
                            <li>CSC 1020 - Computing and the Web</li>
                            <li>CSC 1024 - Computing for Scientists</li>
                            <li>CSC 1030 - Problem Solving with Computers </li>
                            <li>CSC 1035 - Databases for Many Majors </li>
                            <li>CSC 1040 - Computing with Images </li>
                            <li>CSC 1043 - Laptop Instrument </li>
                            <li>CSC 1045 - Algorithms, Cartoons, and Animation </li>
                        </ul>    
		</ul>
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
