{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">
		<h2> Other Academic Programs </h2>
		<p>
			In addition to our accredited undergradate BS in Computer Science degree and our graduate MS degrees in Computer Science and in Software Engineering, the Department of Computing Sciences offers or supports a variety of other programs:
		</p>
		<ul>
			<li><a href="/academics/bsms" title="Five Year BS/MS">A 5-year Integrated program</a></li>
			<li><a href="/academics/csminor" title="CS Minor">A minor in Computer Science</a></li>
			<li><a href="/academics/FIT" title="FIT Certificate">Fluency in Information Technology Certificate</a></li>
			<li><a href="http://www1.villanova.edu/villanova/artsci/cogsci.html" title="Cognitive Science">A concentration or minor in Cognitive Science</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/infosystems.html" title="Information Systems">A major or certificate in Information Systems for adult learners</a></li>
			<li><a href="http://www1.villanova.edu/villanova/professionalstudies/UGdegrees/mediatech.html" title="Media and Technology">A major in Media and Technology for adult learners</a></li>
			<li>Several courses for non-majors</li>
                        <ul>
                            <li><a href="/courses/1">CSC 1000</a> - The Practice of Computing</li>
                            <li><a href="/courses/2">CSC 1010</a> - Programming for All</li>
                            <li><a href="/courses/3">CSC 1020</a> - Computing and the Web</li>
                            <li><a href="/courses/4">CSC 1024</a> - Computing for Scientists</li>
                            <li><a href="/courses/5">CSC 1030</a> - Problem Solving with Computers </li>
                            <li><a href="/courses/6">CSC 1035</a> - Databases for Many Majors </li>
                            <li><a href="/courses/7">CSC 1040</a> - Computing with Images </li>
                            <li><a href="/courses/101">CSC 1043</a> - Laptop Instrument </li>
                            <li><a href="/courses/8">CSC 1045</a> - Algorithms, Cartoons, and Animation </li>
                        </ul>    
		</ul>
	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
