{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">


<h2>CSC - Course Offering Plan</h2>
<h3>(pending sufficient enrollment)</h3>
<table border="1">
<tr><td>&nbsp;</td><td>&nbsp;</td><td>Fall</td><td>Spring</td><td>Summer</td></tr>
<tr><td>CSC1010</td><td>Programming for All</td><td>Y</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC1020</td><td>Computing and the Web</td><td>Y</td><td>&nbsp;</td><td>Y</td></tr>
<tr><td>CSC1035</td><td>Databases for many majors</td><td>&nbsp;</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC1040</td><td>Computing w/ images</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC1043</td><td>Laptop Instrument</td><td>&nbsp;</td><td>even years</td><td>&nbsp;</td></tr>
<tr><td>CSC1051</td><td>Alg. & Data Str. I</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC1052</td><td>Alg. & Data Str. II</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC1300</td><td>Discrete Structures</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC1600</td><td>Operating Systems</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC1700</td><td>Analysis of Algorithms</td><td>Y</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC1800</td><td>Organization of Programming Languages</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC1930</td><td>Exploring Computer Science</td><td>&nbsp;</td><td>topics vary</td><td>&nbsp;</td></tr>
<tr><td>CSC2014</td><td>Java Bootcamp</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC2020</td><td>Web Development & Technology</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC2053</td><td>Platform based computing</td><td>Y</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>PHI2180</td><td>Computer Ethics</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC2300</td><td>Statistics for CS</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>MSE2400</td><td>Mendel Science Experience</td><td>Y</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC2400</td><td>Computer Systems I</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td>CSC2405</td><td>Computer Systems II</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC2500</td><td>Survey of Inf. Sci.</td><td>&nbsp;</td><td>odd years</td><td>&nbsp;</td></tr>
<tr><td>CSC3070</td><td>Emerging Tech Trends</td><td>fast forward course</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC3080</td><td>Info Security & Protect</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC3150</td><td>Game Development</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC3300</td><td>Linear Algebra for Computing</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC3400</td><td>Information Retrieval</td><td>odd years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>BIO3955</td><td>Bioinformatics</td><td>even years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>BIO3955</td><td>Info of Cell Signaling</td><td>&nbsp;</td><td>odd years</td><td>&nbsp;</td></tr>
<tr><td>CSC4140</td><td>Theory of Information</td><td>even years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4170</td><td>Theory of Computation</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4181</td><td>Compiler Construction</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4280</td><td>Parallel Algorithms & Architectures</td><td>even years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4300</td><td>Computer Graphics</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4380</td><td>Information Visualization</td><td>Y (skip F17)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4450</td><td>Digital Forensics</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4480</td><td>Principles of Database systems</td><td>Y</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4490</td><td>Data Warehousing & Mining</td><td>Y (skip F17)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4500</td><td>Artificial Intelligence</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4510</td><td>Machine Learning</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4598</td><td>Machine Translation</td><td>even years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4630</td><td>Software Development & Systems</td><td>&nbsp;</td><td>odd years</td><td>&nbsp;</td></tr>
<tr><td>CSC4700</td><td>Software Engineering</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4710</td><td>Information Systems Project Management</td><td>fast forward course</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4730</td><td>Human Computer Interaction</td><td>odd years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4790</td><td>Senior Projects</td><td>Y</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC4797</td><td>Information Systems Capstone</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4800</td><td>Web App Development</td><td>&nbsp;</td><td>Y</td><td>&nbsp;</td></tr>
<tr><td>CSC4900</td><td>Networks</td><td>even years</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>CSC5930</td><td>Topics in CS</td><td>topics vary</td><td>topics vary</td><td>&nbsp;</td></tr>

</table>

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
