{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

     <h2>Sample Program for CSC Majors</h2>



<p>The program leading to the degree of Bachelor of Science in Computer Science 

is designed to introduce students to the major aspects of computer science.  

By selecting appropriate electives students may become well prepared either 

for positions in industry or for graduate study in computer science and related disciplines.</p>

<p> A sample program, subject to variation at the discretion of the student 

and the student's advisor, follows. Further area and 

writing requirements are described in the Bulletin.</p>



<div id="sampleProgram">

  <h3>Freshman</h3>

  <div>

    <h4>First Semester</h4>

    <table>

      <tr><td>Algorithms and Data Structures I (CSC 1051)</td>

      <td>4</td></tr>

     <tr><td>Enrichment Seminar (CSC 1990)</td>

      <td>1</td></tr>


	  <tr><td>Introductory

        Humanities (PHI 1000)</td>

      <td>3</td></tr>

      <tr><td>Calculus I (MAT 1500)</td>

      <td>4</td></tr>     

      <tr><td>Foreign

        Language</td>

      <td>3</td></tr>

      <tr><td> (ACS 1000)</td>

      <td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 18</td></tr>

    </table>

  </div>

  

  <div>

    <h4>Second Semester</h4>

    <table>

      <tr><td>Algorithms and Data Structures II (CSC 1052)</td>

      <td>4</td></tr>

      <tr><td>Discrete Structures (CSC 1300)</td>

      <td>3</td></tr>

      <tr><td>Calculus II (MAT 1505)</td>

	  <td>4</td></tr>

      <tr><td>Foreign Language</td>

      <td>3</td></tr>

      <tr><td>Humanities Seminar (ACS 1001)</td><td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 17</td></tr>

    </table>

  </div>

  

  <h3>Sophomore</h3>

  

  <div>

    <h4>First Semester</h4>

    <table>

      <tr><td>Computing Systems I (CSC 2400)</td>

      <td>3</td></tr>

      <tr><td>Algorithms and Data Structures III (CSC 2053)</td>

      <td>3</td></tr>

      <tr><td>Social Science</td>

      <td>3</td></tr>

	  <tr><td>Science I  (with laboratory)*</td>

      <td>4</td></tr>

      <tr><td>Introductory Humanities (THL 1000)</td>

      <td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 16</td></tr>

    </table>

  </div>

  

  <div>

    <h4>Second Semester</h4>

    <table>

      <tr><td>Computing Systems II (CSC 2405)</td>

      <td>3</td></tr>

      <tr><td>Design and Analysis of Algorithms (CSC 1700)</td>

      <td>3</td></tr>

      <tr><td>Statistics for Computing

      </td><td>3</td></tr>

      <tr><td>Science II (with laboratory)*</td>

      <td>4</td></tr>

      <tr><td>Sophomore Writing seminar</td>

      <td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 16</td></tr>

    </table>

  </div>

  

  <h3>Junior</h3>

  <div>

    <h4>First Semester</h4>

    <table>

      <tr><td>Programming Languages (CSC 1800)</td>

      <td>3</td></tr>

      <tr><td>Theory of Computation (CSC 4170)</td>

      <td>3</td></tr>

      <tr><td>Database Systems (CSC 4480)</td>

      <td>3</td></tr>

	  <tr><td>Introductory Humanities (HIS ####)</td>

      <td>3</td></tr>

	  <tr><td>Advanced Humanities (THL 2000+)</td>

      <td>3</td></tr>     

      <tr><td colspan="2" class="total">Total Credits: 15</td></tr>

    </table>

  </div>

  

  <div>

    <h4>Second Semester</h4>

    <table>

      <tr><td>Software Engineering (CSC 4700)</td>

      <td>3</td></tr>

      <tr><td>Computer Science Elective</td>

      <td>3</td></tr>

	  <tr><td>Science/Math*</td>

	  <td>4</td></tr>

	  <tr><td>Ethical Issues in Computing (PHI 2180)</td>

      <td>3</td></tr>

	  <tr><td>Social Science</td>

      <td>3</td></tr>     

      <tr><td colspan="2" class="total">Total Credits: 16</td></tr>

    </table>

  </div>

  

  <h3>Senior</h3>

  <div>

    <h4>First Semester</h4>

    <table>

      <tr><td>Senior Project (CSC 4790)</td>

      <td>3</td></tr>

      <tr><td>Computer Science Elective</td>

      <td>3</td></tr>

	  <tr><td>Free Elective</td>

      <td>3</td></tr>

	  <tr><td>Free Elective</td>

      <td>3</td></tr>

	  <tr><td>Free Elective</td>

      <td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 15</td></tr>

    </table>

  </div>

  

  <div>

    <h4>Second Semester</h4>

    <table>

      <tr><td>Computer Science Elective</td>

      <td>3</td></tr>

	  <tr><td>Fine Arts</td>

      <td>3</td></tr>

      <tr><td>Science/Math*</td>

      <td>3</td></tr>

      <tr><td>Free Elective</td>

      <td>3</td></tr>

	  <tr><td>Free Elective</td>

      <td>3</td></tr>

      <tr><td colspan="2" class="total">Total Credits: 15</td></tr>

    </table>

  </div>

</div>



 <p>*A total of 30 credits of science/mathematics is required, 

including the 15 credits of mathematics achieved in required courses.</p>

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
