{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	<div id="content">

    <h2>Science and Math Requirements for CSC Majors</h2>



<p>October 28, 2015 - NOTE - The Computing Sciences department voted today in favor of replacing the science sequence requirement with two science courses with labs (8 credits total). This gives students the flexibility of selecting science courses (with labs) from different subject areas, as long as they satisfy the requirements listed below.</p> 



<p>Computer Science majors are required to take a two-semester science

  sequence with the appropriate laboratories. Any of the following sequences

can be used to fulfill this requirement.</p>



<table>

  <thead>

    <tr>

      <th>First Semester</th>

      <th>Credits</th>

      <th>Second Semester</th>

      <th>Credits</th>

    </tr>

  </thead>

  <tr>

    <td>AST 2120 / MSE 2150</td>

    <td>3 / 1</td>

    <td>AST 2122 / MSE 2151</td>

    <td>3 / 1</td>

  </tr>

  <tr>

    <td>AST 2121 / MSE 2151</td>

    <td>3 / 1</td>

    <td>AST 2123 / MSE 2151</td>

    <td>3 / 1</td>

  </tr>

  <tr>

    <td>BIO 2105</td>

    <td>4</td>

    <td>BIO 2106</td>

    <td>4</td>

  </tr>

  <tr>

    <td>CHM 1151 / CHM 1103</td>

    <td>4 / 1</td>

    <td>CHM 1152 / CHM 1104</td>

    <td>4 / 1</td>

  </tr>

  <tr>

    <td>GEV 1050</td>

    <td>4</td>

    <td>GEV 1051</td>

    <td>4</td>

  </tr>

  <tr>

    <td>PHY 1100 / PHY 1101</td>

    <td>3 / 1</td>

    <td>PHY 1102 / PHY 1103</td>

    <td>3 / 1</td>

  </tr>

  <tr>

    <td>PHY 2410 / PHY 2411</td>

    <td>3 / 1</td>

    <td>PHY 2412 / PHY 2413</td>

    <td>3 / 1 </td>

  </tr>

</table>



<p>Notes:</p>



<ul>

  <li>The biology and environmental science courses each include the lab under a single course number.</li>

  <li>The chemistry lecture is 4 credits, giving a combination of 5

  credits for a lecture and lab.</li>

  <li>The astronomy course numbers are "backwards" relative to the sequences.</li>    

  <li>There are two astronomy sequences that have one course in common.</li>

  <li>Students participating in the Honors program may substitute HON 1771

  for PHY 1101 and HON 1772 for PHY 1103.</li>

  <li>Any astronomy or biology course numbered 2000 and above</li>

  <li>Any chemistry course numbered 1151 and above</li>

  <li>Some GEV course numbered 1050 and above - check with your advisor</li>

  <li>Any meteorology or geology. ( The astronomy department offers a 1-credit meteorology lab if necessary )</li>

  <li>Any physics course numbered 1100 and above except PHY 1500</li>

</ul>



<p>The following mathematics courses are required:</p>



<table class="courseList">

  <tr>

    <td class="courseId">MAT 1500</td>

    <td>Calculus I</td>

    <td>4 credits</td>

  </tr>

  <tr>

    <td class="courseId">MAT 1505</td>

    <td>Calculus II OR CSC 4200 Linear Algebra for Computing</td>

    <td>4 credits</td>

  </tr>

</table>





<p>In addition to the four courses described above (the two science courses with labs and the two mathematics courses), a CSC major

must take at least two more Mathematics/Science courses

totaling at least seven credits.

Any mathematics course with substantive quantitative content

and any science course meeting the restrictions above can be 

used by CSC majors for this requirement.</p>

	</div>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}
