{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>Undergraduate Programs</h2>
  <p>The undergraduate programs supported by the Department of Computing
    Sciences are described below. They provide a thorough foundation in
    the principles and practices of computing, paving the way for a successful
  career and/or graduate studies.</p>
  <h3>Computer Science</h3>
  <p>A Computer Science major at Villanova explores a broad spectrum of computing
    technologies and concepts. Our formal statement of the
    <a href="/academics/csMajor/programObjectives">program objectives</a>
    establishes the expectations the faculty has for its students. This program is
    accredited by the Computing Accreditation Commission (CAC) of
    <a href="http://www.abet.org/" target="_blank">ABET</a>, 111 Market Place,
    Suite 1050, Baltimore, MD 21202-4012, telephone 410-347-7700. The
    <a href="/academics/classStatus">class status</a>
    of a Compter Science major is determined by the number of credits the
  student has completed.</p>
  <dl>
    <dt><a href="/academics/csMajor/programObjectives">Program Objectives</a></dt>
    <dt><a href="/academics/csMajor">Requirements for CS majors</a></dt>
    <dt><a href="/academics/csMinor">Requirements for CS minors</a></dt>
  </dl>
  <h3>Five-year BS/MS Integrated Programs</h3>
  <p>In addition to the Bachelor of Science (BS) degree, the
    <a href="/academics/bsmsProgram">BS/MS Integrated programs</a>
    allows a Computer Science major to earn a Master of Science (MS) degree
    in either Computer Science or Software Engineering
  with only one additional year of study.</p>
  <dl>
    <dt><a href="/academics/bsmsProgram">BS/MS Integrated programs</a></dt>
  </dl>
  <h3>Fluency in Information Technology (FIT)</h3>
  <p>Any undergraduate student at the university can earn the
    <a href="/academics/FIT" target="_blank">
    Fluency in Information Technology certificate</a> by taking four designated CSC courses. The certificate attests that the student has a broad knowledge of computing and is fluent in at least one computing application area.</p>
    <dl>
      <dt><a href="/academics/FIT" target="_blank">
      Fluency in Information Technology Certificate</a></dt>
    </dl>
    <h3>Certificate in Information Systems</h3>
    <p>Any undergraduate student at the university can earn the
      <a href="http://www.villanova.edu/vpaa/parttime/programs/certificate/informationsystems.htm" target="_blank">
      Certificate in Information Systems</a> by taking six carefully selected courses.
    A certificate in Information Systems provides an educational opportunity for securing a career in today's information age and networked economy.</p>
    <dl>
      <dt><a href="http://www.villanova.edu/vpaa/parttime/programs/certificate/informationsystems.htm" target="_blank">
      Certificate in Information Systems</a></dt>
    </dl>
    <h3>Information Science</h3>
    <p>The Information Science program is not accepting new majors at the
      present time. Current Information Science majors will be fully supported
    as they complete their degree.</p>
    <dl>
      <dt><a href="/academics/isMajor">Requirements for IS majors</a></dt>
      <dt><a href="/academics/isMinor">Requirements for IS minors</a></dt>
    </dl>
    <h3>Related Programs</h3>
    <p>Computer Science majors may be interested in a concentration or minor in
      <a href="http://www.artsci.villanova.edu/cogscience/" target="_blank">Cognitive
      Science</a>. By choosing courses carefully, you can get these with little or no
    additions to your schedule.</p>
    <p>We also support programs for earning a Bachelor of Interdisciplinary Studies
      (BIS) degree with a major or minor in
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/informationsystems.htm" target="_blank">
      Information Systems</a> or a major in
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/mediatechnology.htm" target="_blank">
      Media &amp; Technology</a>. There is also a program that integrates a
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/bisms_software.htm" target="_blank">
      BIS with a MS in Software Engineering</a>.
      These programs are all geared toward adult learners seeking to complete a
    degree or degrees on a part-time basis.</p>
    <dl>
      <dt><a href="http://www.artsci.villanova.edu/cogscience/" target="_blank">Cognitive
      Science</a></dt>
      <dt><a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/informationsystems.htm" target="_blank">
      Information Systems</a></dt>
      <dt><a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/mediatechnology.htm" target="_blank">
      Media &amp; Technology</a></dt>
      <dt><a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/bisms_software.htm" target="_blank">
      BIS with a MS in Software Engineering</a></dt>
    </dl>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}