{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>Undergraduate Programs</h2>
  <p>The undergraduate programs supported by the Department of Computing
    Sciences are described below. They provide a thorough foundation in
    the principles and practices of computing, paving the way for a successful
  career and/or graduate studies.</p>
  <h3>Computer Science</h3>
  <p>
    A Computer Science major at Villanova explores a broad spectrum of computing
    technologies and concepts. Our formal statement of the
    program objectives establishes the expectations the faculty has for its students. 
    This program is accredited by the Computing Accreditation Commission (CAC) of
    <a href="http://www.abet.org/" target="_blank">ABET</a>, 111 Market Place,
    Suite 1050, Baltimore, MD 21202-4012, telephone 410-347-7700. 
  </p>

  <p><a href="/academics/csObjectives">Program Objectives</a></p>
  <p><a href="/academics/csmajor">Requirements for CS Majors Through Class of 2021</a></p>
  <p><a href="/academics/csmajor2">Requirements for CS Majors Classes of 2022+</a></p>
  <p><a href="/academics/csminor">Requirements for CS Minors</a></p>

  <h3>Five-year BS/MS Integrated Programs</h3>
  <p>
    In addition to the Bachelor of Science (BS) degree, the
    <a href="/academics/bsms">BS/MS Integrated programs</a>
    allows a Computer Science major to earn a Master of Science (MS) degree
    in either Computer Science or Software Engineering
    with only one additional year of study.
  </p>

  <h3>Fluency in Information Technology (FIT)</h3>
  <p>
    Any undergraduate student at the university can earn the <a href="/academics/FIT">Fluency in Information Technology 
    certificate</a> by taking four designated CSC courses. The certificate attests that the student 
    has a broad knowledge of computing and is fluent in at least one computing application area.
  </p>
    
  <h3>Certificate in Information Systems</h3>
    <p>Any undergraduate student at the university can earn the
      <a href="http://www1.villanova.edu/villanova/professionalstudies/certificates/infosystems.html" target="_blank">
      Certificate in Information Systems</a> by taking six carefully selected courses.
      A certificate in Information Systems provides an educational opportunity for securing a career in today's information age and networked economy.
    </p>
    
<h3>Information Science</h3>
    <p>The Information Science program is not accepting new majors at the
      present time. Current Information Science majors will be fully supported
    as they complete their degree.</p>
    <h3>Related Programs</h3>
    <p>
      Computer Science majors may be interested in a concentration or minor in
      <a href="http://www.artsci.villanova.edu/cogscience/" target="_blank">Cognitive
      Science</a>. By choosing courses carefully, you can get these with little or no
      additions to your schedule.
    </p>
    <p>
      We also support programs for earning a Bachelor of Interdisciplinary Studies
      (BIS) degree with a major or minor in
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/informationsystems.htm" target="_blank">
      Information Systems</a> or a major in
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/mediatechnology.htm" target="_blank">
      Media &amp; Technology</a>. There is also a program that integrates a
      <a href="http://www.villanova.edu/vpaa/parttime/programs/bachelorinterdisciplinary/bisms_software.htm" target="_blank">
      BIS with a MS in Software Engineering</a>.
      These programs are all geared toward adult learners seeking to complete a
    degree or degrees on a part-time basis.</p>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
