{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
    	<div id="overview">	
		<div id="facStaff">
			<h3>Faculty and Staff</h3>
<p>We know that computing is really about people. Some of the best make up
our faculty and staff.</p>

<p>The <a href="/aboutUs/faculty">full-time faculty</a>
  in our department are deeply committed to our mission of excellence in
  pedagogy and research. Their diversity and experience provide a rich environment
  for growth and learning. 
</p>        

<p>Most of our <a href="/aboutUs/adjunct">adjunct faculty</a>
  are computing professionals from the high-tech corridor surrounding Villanova.
  Their contributions in teaching, and their collaboration with our full-time
  faculty on various projects, bring additional insight from the commercial
world into our classrooms.</p>

<p>The Department of Computing Sciences is supported by an excellent
  <a href="/aboutUs/staff">adminstrative and technical support staff</a> who make the daily
activities run smoothly.</p>

<p>In addition to teaching, our faculty members are busy helping the department
and university through their work on numerous
<a href="/aboutUs/committees">committees 
</a> and serving the academic community and computing science 
disciplines.
		</div>
    </div>

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
