<!-- Faculty Page -->
{% extends "pageFrameTemplate.html" %}
{% block title %}People{% endblock %}
{% block head %} 
	{{ super() }} 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
	<div id="filters">
		<div class="filter-field">
			<div class="filter-label">Faculty Type</div>
			<select class="filter-input" id="type-filter">
				<option value="all">All</option>
				<option value="full time">Fulltime</option>
				<option value="staff">Staff</option>
			</select>
		</div>
				
		<input type="text" id="search-filter" placeholder="Search">

		<button type="button" id="filter-reset">Reset</button>
	</div>

	<div id="staff-list">
		{% for p in people %}
			<div class="staff-container">	
				<img src="/static/images/image1.jpg" class="profile_image">	
				<div class="staff-name">{{ p.name }}</div>
				<div class="staff-position">{{ p.job_title }}</div>
				<div class="staff-email">{{ p.person_type }}</div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/staff.js') }}"></script>
{% endblock %}