<!-- Faculty Page -->
{% extends "pageFrameTemplate.html" %}
{% block title %}People{% endblock %}
{% block head %} 
	{{ super() }} 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}

<h2>Full-Time Faculty</h2>

	<div id="staff-list">
		{% for p in people %}
{% if p.person_type == "Full Time" and p.status == "Active" %}
			<div class="staff-container">	
				<a href="{{ p.profile_url }}"><img src="{{ p.image_url }}" class="profile_image"></a>
				<div class="staff-name"><a href="{{ p.profile_url }}">{{ p.name }}</a></div>
				<div class="staff-position">{{ p.job_title }}</div>
				<div class="staff-email">{{ p.person_type }}</div>
			</div>
{% endif %}
		{% endfor %}
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/staff.js') }}"></script>
{% endblock %}
