{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
    	<div id="overview">	
			<h3>About Us</h3>
				<p>The Villanova Department of Computing Sciences exists to support education and research across the broad spectrum of computing. The history of our department highlights the evolution of our vision and <a href="/aboutUs/mission">mission</a>.</p>

				<p>We currently have <a href="/aboutUs/faculty">13 full time faculty members</a>, approximately <a href="/aboutUs/adjunct">20 active adjunct faculty members</a>, and <a href="/aboutUs/staff">4 full time administrative/technical assistants</a>. Our departmental student body is currently made up of approximately 140 undergraduate majors, 60 undergraduate minors, and 130 graduate students.</p>

				<p>In a typical semester, we average approximately 20 students in each of our course sections. Classes are always taught by faculty members.</p>

				<p>About 40 percent of our graduate students take classes part time while working full time at local industry. Many of the remaining graduate students are supported with assistantships.</p>

				<p>Undergraduate <a href="/support/academic-adv">academic advising</a> is accomplished by assigning a team of faculty advisors to each incoming class of students. That team continues to work with those students throughout their undergraduate years at Villanova, which allows the advisors to thoroughly understand each students situation. Graduate students are advised by the Graduate Program Director, with support from the department's graduate committee.</p>

				<p>We offer and support a variety of <a href="/academics">academic programs</a> leading to various degrees, minors, concentrations, and certificates.  Our undergraduate Computer Science program is accredited by the Computing Accreditation Commission of <a href="http://www.abet.org">ABET</a>.</p>

		</div>


		<div id="enroll-stats">
			<h3>Annual Student Enrollment & Graduation data BSCS</h3>
<table border="1">
<tr><th>School Year</th><th>Total BSCS Majors</th><th>Number Graduated</th></tr>
<tr><td>2010-11</td><td>83</td><td>22</td></tr>
<tr><td>2011-12</td><td>83</td><td>13</td></tr>
<tr><td>2012-13</td><td>83</td><td>22</td></tr>
<tr><td>2013-14</td><td>91</td><td>18</td></tr>
<tr><td>2014-15</td><td>120</td><td>28</td></tr>
<tr><td>2015-16</td><td>139</td><td>20</td></tr>
<tr><td>2016-17</td><td>172</td><td>34</td></tr>
</table>
		</div>

    	<div id="contact">	
			<h3>Contact Us</h3>
<p>There are a variety of ways to get in touch with us, and we look forward
  to hearing from you! 
<h4>Standard Post</h4>
<p>
  Department of Computing Sciences<br />
  161 Mendel Science Center<br />
  Villanova University<br />
  800 Lancaster Avenue<br />
  Villanova, PA 19085-1699
</p>

<h4>Fax Number</h4>
<p>The fax number for anyone in the department is 610-519-7889.</p>

<h4>Undergraduate Program</h4>
<p>Phone: 610-519-7307</p>
<p>Email: <a href="mailto:csdept@villanova.edu">csdept@villanova.edu</a></p>

<h4>Graduate Program</h4>
<p>Phone: 610-519-7310</p>
<p>Email: <a href="mailto:gradcomputing@villanova.edu">gradcomputing@villanova.edu</a></p>

<h4>Web Site</h4>
<p>If you have feedback about the website, please send email to
<a href="mailto:daniel.joyce@villanova.edu">daniel.joyce@villanova.edu</a>.
</div>


    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
