{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
    	<div id="overview">	
			<h3>About Us</h3>
				<p>The Villanova Department of Computing Sciences exists to support education and research across the broad spectrum of computing. The history of our department highlights the evolution of our vision and mission.</p>

				<p>We currently have 12 full time, tenured, faculty members, approximately 20 active adjunct faculty members, and 4 full time staff members. Our departmental student body is made up of approximately 200 students, split evenly between undergraduate and graduate studies.</p>

				<p>In a typical semester, we average approximately 20 students in each of our course sections. Classes are always taught by faculty members.</p>

				<p>About 30 percent of our graduate students take classes part time while working full time at local industry. Many of the remaining graduate students are supported with assistantships.</p>

				<p>Undergraduate academic advising is accomplished by assigning a team of faculty advisors to each incoming class of students. That team continues to work with those students throughout their undergraduate years at Villanova, which allows the advisors to thoroughly understand each students situation. Graduate students are advised by the Graduate Program Director, with support from the department's graduate committee.</p>

				<p>We offer and support a variety of academic programs leading to various degrees, minors, concentrations, and certificates. We use various assessment techniques to ensure a high level of quality.</p>

				<p>Our undergraduate Computer Science program is accredited by the Computing Accreditation Commission of ABET, http://www.abet.org.</p>

				<p>The department administration is supported by a variety of committees. Our faculty members also perform many other professional services at a variety of levels.</p>
		</div>


		<div id="enroll-stats">
			<h3>Annual Student Enrollment & Graduation data BSCS</h3>

			<p>Currently we have 99 undergraduate majors and 38 minors!</p>

			{% if enrollment %}
				<table id="stats">
					<tr>
						<th>Year</th>
						<th># of Students</th>
					</tr>
					{% for data in enrollment %}
						<tr>
							<td>{{data['season']}}</td>
							<td>{{data['number']}}</td>
						</tr>
					{% endfor %}
				</table>	
			{% endif %}

		</div>

    	<div id="contact">	
			<h3>Contact Us</h3>
<p>There are a variety of ways to get in touch with us, and we look forward
  to hearing from you! 
<h4>Standard Post</h4>
<p>
  Department of Computing Sciences<br />
  161 Mendel Science Center<br />
  Villanova University<br />
  800 Lancaster Avenue<br />
  Villanova, PA 19085-1699
</p>

<h4>Fax Number</h4>
<p>The fax number for anyone in the department is 610-519-7889.</p>

<h4>Undergraduate Program</h4>
<p>Phone: 610-519-7307</p>
<p>Email: <a href="mailto:csdept@villanova.edu">csdept@villanova.edu</a></p>

<h4>Graduate Program</h4>
<p>Phone: 610-519-7310</p>
<p>Email: <a href="mailto:gradcomputing@villanova.edu">gradcomputing@villanova.edu</a></p>

<h4>Web Site</h4>
<p>If you have feedback about the website, please send email to
<a href="mailto:daniel.joyce@villanova.edu">daniel.joyce@villanova.edu</a>.
</div>


    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
