{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
    	<div id="overview">	
		<div id="mission">
			<h3>CSC Mission and Goals<h3>

			<h4>Mission</h4> 
			<p>The Department of Computing Sciences at Villanova University seeks to provide outstanding education, to advance scholarship, and to engage in activities that benefit society as a whole, in accordance to the University mission. The Department aims to equip students with a solid foundation in computing theory, and to prepare them for lifelong independent learning and innovative thinking in a constantly changing discipline. Its faculty members strive to maintain professional currency, and to involve students and colleagues in their research investigations. These endeavors support the University mission to transmit, pursue, and discover knowledge in an atmosphere of collegiality in the university community. Supported by a liberal arts education, the Department seeks to develop the total person, sensitive to social and ethical concerns impacted by the computing discipline, and committed to addressing the needs of a diverse modern society.</p>

			<h4>Mission Goals</h4>
			<p>These goals serve to solidify our vision. We will</p>

			<ol id="mission-list">
				<li>Continue to offer an accredited BSCS program, which successfully prepares its graduates for careers in industry, graduate education, and life-long learning.</li>
				<li>Maintain rigor and high standards in the MS programs, seeking to meet the needs of both part-time and full-time students.</li>
				<li>Advance our current program, create new programs, and promote interactions with other departments and programs to reflect the changing nature of computing.</li>
				<li>Introduce non-major students to the fundamental ideas of computer science and its social relevance.</li>
				<li>Maintain pedagogical excellence in teaching and advising.</li>
				<li>Ensure that all faculty members remain current in our rapidly changing discipline.</li>
				<li>Pursue theoretical and applied research to enhance the knowledge of computing, and involve undergraduate and graduate students in our research effort.</li>
				<li>Support the Department, the College, the University, the profession, and the local community through leadership and participation in committees, conferences, and organizations.</li>
				<li>Pursue inter-disciplinary projects in research and teaching.</li>
				<li>Strive to expand and diversify our faculty and enrollments.</li>
			</ol>
		</div>
    </div>

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
