{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
        <div id="overview">
        	<h3>Prospective Students</h3>
<p>There are many reasons to study computing, and even more reasons to study computing at Villanova.</p>

<p>Villanova's excellent location and beautiful campus make it a wonderful place to live and learn. At Villanova you'll make friends and form professional bonds that will last the rest of your life.</p>

<p>Of course, the heart of the matter is your education, and our stellar academic reputation sets the stage for future success. Learn more about the Computer Science <a href="/academics/undergraduate">undergraduate</a> and <a href="/academics/graduate">graduate</a> academic programs. And don't leave before checking out the many unique <a href="/opportunities">opportunities</a> available to our students, and visiting our <a href="/research">research pages</a>.</p>

			<p>Do you have AP credit? Find out how your <a href="https://www1.villanova.edu/villanova/artsci/undergrad/ous/advising/firstyear1.html">Advanced Placement</a> test scores map to Villanova courses.</p>

			<p>Please feel free to contact us if you have any questions. We look forward to you joining us here at Villanova!</p>
        </div>


<!--
        <div id="why-cs">
        	<h3>Why Consider a Computer Science Major?</h3>

			<p>Which field has...</p>

			<p>...the third best-rated job in the world, and 4 of the top 10 highest paid, highest growth jobs?</p>
			<p>...3 of the top 7 jobs in highest demand?</p>
			<p>...a looming severe shortage in college graduates?</p>

			<p>Computer Science!</p>

			<p>Computer Science (CS) jobs are among the highest paid, highest satisfaction jobs of the projected highest growth jobs through 2020. With this constantly growing field, the demand for CS majors is persistently increasing; however, the supply is not meeting the demand. This severe shortage of CS graduates looms and promises excellent opportunities for savvy students.</p>

			<h4>Noteworthy Facts:</h4>
			<ul>
				<li>Software engineers rank third on Forbes' list of best jobs for 2013.</li>
				<li>Four computing jobs are in the top ten of the US News World Report's list of the 100 best jobs of 2013 based on highest salary and highest growth.</li>
				<ul>
					<li>4. Computer Systems Analyst: $78,770 (median annual salary)</li>
					<li>6. Database Administrator: $75,190</li>
					<li>7. Software Developer: $89,280</li>
					<li>9. Web Developer: $77,990</li>
				</ul>
				<li>According to US World News Report's list of jobs with the highest hiring demand, Computer Science jobs rank in 3 of the top 7 as of 2013.</li>
				<li>The Bureau of Labor Statistics projects that there will be 4.2 million jobs in computing and information technology by the year 2020 in the U.S., putting these fields among the fastest growing occupational fields.</li>
				<li>The Bureau of Labor Statistics also projects that 51,474 students are to graduate with a Computer Science degree. Simultaneously, 122,300 jobs requiring a degree in Computer Science are expected to become available. These trends are predicted to last at least until 2020.</li>
			</ul>

		<p>Visit the ACM Computing Degrees and Careers site for more information and resources about the exciting field of computing.</p>

		<p>Consider the decreasing supply and increasing demand.
		Choose Computer Science as a major.</p>
        </div>
-->

	    <div id="why-vu">
	    	<h3>Did you know that at Villanova...</h3>

			<ul id="big-list">
				<li>Recent graduates are employed at Apple Computer, Cisco Systems, First Consulting Group, GlaxoSmithKline, Facebook, Google, Honeywell, Morgan Stanley, Paine Webber, QVC, Unisys, NSA, Grumman, Netscape, Towers Perrin, Vanguard, AT&T Government Systems, and Microsoft.</li>

				<li>Computer science majors can participate in a study abroad program in Rome with an <a href="/opportunities/vatican">internship at the Vatican</a>.</li>

				<li>The opportunity to participate in the <a href="/opportunities/vics">ViCS Scholarship Program</a>. Scholarships worth up to $8,000 per year in addition to all other Villanova aid are available for majors with demonstrated financial need.</li>

				<li>Students can receive academic credit for computing internships. </li>


				<li>The computer science program is one of about 220 programs across the country that are accredited by the <a href="http://www.abet.org">Computing Accreditation Commission of ABET</a>, Inc.</li>

				<li>Student researchers work side by side with faculty members and are supported on their grants. <a href="/research/undergradresearch">Current projects</a> include robot control systems for Mindstorms robots personalization techniques for web searches digital libraries and the semantic web, and real-time network reconfiguration and repair.</li>

				<li>Excellent students may enroll in the <a href="/academics/bsms">five-year BS/MS program</a> in computer science, increasing their value in the eyes of potential employees.</li>

			</ul>
	    </div>

    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
