{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div id="content">
        <div id="overview">
        	<h3>Prospective Students</h3>

			<p>Considering joining us here at Villanova? We invite all prospective students to find out more about our department and to visit us if you get the chance.</p>

			<p>There are many reasons to study computing, and even more reasons to study computing at Villanova.</p>

			<p>Download a brochure (pdf) describing our department and academic programs. You'll also want to go to the Admissions office web site.</p>

			<p>Villanova's excellent location and beautiful campus make it a wonderful place to live and learn. At Villanova you'll make friends and form professional bonds that will last the rest of your life.</p>

			<p>Of course, the heart of the matter is your education, and our stellar academic reputation sets the stage for future success. Learn more about the Computer Science undergraduate and graduate academic programs. And don't leave before checking out the many unique opportunities available to our students, and visiting our research pages.</p>

			<p>Do you have AP credit? Find out how your Advanced Placement test scorces map to Villanova courses.</p>

			<p>Please feel free to contact us if you have any questions. We look forward to you joining us here at Villanova!</p>
        </div>


        <div id="why-cs">
        	<h3>Why Consider a Computer Science Major?</h3>

			<p>Which field has...</p>

			<p>...the third best-rated job in the world, and 4 of the top 10 highest paid, highest growth jobs?</p>
			<p>...3 of the top 7 jobs in highest demand?</p>
			<p>...a looming severe shortage in college graduates?</p>

			<p>Computer Science!</p>

			<p>Computer Science (CS) jobs are among the highest paid, highest satisfaction jobs of the projected highest growth jobs through 2020. With this constantly growing field, the demand for CS majors is persistently increasing; however, the supply is not meeting the demand. This severe shortage of CS graduates looms and promises excellent opportunities for savvy students.</p>

			<h4>Noteworthy Facts:</h4>
			<ul>
				<li>Software engineers rank third on Forbes' list of best jobs for 2013.</li>
				<li>Four computing jobs are in the top ten of the US News World Report's list of the 100 best jobs of 2013 based on highest salary and highest growth.</li>
				<ul>
					<li>4. Computer Systems Analyst: $78,770 (median annual salary)</li>
					<li>6. Database Administrator: $75,190</li>
					<li>7. Software Developer: $89,280</li>
					<li>9. Web Developer: $77,990</li>
				</ul>
				<li>According to US World News Report's list of jobs with the highest hiring demand, Computer Science jobs rank in 3 of the top 7 as of 2013.</li>
				<li>The Bureau of Labor Statistics projects that there will be 4.2 million jobs in computing and information technology by the year 2020 in the U.S., putting these fields among the fastest growing occupational fields.</li>
				<li>The Bureau of Labor Statistics also projects that 51,474 students are to graduate with a Computer Science degree. Simultaneously, 122,300 jobs requiring a degree in Computer Science are expected to become available. These trends are predicted to last at least until 2020.</li>
			</ul>

		<p>Visit the ACM Computing Degrees and Careers site for more information and resources about the exciting field of computing.</p>

		<p>Consider the decreasing supply and increasing demand.
		Choose Computer Science as a major.</p>
        </div>


	    <div id="why-vu">
	    	<h3>Did you know that at Villanova...</h3>

			<ul id="big-list">
				<li>Recent graduates are employed at Apple Computer, Cisco Systems, First Consulting Group, GlaxoSmithKline, Honeywell, Morgan Stanley, Paine Webber, QVC, Unisys, NSA, Grumman, Netscape, Towers Perrin, Vanguard, AT&T Government Systems, and Microsoft.</li>

				<li>Computer science majors can participate in a study abroad program in Rome with an internship at the Vatican Web Office.</li>

				<li>The Department's Center of Excellence in Enterprise Technology has received $4.3 million for a collaborative research project with Gestalt, LLC that will provide additional research opportunities for undergraduate and graduate students.</li>

				<li>Competitive scholarships are available for sophomores, juniors, and seniors. Those for Lockheed-Martin and Gestalt LLC also include summer internships.</li>

				<li>The opportunity to participate in the ViCS Scholarship Program. Scholarships worth up to $3125 per year in addition to all other Villanova aid are available for majors with demonstrated financial need.</li>

				<li>Students can receive academic credit for computing internships. The department web site has more information.</li>

				<li>The computer science program is one of about 220 programs across the country that are accredited by the Computing Accreditation Commission of ABET, Inc.</li>

				<li>Student researchers work side by side with faculty members and are supported on their grants. Current projects include robot control systems for Mindstorms robots personalization techniques for web searches digital libraries and the semantic web, and real-time network reconfiguration and repair.</li>

				<li>Excellent students may enroll in the five-year BS/MS program in computer science, increasing their value in the eyes of potential employees.</li>

				<li>Graduates of the computer science program include the CEOs of software development and game manufacturing companies, a technical guru for Industrial Light and Magic, a faculty member at the College of New Jersey, a partner in Accenture, a VP for IT at Fidelity Investments, and many technical staff members at Lockheed Martin, BoozAllen Hamiton, and Merrill Lynch.</li>

				<li>Many majors choose to supplement their program of study with a concentration in cognitive science or courses in bioinformatics.</li>
			</ul>
	    </div>

	    <div id="visit">
	    	<h3>Visit Us</h3>
			<p>We invite prospective students to visit Villanova and specifically the Department of Computing Sciences. If you let us know that you are coming, we'll set up meetings with approrpriate faculty members and, if you're interested, arrange for you to visit a class in session.</p>

			<p>There are group tours organized at the university level, and our department is happy to give you a more personalized tour that focuses on our computing facilities and your particular interests.</p>

			<p>These maps and directions will be helpful in planning your trip. The Villanova campus is very easy to reach by car or train.</p>

			<p>We look forward to seeing you!</p>
	    </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}