{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<h2>Alumni</h2>

<p>This page is devoted to Villanova University Computer Science and Software Engineering alumni. 
It provides a venue for alumni to share their successes and to stay connected with the department and 
fellow alumni. We look forward to hearing from you.</p>

<div id="mainColumn">
<h3>Where Are You Now</h3>
<p>If you would like to be featured in a "Where Are You Now" article (see right side of page)
please send email to
<a href="mailto:daniel.joyce@villanova.edu">daniel.joyce@villanova.edu</a>.</p>

<h3>Useful Links</h3>  
<p><a href="http://www.facebook.com/group.php?gid=53570255740">Department Alumni Facebook Group</a></p>

<p><a href="/newsletter">Department Newsletter Archive</a></p>

<p><a href="/support/employment">Employment Opportunities Page</a></p>

<p><a href="http://www1.villanova.edu/villanova/advancement/alumni.html">University Alumni Relations</a></p>

</div>

<div id="sideColumn">
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}