{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Colloquia{% endblock %}
{% block head %} 
	{{ super() }} 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Colloquia.css') }}">
{% endblock %}

{% block header %} {{ super() }} {% endblock %}

{% block content %}
	<h1 id="title"> Colloquia </h1>
	<div id="upcoming">
		<h2> Upcoming: </h2>
	</div>
	<div id="ce-list-upcoming">
		{% for col in colloquia %}
			<div id="upcoming-{{ loop.index }}" class="ce-colloquium-container" 
				data-id="{{ col.id }}"
				data-title="{{ col.title }}"
				data-speaker="{{ col.speaker }}"
				data-start="{{ col.event_date }}"
				data-location="{{ col.location }}"
				data-prelude="{{ col.prelude }}"
				data-bio="{{ col.speaker_bio }}"
				data-article="{{ col.content }}"
				data-postlude="{{ col.postlude }}"
			>
				<div class="ce-container-title"><em>{{ col.title }}</em><div id="{{ col.id }}-speaker" class="ce-info"></div></div>
				<div id="{{ col.id }}-start" class="ce-info"></div>
				<div id="{{ col.id }}-time" class="ce-info"></div>
				<div id="{{ col.id }}-location" class="ce-info"></div></br>
				<div id="{{ col.id }}-bio" class="ce-info"></div>
				<div id="{{ col.id }}-prelude" class="ce-info"></div>
				<div id="{{ col.id }}-content" class="ce-info"></div>
				<div id="{{ col.id }}-postlude" class="ce-info"></div>
			</div>
		{% endfor %}
	</div>
	<div id="recent">
		<h2> Recent: </h2>
	</div>
	<div id="ce-list-recent">
		{% for c in colloquia %}
			{% if loop.index <= 2 %}
			<div id="recent-{{ loop.index }}" class="ce-colloquium-container" 
				data-id="{{ c.id }}"
				data-title="{{ c.title }}"
				data-speaker="{{ c.speaker }}"
				data-start="{{ c.event_date }}"
				data-location="{{ c.location }}"
				data-prelude="{{ c.prelude }}"
				data-bio="{{ c.speaker_bio }}"
				data-article="{{ c.content }}"
				data-postlude="{{ c.postlude }}"
			>
				<div class="ce-container-title"><em>{{ c.title }}</em><div id="r{{ c.id }}-speaker" class="ce-info"></div></div>
				<div id="r{{ c.id }}-start" class="ce-info"></div>
				<div id="r{{ c.id }}-time" class="ce-info"></div>
				<div id="r{{ c.id }}-location" class="ce-info"></div></br>
				<div id="r{{ c.id }}-bio" class="ce-info"></div>
				<div id="r{{ c.id }}-prelude" class="ce-info"></div>
				<div id="r{{ c.id }}-content" class="ce-info"></div>
				<div id="r{{ c.id }}-postlude" class="ce-info"></div>
			</div>
			{% endif %}
		{% endfor %}
	</div>

	</br><a id="ce-link" href="colloquia">View more</a>
	<script type="text/javascript" src="{{ url_for('static', filename='js/Colloquia.js') }}"></script>
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}
