{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
  <h2>CSC Colloquia Series</h2>
  <p>The CSC department's colloquia series invites guest speakers from academia
    and industry to present their work. The general public is welcome to attend.
  Refreshments and informal discussion with the speaker follow the presentation.</p>
  <p></p><center><strong>2015 - 2016 Colloquia</strong></center><p></p>
  <table class="lesser">
    
    
    <tbody><tr>
      <td>07 Dec, 15 </td>
      <td><a href="/colloquia/view/758">MS Thesis Defenses: Masters Degree Candidates</a></td>
    </tr>
    
    <tr>
      <td>07 Dec, 15 </td>
      <td><a href="/colloquia/view/765">CSC Special Event: Hour of Code</a></td>
    </tr>
    
    <tr>
      <td>09 Nov, 15 </td>
      <td><a href="/colloquia/view/767">CSC Colloquium: Xiaolei Huang</a></td>
    </tr>
    
    <tr>
      <td>02 Nov, 15 </td>
      <td><a href="/colloquia/view/766">CSC Colloquium: Frank Lee</a></td>
    </tr>
    
    <tr>
      <td>23 Oct, 15 </td>
      <td><a href="/colloquia/view/769">CSC Special Event: UPE Induction</a></td>
    </tr>
    
    <tr>
      <td>02 Oct, 15 </td>
      <td><a href="/colloquia/view/768">VWCS Workshop: Resume Writing and Interviewing Skills</a></td>
    </tr>
    
    <tr>
      <td>28 Sep, 15 </td>
      <td><a href="/colloquia/view/764">CSC Colloquium: Computing Sciences Faculty</a></td>
    </tr>
    
  </tbody></table>
  <p> View colloquia from other years:<br><br>
    <a href="/colloquia/year/2005">2005 - 2006 Colloquia</a><br>
    <a href="/colloquia/year/2008">2008 - 2009 Colloquia</a><br>
    <a href="/colloquia/year/2009">2009 - 2010 Colloquia</a><br>
    <a href="/colloquia/year/2010">2010 - 2011 Colloquia</a><br>
    <a href="/colloquia/year/2011">2011 - 2012 Colloquia</a><br>
    <a href="/colloquia/year/2012">2012 - 2013 Colloquia</a><br>
    <a href="/colloquia/year/2013">2013 - 2014 Colloquia</a><br>
    <a href="/colloquia/year/2014">2014 - 2015 Colloquia</a><br>
  </p>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}