{% extends "pageFrameTemplate.html" %}
{% block title %}Computer Science Department{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
	
	
	<h2>Image Categories</h2>
	<table>
		<tbody><tr>
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Description</th>
			<th># Galleries</th>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/1">See More</a>
				<br>
			</td>
			
			<td>Campus Events</td>
			<td>Photos from events around Villanova or other college campuses.</td>
			<td>4</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/2">See More</a>
				<br>
			</td>
			
			<td>Conferences</td>
			<td>Photos from various computer science conferences.</td>
			<td>10</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/3">See More</a>
				<br>
			</td>
			
			<td>End of Year Awards</td>
			<td>Photos of graduating computer science students at the end of year awards.</td>
			<td>1</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/4">See More</a>
				<br>
			</td>
			
			<td>Falvey Scholars</td>
			<td>Computer science recipients of the Falvey Scholars award.</td>
			<td>1</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/5">See More</a>
				<br>
			</td>
			
			<td>Freshman Orientation</td>
			<td>Photos of computer science freshman attending orientation.</td>
			<td>4</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/6">See More</a>
				<br>
			</td>
			
			<td>Grace Hopper Conference</td>
			<td>Photos from the Grace Hopper Women in Computer Science conferences held at various locations.</td>
			<td>6</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/7">See More</a>
				<br>
			</td>
			
			<td>Graduation</td>
			<td>Photos from Computer Science Department graduation.</td>
			<td>6</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/13">See More</a>
				<br>
			</td>
			
			<td>Miscellaneous</td>
			<td>From various places</td>
			<td>28</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/8">See More</a>
				<br>
			</td>
			
			<td>Programming Competitions</td>
			<td>Photos of the Villanova Computer Science programming teams.</td>
			<td>2</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/9">See More</a>
				<br>
			</td>
			
			<td>Senior Projects</td>
			<td>Photos from poster day of seniors presenting their projects and research.</td>
			<td>5</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/10">See More</a>
				<br>
			</td>
			
			<td>UPE Induction</td>
			<td>Photos from the Villanova Upsilon Pi Epsilon honor society induction.</td>
			<td>5</td>
		</tr>
		
		
		<tr class="alternate">
			<td>
				<a href="categories/11">See More</a>
				<br>
			</td>
			
			<td>Vatican</td>
			<td>Villanova Computer Science students can participate in a study abroad program at the Vatican in Rome, Italy. Here are photos from various trips.</td>
			<td>2</td>
		</tr>
		
		
		<tr class="">
			<td>
				<a href="categories/12">See More</a>
				<br>
			</td>
			
			<td>Villanova ACM Events</td>
			<td>Photos of various events held by the Villanova chapter of the Association for Computing Machinery. </td>
			<td>2</td>
		</tr>
		
		
		
	</tbody></table>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}