{% extends "pageFrameTemplate.html" %}
{% block title %}{{ news['headline'] }}{% endblock %}
{% block head %} 
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newsArticle.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
	<div id="news-content">
		<h1 id="news-title">{{ news['headline'] }}</h1>
		<h4 id="news-date">{{ news['post_date'] }}</h4>
		<div id="news-image" style="background-image: url({{ url_for('static', filename='images/news/') }}{{ news.image['image_name'] }}.{{ news.image['image_extension'] }})"></div>
		<p id="news-article">{{ news['article'] }}</p>
	</div>
{% endblock %}