<!-- Needs to inherit pageFrameTemplate, extends base for now because the pageFrameTemplate footer looks kind of weird on the news editor -->

{% extends "formFrameTemplate.html" %}
{% block title %}News Editor{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newsEditor.css') }}">
{% endblock %}

{% block content %}
<div id="news-editor">
	<div id="ne-options">
		<input type="text" id="ne-search" placeholder="Search by Title">
		<input type="submit" value="x" id="ne-search-clear">
		<!--//TODO: Implement delete option + find icon -->
		<!--<button type="button" id="ne-delete" title="delete" disabled>x</button>-->
		<button type="button" id="ne-edit" title="edit" disabled><i class="icon ion-edit"></i></button>
		<button type="button" id="ne-add" title="add"><i class="icon ion-android-add"></i></button>
	</div>

	<div id="ne-list">
		{% for n in news %}
			<div 
				class="ne-news-container"
				data-title="{{ n.headline }}"
				data-intro="{{ n.intro }}"
				data-id="{{ n.id }}"
				data-article="{{ n.article }}"
				data-start="{{ n.start_date }}"
				data-end="{{ n.end_date }}"
				data-imgid="{{ n.image_id }}"
				data-imgurl="{{ url_for('static', filename='images/news/') }}{{ n.image['image_name'] }}.{{ n.image['image_extension'] }}"
				>
				<div class="ne-container-title">{{ n.headline }}</div>
				<div class="ne-container-intro">{{ n.intro }}</div>
				<div class="ne-container-id">{{ n.id }}</div>
				<div class="ne-container-article">{{ n.article }}</div>
				<div class="ne-container-start">{{ n.start_date }}</div>
				<div class="ne-container-end">{{ n.end_date }}</div>
				<!--//TODO: Add div for image url -->
			</div>
		{% endfor %}
	</div>

	<form id="ne-side" method="post">
		<div id="ne-side-title"></div>
		<div class="ne-side-label">Headline</div>
		<input type="text" id="ne-title-edit" name="headline">
		<div class="ne-side-label">Intro</div>
		<input type="text" id="ne-intro-edit" name="intro">
		<div id="ne-side-article"></div>
		<div class="ne-side-label">Article</div>
		<textarea rows="4" cols="50" id="ne-article-edit" name="article" form="ne-side"></textarea>

		<div class="ne-side-label">Image</div>
		<!--
		<input type='file' id="ne-img-edit" name="img" accept="image/*">
		-->
		<div id="ne-img-edit">
			<div id="ne-img-preview">
				<div id="ip-open-btn">+</div>
			</div>
			<input type="file" id="ne-img-upload" name="img" accept="image/*">
			<input type="text" id="ne-img-id" name="img-id" style="display:none;">
		</div>

		<div class="ne-side-label">Start Date</div>
		<input type="date" id="ne-sdate-edit" name="start_date">
		<div class="ne-side-label">End Date</div>
		<input type="date" id="ne-edate-edit" name="end_date">
	</form>

	<div id="ne-edit-options">
		<button type="button" id="ne-submit">Add</button>
		<button type="button" id="ne-save">Save</button>
		<input type="submit" value="Cancel" id="ne-cancel">
	</div>

</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/newsEditor.js') }}"></script>
{% endblock %}