{% extends "pageFrameTemplate.html" %}
{% block title %}{{ news['headline'] }}{% endblock %}
{% block head %} 
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newsArticle.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
	<div id="news-content">
		<h1 id="news-title">{{ news['headline'] }}</h1>
		<h4 id="news-date">{{ news['post_date'] }}</h4>
		<img id="news-image" src={{ image }}>
		<p id="news-article">{{ news['article'] }}</p>
	</div>
{% endblock %}