<!-- Needs to inherit pageFrameTemplate, extends base for now because the pageFrameTemplate footer looks kind of weird on the sidebar editor -->

{% extends "formFrameTemplate.html" %}
{% block title %}Sidebar Editor{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebarEditor.css') }}">
{% endblock %}

{% block content %}
{% include "components/imagepicker.html" %}

<div id="sidebar-editor">
	<div id="sbe-options">
		<input type="text" id="sbe-search" placeholder="Search by Title">
		<input type="submit" value="x" id="sbe-search-clear">
		<!--//TODO: Implement delete option + find icon -->
		<!--<button type="button" id="sbe-delete" title="delete" disabled>x</button>-->
		<button type="button" id="sbe-edit" title="edit" disabled><i class="icon ion-edit"></i></button>
		<button type="button" id="sbe-add" title="add"><i class="icon ion-android-add"></i></button>
	</div>

	<div id="sbe-list">
		{% for s in sideviews %}
			<div class="sbe-sidebar-container">		
				<div class="sbe-container-title">{{ s.title }}</div>
				<div class="sbe-container-id">{{ s.id }}</div>
				<div class="sbe-container-content">{{ s.content }}</div>
				<div class="sbe-container-category">{{ s.category }}</div>
				<div class="sbe-container-active">{{ s.active }}</div>
				<!--//TODO: Add div for image url -->
				{% if s.image_id %}
					<div class="sbe-container-image" style="background: url({{ url_for('static', filename='images/sidebar/') }}{{ s.image['image_name'] }}.{{ s.image['image_extension'] }})">{{ s.image_id }}</div>
				{% else %}
					<div class="sbe-container-image">-1</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<form id="sbe-side" method="post">
		<div id="sbe-side-title"></div>
		<div class="sbe-side-label">Title</div>
		<input type="text" id="sbe-title-edit" name="title">

		<div id="sbe-side-content"></div>
		<div class="sbe-side-label">Content</div>
		<textarea rows="4" cols="50" id="sbe-content-edit" name="content" form="sbe-side"></textarea>

		<div class="sbe-side-label">Category</div>
		<select id="sbe-category-edit" name="category">
			<option value="" disabled selected style='display:none;'>Select a Category	</option>
			<option value="Senior Project">Senior Project</option>
			<option value="Other">Not a Senior Project</option>
		</select>

		<div id="sbe-active"><input type="checkbox" name="active" id="sbe-active-edit" value="active">Active</div>

		<div class="sbe-side-label">Image</div>
		<div id="sbe-img-edit">
			<div id="sbe-img-preview">
				<div id="ip-open-btn">+</div>
			</div>
			<input type='file' id="sbe-img-upload" name="img" accept="image/*">
			<input type="text" id="sbe-img-id" name="img-id" style="display:none;">
		</div>
	</form>

	<div id="sbe-edit-options">
		<button type="button" id="sbe-submit">Add</button>
		<button type="button" id="sbe-save">Save</button>
		<input type="submit" value="Cancel" id="sbe-cancel">
	</div>

</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/sidebarEditor.js') }}"></script>
{% endblock %}