<div id="about-content">
		<div class="card">The Villanova Department of Computing Sciences exists to support education and research across the broad spectrum of computing. The history of our department highlights the evolution of our vision and mission.

Dr. GehlotWe currently have 12 full time, tenured, faculty members, approximately 20 active adjunct faculty members, and 4 full time staff members. Our departmental student body is made up of approximately 200 students, split evenly between undergraduate and graduate studies.

In a typical semester, we average approximately 20 students in each of our course sections. Classes are always taught by faculty members.

About 30 percent of our graduate students take classes part time while working full time at local industry. Many of the remaining graduate students are supported with assistantships.

Undergraduate academic advising is accomplished by assigning a team of faculty advisors to each incoming class of students. That team continues to work with those students throughout their undergraduate years at Villanova, which allows the advisors to thoroughly understand each students situation. Graduate students are advised by the Graduate Program Director, with support from the department's graduate committee.

We offer and support a variety of academic programs leading to various degrees, minors, concentrations, and certificates. We use various assessment techniques to ensure a high level of quality.

Our undergraduate Computer Science program is accredited by the Computing Accreditation Commission of ABET, http://www.abet.org.

The department administration is supported by a variety of committees. Our faculty members also perform many other professional services at a variety of levels.</div>
		<div class="card">Mission 
The Department of Computing Sciences at Villanova University seeks to provide outstanding education, to advance scholarship, and to engage in activities that benefit society as a whole, in accordance to the University mission. The Department aims to equip students with a solid foundation in computing theory, and to prepare them for lifelong independent learning and innovative thinking in a constantly changing discipline. Its faculty members strive to maintain professional currency, and to involve students and colleagues in their research investigations. These endeavors support the University mission to transmit, pursue, and discover knowledge in an atmosphere of collegiality in the university community. Supported by a liberal arts education, the Department seeks to develop the total person, sensitive to social and ethical concerns impacted by the computing discipline, and committed to addressing the needs of a diverse modern society.

Mission Goals 
These goals serve to solidify our vision. We will

Continue to offer an accredited BSCS program, which successfully prepares its graduates for careers in industry, graduate education, and life-long learning.
Maintain rigor and high standards in the MSCS program, seeking to meet the needs of both part-time and full-time students.
Advance our current program, create new programs, and promote interactions with other departments and programs to reflect the changing nature of computing.
Introduce non major students to the fundamental ideas of computer science and its social relevance.
Maintain pedagogical excellence in teaching and advising.
Ensure that all faculty members remain current in our rapidly changing discipline.
Pursue theoretical and applied research to enhance the knowledge of computing, and involve undergraduate and graduate students in our research effort.
Support the Department, the College, the University, the profession, and the local community through leadership and participation in committees, conferences, and organizations.
Pursue inter-disciplinary projects in research and teaching.
Strive to expand and diversify our enrollments.</div>
		<div class="card">Currently we have 99 undergraduate majors and 38 minors!

Enrollment Fall 2010 - Fall 2013
Year	# Students
Fall 2013	91
Fall 2012	83
Fall 2011	83
Fall 2010	83

Graduation BSCS
Year	# Students
May 2013	22
May 2012	13
May 2011	22
May 2010	10
</div>
		<div class="card">We know that computing is really about people. Some of the best make up our faculty and staff.

The full-time faculty in our department are deeply committed to our mission of excellence in pedagogy and research. Their diversity and experience provide a rich environment for growth and learning. The department administration provides social, leadership and vision.

Dr. Klassner and robot
Most of our adjunct faculty are computing professionals from the high-tech corridor surrounding Villanova. Their contributions in teaching, and their collaboration with our full-time faculty on various projects, bring additional insight from the commercial world into our classrooms.

The Department of Computing Sciences is supported by an excellent staff who make the daily activities run smoothly.

In addition to teaching, our faculty members are busy helping the department and university through their work on numerous committees and serving the academic community and computing science disciplines in many ways .</div>
</div>