<!-- Article Page -->
{% extends "pageFrameTemplate.html" %}
<!-- Add title -->
{% block title %}{% endblock %}
{% block head %} 
	{{ super() }} 
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
	<div class="article-template">
		{% if data %}
			<div class="article-header">{{ data['articleHeader'] }}</div>

			<div class="article-image">{{data['articleImage']}}</div>

			<div class="article-content">{{data['articleContent']}}</div>
		{% else %}
			<div class="errorMessage">Something went wrong with the reference number</div>
		{% endif %}
	</div>
{% endblock %}