<!-- Can be replaced with pageFrameTemplate 
  Keeping it temporarily because it works better with the news editor page since there is no footer
-->

<!DOCTYPE html>
<html>
  <head>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    <!--<script src="static/js/jquery-2.1.1.min.js"></script>-->
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <div id="header">
      <div id="banner">{% include "header.html" %}</div>
      <div id="nav-wrapper">{% include "navigation.html" %}</div>
    </div>

    <div id="page-content">
      <div id="content-wrapper">{% block content %}{% endblock %}</div>
    </div>

  </body>
</html>