<!DOCTYPE html>
<html>
<head>
	<title>Carousel</title>
	<script src="static/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/carousel-app/carousel.css">
</head>
<body>
	<div class="carousel-container">
		<div class="active-image">
			
		</div>

		<div class="active-text">
			
		</div>

	  <div class="itemImage">
	   <span data-picture="" data-alt="Villanova, UNICEF Partner Up for Social Projects">
	       <span data-src="/content/main/jcr:content/ban1/slider/sliderpar/image_4.size.img.xlarge.jpg" data-media="(min-width: 1200px)">
	       	<img alt="Villanova, UNICEF Partner Up for Social Projects" src="/content/main/jcr:content/ban1/slider/sliderpar/image_4.size.img.xlarge.jpg">
	       </span>
	   </span>
	  </div>
	  
	  <div class="carousel-caption">

		    <h3>  
	            <a href="http://www1.villanova.edu/villanova/media/pressreleases/2014/1210.html">Villanova, UNICEF Partner Up for Social Projects</a>
		    </h3>
	      
		  <p>
		  VU's Augustinian Catholic tradition challenges students to use knowledge, skills and compassion to better the world. Partnering with UNICEF will provide opportunities for students to participate in health and social initiatives.
		  
		      <a href="http://www1.villanova.edu/villanova/media/pressreleases/2014/1210.html">more...</a>
		  
		  </p>
	  </div>
	</div>

	<script src="static/alerts-app/alert-logic.js">></script>
</body>
</html>