<!DOCTYPE html>
<html>
<head>
	<title>Carousel</title>
	<script src="static/js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/carousel-app/carousel.css">
</head>
<body>
	<div class="carousel-container">
		<div class="active-image" style="background: url(http://www.livoniakc.com/photos/ShibaInu/b957cc9a56da0ca66c0035e22cdee829.jpg); height: 500px; width:500px">
			<div style="width: inherit; font-size: 30px; color: #fff; font-family:Helvetica">
				<p style="background-color: rgba(255, 0, 0, 0.4); position: fixed; bottom: 4em; width: inherit;" href="http://www1.villanova.edu/villanova/media/pressreleases/2014/1210.html">Villanova, UNICEF Partner Up for Doge</p>
			</div>
		</div>
	</div>

	<script src="static/alerts-app/alert-logic.js">></script>
</body>
</html>