{% block head %}
	{% if news %}
		<title>Edit News</title>
	{% else %}
		<title>Add News</title>
	{% endif %}
	<meta charset=utf-8 />
	<link rel="stylesheet" type="text/css" href="../static/css/editnews.css">
{% endblock %}

{% if news %}
<form id="edit-news-form" action="/submitNewsEdits/{{ news.id }}" method="post">
{% else %}
<form id="edit-news-form" action="/submitNews" method="post">
{% endif %}

	Headline<br>
	<input type="text" id="edit-news-headline" name="edit-news-headline" value="{% if news %}{{ news.headline }}{% endif %}">
	Intro<br>
	<input type="text" id="edit-news-intro" name="edit-news-intro" value="{% if news %}{{ news.intro }}{% endif %}">
	Article<br>
	<textarea rows="4" cols="50" id="edit-news-article" name="edit-news-article" form="edit-news-form">{% if news %}{{ news.article }}{% endif %}</textarea>
	<br>Start Date <br>
	<input type="date" id="edit-news-start" name="edit-news-start" value="{% if news %}{{ news.start_date }}{% endif %}">
	<br>End Date<br>
	<input type="date" id="edit-news-end" name="edit-news-end" value="{% if news %}{{ news.end_date }}{% endif %}"><br>
	<input type="submit" value="Submit">
</form>