{% block head %}
	<title>Edit News</title>
	<link rel="stylesheet" type="text/css" href="static/css/editnews.css">
	<script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
{% endblock %}

{% extends "base.html" %}
{% block content %}
<div id="edit-news-filters">
	<input type="text" id="news-search-filter" placeholder="Title Search">
	<button type="button" id="filter-clear">Clear</button>
	<button type="button" class="news-add-button">Add News</button>
</div>

<div id="news-list">
	{% for n in news %}
		<div class="news-container">
			<button class="news-edit-button">Edit</button>
			<div class="news-content">
				<div class="news-title">{{ n.headline }}</div>
				<div class="news-intro">{{ n.intro }}</div>
			</div>
			
			<div class="news-id">{{ n.id }}</div>
		</div>
	{% endfor %}
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click', 'button.news-edit-button', function(){
			window.location = 'http://127.0.0.1:5000/editNews/' + $(this).parent().find('div.news-id').text();
		});

		$(document).on('click', 'button.news-add-button', function(){
			window.location = 'http://127.0.0.1:5000/addNews';
		});

		$('#news-search-filter').keyup(function(){
			var search = $(this).val().toLowerCase();
			$('#news-list>div.news-container').each(function(){
				$(this).find('.news-title').text().toLowerCase().indexOf(search) >= 0 ? $(this).show() : $(this).hide();
			});
		});

		$('#filter-clear').click(function(){
			$('#news-search-filter').val('');
			$('#news-list').find('.news-container').show();
		});
	});
</script>
{% endblock %}