<!-- Form template - similar to pageFrameTemplate but leaves out the footer for style reasons -->

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
      <meta charset=utf-8 />
      <meta name="viewport" content="width=device-width" />
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div id="header">
      <div id="banner">{% include "components/header.html" %}</div>
      <div id="nav-wrapper">{% include "components/navigation.html" %}</div>
      <div id="loginbar">{% include "components/loginbar.html" %}</div>
    </div>

    <div id="page-content">
      <div id="content-wrapper">{% block content %}{% endblock %}</div>
    </div>

  </body>
</html>