<!DOCTYPE html>
<html>
<head>
 <script src="static/js/jquery-2.1.1.min.js"></script>
 <script src="static/js/slide.js"></script> 
 <!--<script src="static/js/bootstrap.min.js"></script>-->
 <link href="static/css/slide-style.css" rel="stylesheet" type="text/css" />
 <link href="static/css/navbar.blue.css" rel="stylesheet" type="text/css" />
 <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
 <meta charset=utf-8 />
 <title>Villanova Computer Science</title>
</head>
<body>
  <div id="main_wrapper" class="col">
    {% include "navigation.html" %}

    <!--wrap the page content do not style this-->
    <div id="page-content">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia, eros quis euismod facilisis, elit nisi commodo purus, ac volutpat odio mauris sed magna. Morbi aliquet vulputate enim nec suscipit. Nulla eget elementum elit. Cras dignissim, leo et viverra tempor, risus dolor ullamcorper dui, nec elementum tortor augue a erat. Morbi et libero risus. Aenean convallis leo dictum ante eleifend, sed accumsan arcu dictum. Sed ac nunc quis orci faucibus feugiat eget vitae leo. Phasellus tincidunt, nulla in mattis lacinia, metus neque scelerisque dui, eget blandit purus mi vel velit.

        Vestibulum pulvinar velit quis dui dapibus, et egestas lacus sollicitudin. Aliquam vitae rhoncus nibh. Maecenas viverra fringilla dolor, vel tincidunt dui elementum nec. Mauris eu purus lectus. Sed fermentum interdum ipsum ut imperdiet. Curabitur ac augue sit amet orci posuere scelerisque. Etiam sagittis sit amet nisl facilisis aliquam. Nulla facilisi.

        Nulla facilisi. Sed nec pretium felis, eu ornare orci. Sed egestas, justo quis ultricies ullamcorper, ligula felis aliquam leo, ac luctus eros ipsum ac dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras nec elit luctus ipsum condimentum semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sagittis commodo iaculis. In et sollicitudin nibh, at rutrum diam. Quisque porta nisi ut rhoncus convallis. Phasellus elementum viverra malesuada. Curabitur at vestibulum odio. Nam semper sodales fringilla. Nulla facilisi. Aenean mi sapien, feugiat sit amet ex egestas, viverra feugiat dolor.

        Nulla tempus dignissim diam. Cras mattis tristique viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu mauris in quam semper sodales at vitae urna. Fusce tristique elit sed tempor malesuada. Vivamus pharetra sapien diam, nec egestas velit gravida in. Maecenas eget hendrerit velit. Cras nec nunc fermentum, dapibus libero a, finibus lorem. In fringilla ex cursus urna bibendum, ut eleifend mi ornare. Mauris elit lacus, aliquam at nunc et, laoreet mattis nunc. Sed fermentum vehicula libero sit amet feugiat. Mauris cursus leo at pretium tempor.

        Quisque fringilla lacus nulla, nec fermentum diam malesuada ac. Etiam non vestibulum ante. Nunc commodo purus quam. Sed efficitur risus eleifend, dapibus sapien sit amet, scelerisque leo. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec nibh eu orci dictum viverra at vel elit. Etiam sed ornare magna. Suspendisse auctor malesuada turpis, eget interdum risus faucibus et. Cras feugiat egestas orci, vel tincidunt nulla maximus non. Aenean ultricies dictum lorem nec rhoncus. Donec varius cursus leo, at scelerisque nisi posuere gravida. In consectetur libero id nulla consectetur pulvinar. Nam sollicitudin nisi a dignissim interdum. Curabitur enim nunc, faucibus sed lacus eu, vehicula fringilla sapien. Proin sodales ac augue id posuere.</p>
      </div>
      <!-- /#page-content -->
    </div> 
  </body>
  </html>