<!DOCTYPE html>
<html>
<head>
 
 <link href="static/css/slide-style.css" rel="stylesheet" type="text/css" />
 <link href="static/css/style.css" rel="stylesheet" type="text/css"/>

 <meta charset=utf-8 />
 <title>Villanova Computer Science</title>
</head>

<body>
  <div id="main_wrapper" class="col">

    <div id="header">
      <!-- include header.html -->
      {% include "navigation.html" %}
    </div>

    <div id="page-content">
      <!-- TO DO: turn each div into a modular template -->
      <div class="news-card card">
        Template for News Content goes here
      </div>
      <div class="alert-card card">
        Template for Alerts goes here
      </div>
      <div class="aux-card card">
        TBD template
      </div>
      <div class="aux-card card">
        TBD template
      </div>
    </div> 
  </div>

  <script src="static/js/jquery-2.1.1.min.js"></script>
  <script src="static/js/slide.js"></script> 
</body>
</html>