<!-- Home Page -->
{% extends "pageFrameTemplate.html" %}
{% block title %}Villanova Computer Science{% endblock %}
{% block head %} 
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="news-card card">{% include "components/carousel.html" %}</div>
<div class="sidebar-card card">{% include "components/sidebar.html" %}</div> 
<div class="alert-card card">{% include "components/alerts.html" %}</div>
{% endblock %}