{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
{% endblock %}
<!-- Navigation Bar from: http://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/ -->
<label for="show-menu" class="show-menu">Show Menu</label>
<input type="checkbox" id="show-menu" role="button">
<ul id="menu">

  <li>
    <a href="#">About Us</a>
    <ul class="hidden">
      <li><a href="#">Prospective Students</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Academics</a>
    <ul class="hidden">
    </ul>
  </li>

  <li>
    <a href="#">Research</a>
    <ul class="hidden">
    </ul>
  </li>

  <li>
    <a href="#">Opportunities</a>
    <ul class="hidden">
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Internships</a></li>
      <li><a href="#">Scholarships</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Events</a>
    <ul class="hidden">
      <li><a href="#">Alumni</a></li>
      <li><a href="#">Student Activities</a></li>
      <li><a href="#">Images</a></li>
    </ul>
  </li>
</ul>