{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
{% endblock %}
<!-- Navigation Bar from: http://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/ -->
<label for="show-menu" class="show-menu">Show Menu</label>
<input type="checkbox" id="show-menu" role="button">
<ul id="menu">
  <li>
    <a href="#">About Us</a>
    <ul class="hidden">
      <li><a href="#">About 1</a></li>
      <li><a href="#">About 2</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Academics</a>
    <ul class="hidden">
      <li><a href="#">Academics 1</a></li>
      <li><a href="#">Academics 2</a></li>
      <li><a href="#">Academics 3</a></li>
    </ul>
  </li>
  <li><a href="#">Research</a></li>
  <li><a href="#">Opportunities</a></li>
  <li><a href="#">News/Events</a></li>
</ul>