{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navigation.css') }}">
  <script src="static/js/jquery-2.1.1.min.js"></script>
{% endblock %}

<div id="nav-switch"><i class="icon ion-navicon-round"></i></div>

<ul id="nav">

  <li class="nav-item">
    <a href="/general?content=About">About Us</a>
    <ul class="subnav">
      <li class="subnav-item"><a href="#">Prospective Students</a></li>
      <li class="subnav-item"><a href='#'>Faculty</a></li>
      <li class="subnav-item"><a href="#">Support</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/general?content=Academics">Academics</a>
    <ul class="subnav">
      <li class="subnav-item"><a href='#'>Undergrad</a></li>
      <li class="subnav-item"><a href='#'>Graduate</a></li>
      <li class="subnav-item"><a href='#'>BS/MS 5-Year</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/general?content=Research">Research</a>
    <ul class="subnav">
      <li class="subnav-item"><a href='#'>Projects</a></li>
      <li class="subnav-item"><a href='#'>Undergrad Research</a></li>
      <li class="subnav-item"><a href='#'>Graduate IS Topic Archive</a></li>
      <li class="subnav-item"><a href='#'>Technical Reports</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/general?content=Opportunities">Opportunities</a>
    <ul class="subnav">
      <li class="subnav-item"><a href="#">Jobs</a></li>
      <li class="subnav-item"><a href="#">Scholarships</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a href="/general?content=Events">Events</a>
    <ul class="subnav">
      <li calss="subnav-item"><a href='#'>News</a></li>
      <li class="subnav-item"><a href='#'>Colloquia</a></li>
      <li class="subnav-item"><a href="#">Student Activities</a></li>
      <li class="subnav-item"><a href="#">Alumni</a></li>
      <li class="subnav-item"><a href="#">Images</a></li>
    </ul>
  </li>
</ul>

<script type="text/javascript" src="static/js/navigation.js"></script>