<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
			<!--<link href="static/css/style.css" rel="stylesheet" type="text/css"/>-->
			<!-- <link href="static/profile-app/profile.css" rel="stylesheet" type="text/css"/> -->
			<!--<script src="static/js/jquery-2.1.1.min.js"></script>-->
			<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
			<meta charset=utf-8 />
		    <meta name="viewport" content="width=device-width" />
			<title>
			 	{% block title %}Computer Science Department of Villanova{% endblock %}
			</title>
		{% endblock %}
	</head>
	<body>
		<div id="header">
			{% block header %}
				<div id="banner">{% include "header.html" %}</div>
				<div id="nav-wrapper">{% include "navigation.html" %}</div>
			{% endblock %}
		</div>

		<div id="page-content">
			<div id="content-wrapper">{% block content %}{% endblock %}</div>
			<div id="footer-wrapper">{% include "footer.html" %}</div>
		</div>
	</body>
</html>