<!DOCTYPE html>
<html>
<head>
 <meta charset=utf-8 />
 <title>Villanova Computer Science</title>
</head>
<body>
   <h1>News Forms (Second form doesn't work)</h1>
   </br>
   <h2>Add News</h2>
   <form action="/addNews" method="POST">
    Headline:<br>
    <input type="text" name="headline">
    <br>
    Intro:<br>
    <input type="text" name="intro">
    <br>
    Article:<br>
    <input type="text" name="article">
    <br>
    <input type="submit" value="Submit">
    </form> 
    
    </br>

   <h2>Edit News</h2>
   <form action="/editNews" method="POST">
    ID:<br>
    <input type='number' name='id'>
    <br>
    Headline:<br>
    <input type="text" name="headline">
    <br>
    Intro:<br>
    <input type="text" name="intro">
    <br>
    Article:<br>
    <input type="text" name="article">
    <br>
    <input type="submit" value="Submit">
    </form> 
</body>
</html>